archive/n8n/workflows/v3/lib_build_sz.json
{
  "name": "LIB: генерация служебной записки",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "sticky-sz",
      "name": "📌 Что делает этот sub-workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -180],
      "parameters": {
        "content": "## LIB: генерация служебной записки\n\n**Вход:** `{ context, violations, act_text }`\n\n**Логика:**\n1. Читает шаблон из templates/sz_progul.md\n2. LLM заполняет placeholders реальными данными\n\n**Выход:** `{ sz_text }` — готовый текст служебной записки\n\n⚠️ Переиспользуется в sc_ndo, sc_opyanenie и других сценариях.\nДля другого сценария — передать другой scenario_key, шаблон будет другим.",
        "height": 260,
        "width": 460,
        "color": 5
      }
    },
    {
      "id": "sz-trigger",
      "name": "Вызов из другого workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "sz-normalize",
      "name": "Нормализовать входные данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet data = raw;\nif (raw.query && typeof raw.query === 'object' && !Array.isArray(raw.query)) {\n  data = raw.query;\n} else if (typeof raw.input === 'string') {\n  try { data = JSON.parse(raw.input); } catch(e) {}\n} else if (typeof raw.query === 'string') {\n  try { data = JSON.parse(raw.query); } catch(e) {}\n}\nif (!data.context) throw new Error('lib_build_sz: не передан context.');\nif (!data.violations) throw new Error('lib_build_sz: не передан violations.');\nreturn [{ json: data }];"
      }
    },
    {
      "id": "sz-read-template",
      "name": "Прочитать шаблон СЗ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst base = process.env.HR_TEMPLATES_DIR\n  || '/Users/olegkluev/Documents/Projects/hr-consultant/templates';\nconst scenario = $input.first().json.context?.scenario || 'progul';\n// Если есть sz_{scenario}.md — берём его, иначе fallback на sz_progul.md\nlet templatePath = `${base}/sz_${scenario}.md`;\nif (!fs.existsSync(templatePath)) {\n  templatePath = `${base}/sz_progul.md`;\n}\nconst template = fs.readFileSync(templatePath, 'utf8');\nconst d = $input.first().json;\nreturn [{ json: { ...d, template_content: template } }];"
      }
    },
    {
      "id": "sz-llm-prompt",
      "name": "Подготовить промпт для LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst ctx = d.context;\nconst today = new Date().toLocaleDateString('ru-RU', { day: 'numeric', month: 'long', year: 'numeric' });\n\nconst prompt = `Ты — помощник HR-специалиста. Заполни шаблон служебной записки реальными данными.\n\n## Шаблон\n${d.template_content}\n\n## Данные для заполнения\nСотрудник (ФИО): ${ctx.employee?.name || '[УТОЧНИТЬ]'}\nДолжность: ${ctx.employee?.position || '[УТОЧНИТЬ]'}\nПодразделение: ${ctx.employee?.department || '[УТОЧНИТЬ]'}\nДата нарушения: ${ctx.violation?.date || '[УТОЧНИТЬ]'}\nВремя отсутствия: с ${ctx.violation?.absenceStart || '09:00'} по ${ctx.violation?.absenceEnd || '18:00'}\nРуководитель (ФИО): ${ctx.manager?.name || '[УТОЧНИТЬ]'}\nДолжность руководителя: ${ctx.manager?.position || '[УТОЧНИТЬ]'}\nПодразделение руководителя: ${ctx.manager?.department || ctx.employee?.department || '[УТОЧНИТЬ]'}\nУважительная причина: ${ctx.respectableReason ? ctx.respectableReasonComment : 'не установлена'}\nПредпринятые меры: ${ctx.contactAttempts || 'Предприняты попытки связаться по телефону и электронной почте'}\nДоказательства: ${d.vision_analysis?.analysis || 'не предоставлены'}\nФормулировка нарушения: ${d.violations}\nАкт об отсутствии: ${d.act_text ? 'составлен' : 'не составлен'}\nСегодняшняя дата: ${today}\n\n## Инструкция\nЗаполни ВСЕ {{placeholders}} из шаблона реальными данными. Там где данных нет — поставь [УТОЧНИТЬ].\nВерни ТОЛЬКО готовый текст служебной записки, без пояснений и markdown-обёрток.`;\n\nreturn [{ json: { prompt, context: ctx } }];"
      }
    },
    {
      "id": "sz-ollama",
      "name": "Ollama: сгенерировать СЗ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "qwen2.5:7b" },
            { "name": "prompt", "value": "={{ $json.prompt }}" },
            { "name": "stream", "value": false }
          ]
        },
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "sz-format",
      "name": "Привести к единому формату",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst sz_text = r.response?.trim() || '[Не удалось сгенерировать служебную записку]';\nreturn [{ json: { sz_text } }];"
      }
    }
  ],
  "connections": {
    "Вызов из другого workflow": {
      "main": [[{ "node": "Нормализовать входные данные", "type": "main", "index": 0 }]]
    },
    "Нормализовать входные данные": {
      "main": [[{ "node": "Прочитать шаблон СЗ", "type": "main", "index": 0 }]]
    },
    "Прочитать шаблон СЗ": {
      "main": [[{ "node": "Подготовить промпт для LLM", "type": "main", "index": 0 }]]
    },
    "Подготовить промпт для LLM": {
      "main": [[{ "node": "Ollama: сгенерировать СЗ", "type": "main", "index": 0 }]]
    },
    "Ollama: сгенерировать СЗ": {
      "main": [[{ "node": "Привести к единому формату", "type": "main", "index": 0 }]]
    }
  },
  "id": "HR-LIB-BUILD-SZ-01"
}
