n8n/workflows/lib/lib_rag_context.json
{
  "name": "LIB: RAG — контекст НПА (заглушка)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "sticky-rag",
      "name": "📌 RAG-заглушка: что это и как заменить",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -200
      ],
      "parameters": {
        "content": "## LIB: RAG — контекст НПА\n\nПринимает `topic` (строка) и возвращает `context` — текст релевантных выдержек из НПА.\n\n**Сейчас:** статичные тексты статей ТК РФ (Switch по topic).\n\n**Как заменить на реальный RAG:**\n1. Удали Switch и Code-ноды с текстами\n2. Добавь Qdrant Vector Store нод (есть в n8n-nodes-langchain)\n3. Или добавь HTTP Request к Контур.Норматив API\n4. Возвращаемый `context` — строка с выдержками\n\n**Topics:** check_dates | progul | ndo | opyanenie | ispytanie | ib_kt | etika | sz_structure | (пустой → пустой context)",
        "height": 360,
        "width": 580,
        "color": 2
      }
    },
    {
      "id": "rag-trigger",
      "name": "Вызов из другого workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "rag-switch",
      "name": "Выбрать тему НПА",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.rag_topic || $json.topic }}",
                    "rightValue": "check_dates",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "check_dates"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.rag_topic || $json.topic }}",
                    "rightValue": "progul",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "progul"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.rag_topic || $json.topic }}",
                    "rightValue": "ndo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ndo"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.rag_topic || $json.topic }}",
                    "rightValue": "opyanenie",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opyanenie"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.rag_topic || $json.topic }}",
                    "rightValue": "ispytanie",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ispytanie"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.rag_topic || $json.topic }}",
                    "rightValue": "ib_kt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ib_kt"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.rag_topic || $json.topic }}",
                    "rightValue": "sz_structure",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sz_structure"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "rag-check-dates",
      "name": "НПА: сроки взысканий (ст.193 ТК РФ)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -200
      ],
      "parameters": {
        "jsCode": "return [{ json: { context: `ВЫДЕРЖКИ ИЗ НПА (источник: ТК РФ — ЗАГЛУШКА, заменить на реальный RAG)\n\nТрудовой кодекс РФ, статья 193. Порядок применения дисциплинарных взысканий:\n\n«Дисциплинарное взыскание применяется не позднее одного месяца со дня обнаружения проступка, не считая времени болезни работника, пребывания его в отпуске, а также времени, необходимого на учёт мнения представительного органа работников.\n\nДисциплинарное взыскание не может быть применено позднее шести месяцев со дня совершения проступка, а по результатам ревизии, проверки финансово-хозяйственной деятельности или аудиторской проверки — позднее двух лет со дня его совершения. В указанные сроки не включается время производства по уголовному делу.»\n\nПрактические ограничения (с учётом времени на процедуру):\n- 5 месяцев 15 дней с даты совершения проступка\n- 20 календарных дней с даты обнаружения руководителем` } }];"
      }
    },
    {
      "id": "rag-progul",
      "name": "НПА: прогул (ст.81 п.6а ТК РФ)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -60
      ],
      "parameters": {
        "jsCode": "return [{ json: { context: `ВЫДЕРЖКИ ИЗ НПА (источник: ТК РФ — ЗАГЛУШКА, заменить на реальный RAG)\n\nТрудовой кодекс РФ, статья 81, пункт 6, подпункт «а»:\n\n«Трудовой договор может быть расторгнут работодателем в случаях:\n...однократного грубого нарушения работником трудовых обязанностей:\nа) прогула, то есть отсутствия на рабочем месте без уважительных причин в течение всего рабочего дня (смены), независимо от его (её) продолжительности, а также в случае отсутствия на рабочем месте без уважительных причин более четырёх часов подряд в течение рабочего дня (смены).»\n\nКлючевые признаки прогула:\n1. Отсутствие на рабочем месте без уважительных причин\n2. Длительность: весь рабочий день ИЛИ более 4 часов подряд\n3. НЕ считается прогулом: больничный, отпуск (в т.ч. административный), командировка, выходные, праздники` } }];"
      }
    },
    {
      "id": "rag-ndo",
      "name": "НПА: неисполнение ДО (ст.81 п.5 ТК РФ)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        80
      ],
      "parameters": {
        "jsCode": "return [{ json: { context: `ВЫДЕРЖКИ ИЗ НПА (источник: ТК РФ — ЗАГЛУШКА, заменить на реальный RAG)\n\nТрудовой кодекс РФ, статья 81, пункт 5:\n\n«Трудовой договор может быть расторгнут работодателем в случаях:\n...неоднократного неисполнения работником без уважительных причин трудовых обязанностей, если он имеет дисциплинарное взыскание.»\n\nВажно:\n- Для увольнения по п.5 требуется НЕОДНОКРАТНОСТЬ: у работника уже должно быть действующее дисциплинарное взыскание\n- При первом нарушении — только выговор или замечание, не увольнение\n- Обязанности должны быть зафиксированы: трудовой договор, должностная инструкция, ПВТР\n- Нарушение должно быть без уважительных причин` } }];"
      }
    },
    {
      "id": "rag-opyanenie",
      "name": "НПА: опьянение (ст.81 п.6б ТК РФ)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        220
      ],
      "parameters": {
        "jsCode": "return [{ json: { context: `ВЫДЕРЖКИ ИЗ НПА (источник: ТК РФ — ЗАГЛУШКА, заменить на реальный RAG)\n\nТрудовой кодекс РФ, статья 81, пункт 6, подпункт «б»:\n\n«...появления работника на работе (на своём рабочем месте либо на территории организации-работодателя или объекта, где по поручению работодателя работник должен выполнять трудовую функцию) в состоянии алкогольного, наркотического или иного токсического опьянения.»\n\nКлючевые требования к фиксации:\n- Акт о появлении в состоянии опьянения (минимум 3 свидетеля)\n- Медицинское освидетельствование (направить через работодателя — желательно, но не обязательно)\n- Отстранение от работы в день нарушения обязательно (ст.76 ТК РФ)\n- Важно: опьянение должно быть зафиксировано именно в рабочее время и на рабочем месте` } }];"
      }
    },
    {
      "id": "rag-ispytanie",
      "name": "НПА: испытательный срок (ст.71 ТК РФ)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        360
      ],
      "parameters": {
        "jsCode": "return [{ json: { context: `ВЫДЕРЖКИ ИЗ НПА (источник: ТК РФ — ЗАГЛУШКА, заменить на реальный RAG)\n\nТрудовой кодекс РФ, статья 71. Результат испытания при приёме на работу:\n\n«При неудовлетворительном результате испытания работодатель имеет право до истечения срока испытания расторгнуть трудовой договор с работником, предупредив его об этом в письменной форме не позднее чем за три дня с указанием причин, послуживших основанием для признания этого работника не выдержавшим испытание.»\n\nКлючевые условия:\n- Предупреждение в ПИСЬМЕННОЙ форме за 3 дня\n- Указать КОНКРЕТНЫЕ причины (факты невыполнения задач, нарушений)\n- Расторжение только ДО окончания испытательного срока\n- Без выходного пособия\n- Работник вправе обжаловать в суде` } }];"
      }
    },
    {
      "id": "rag-ib-kt",
      "name": "НПА: ИБ и КТ — направить в юр.службу",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        500
      ],
      "parameters": {
        "jsCode": "return [{ json: { context: `ВАЖНО: нарушения в сфере информационной безопасности и коммерческой тайны выходят за рамки компетенции этого ассистента.\n\nОбязательно привлечь:\n- Юридическую службу компании\n- Отдел информационной безопасности (ОИБО)\n- При необходимости — службу безопасности\n\nАссистент может помочь только с общей частью (факт нарушения, сроки ТК РФ). Специфику КТ/ИБ — только с юристом.` } }];"
      }
    },
    {
      "id": "rag-sz-structure",
      "name": "НПА: структура служебной записки (ЛНА)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        640
      ],
      "parameters": {
        "jsCode": "return [{ json: { context: `СТРУКТУРА СЛУЖЕБНОЙ ЗАПИСКИ (внутренний стандарт — ЗАГЛУШКА, заменить на ЛНА из RAG-AAS ЦИИ)\n\nОбязательные разделы служебной записки о дисциплинарном нарушении:\n1. Шапка: кому (должность, ФИО), от кого (должность, ФИО), организация, дата\n2. Факт нарушения: что / когда точно (дата и время) / где / кто (полное ФИО + должность)\n3. Обстоятельства нарушения\n4. Предшествующее поведение сотрудника (только факты)\n5. Каналы связи для выяснения причин (что пробовал, когда, результат)\n6. Нарушенные НПА: законодательство + ЛНА + пункты трудового договора\n7. Негативные последствия для подразделения/компании\n8. Просьба провести проверку и рассмотреть вопрос о взыскании\n9. Приложения: акты, скриншоты, цитаты НПА\n\nАвтор: непосредственный руководитель из того же ЮЛ (редко — вышестоящий или функциональный)` } }];"
      }
    },
    {
      "id": "rag-empty",
      "name": "НПА: тема не найдена — вернуть пустой контекст",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        780
      ],
      "parameters": {
        "jsCode": "return [{ json: { context: '' } }];"
      }
    }
  ],
  "connections": {
    "Вызов из другого workflow": {
      "main": [
        [
          {
            "node": "Выбрать тему НПА",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выбрать тему НПА": {
      "main": [
        [
          {
            "node": "НПА: сроки взысканий (ст.193 ТК РФ)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "НПА: прогул (ст.81 п.6а ТК РФ)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "НПА: неисполнение ДО (ст.81 п.5 ТК РФ)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "НПА: опьянение (ст.81 п.6б ТК РФ)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "НПА: испытательный срок (ст.71 ТК РФ)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "НПА: ИБ и КТ — направить в юр.службу",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "НПА: структура служебной записки (ЛНА)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "НПА: тема не найдена — вернуть пустой контекст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "HR-LIB-RAG-01"
}