n8n/workflows/lib/lib_build_act.json
{
  "name": "LIB: генерация акта об отсутствии",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "sticky-act",
      "name": "📌 Что делает этот sub-workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -180],
      "parameters": {
        "content": "## LIB: генерация акта об отсутствии\n\n**Вход:** `{ context, violations, vision_analysis }`\n\n**Логика:**\n1. Читает шаблон из templates/act_progul.md\n2. LLM заполняет placeholders реальными данными\n\n**Выход:** `{ act_text }` — готовый текст акта\n\n⚠️ Шаблон загружается из файла, не захардкожен.",
        "height": 240,
        "width": 440,
        "color": 5
      }
    },
    {
      "id": "act-trigger",
      "name": "Вызов из другого workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "act-normalize",
      "name": "Нормализовать входные данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet data = raw;\nif (raw.query && typeof raw.query === 'object' && !Array.isArray(raw.query)) {\n  data = raw.query;\n} else if (typeof raw.input === 'string') {\n  try { data = JSON.parse(raw.input); } catch(e) {}\n} else if (typeof raw.query === 'string') {\n  try { data = JSON.parse(raw.query); } catch(e) {}\n}\nif (!data.context) throw new Error('lib_build_act: не передан context.');\nif (!data.violations) throw new Error('lib_build_act: не передан violations.');\nreturn [{ json: data }];"
      }
    },
    {
      "id": "act-read-template",
      "name": "Прочитать шаблон акта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst base = process.env.HR_TEMPLATES_DIR\n  || '/Users/olegkluev/Documents/Projects/hr-consultant/templates';\nconst template = fs.readFileSync(`${base}/act_progul.md`, 'utf8');\nconst d = $input.first().json;\nreturn [{ json: { ...d, template_content: template } }];"
      }
    },
    {
      "id": "act-llm-prompt",
      "name": "Подготовить промпт для LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst ctx = d.context;\nconst today = new Date().toLocaleDateString('ru-RU', { day: 'numeric', month: 'long', year: 'numeric' });\n\nconst prompt = `Ты — помощник HR-специалиста. Заполни шаблон акта об отсутствии на рабочем месте реальными данными.\n\n## Шаблон\n${d.template_content}\n\n## Данные для заполнения\nСотрудник (ФИО): ${ctx.employee?.name || '[УТОЧНИТЬ]'}\nДолжность: ${ctx.employee?.position || '[УТОЧНИТЬ]'}\nПодразделение: ${ctx.employee?.department || '[УТОЧНИТЬ]'}\nДата отсутствия: ${ctx.violation?.date || '[УТОЧНИТЬ]'}\nВремя отсутствия: с ${ctx.violation?.absenceStart || '09:00'} по ${ctx.violation?.absenceEnd || '18:00'}\nПопытки связи: ${ctx.contactAttempts || 'Предприняты попытки связаться по телефону и электронной почте'}\nУважительная причина: ${ctx.respectableReason ? ctx.respectableReasonComment : 'не установлена'}\nДоказательства: ${d.vision_analysis?.analysis || 'не предоставлены'}\nРуководитель (ФИО): ${ctx.manager?.name || '[УТОЧНИТЬ]'}\nДолжность руководителя: ${ctx.manager?.position || '[УТОЧНИТЬ]'}\nФормулировка нарушения: ${d.violations}\nСегодняшняя дата: ${today}\n\n## Инструкция\nЗаполни ВСЕ {{placeholders}} из шаблона реальными данными. Там где данных нет — поставь [УТОЧНИТЬ].\nВерни ТОЛЬКО готовый текст акта, без пояснений и markdown-обёрток.`;\n\nreturn [{ json: { prompt, context: ctx, violations: d.violations } }];"
      }
    },
    {
      "id": "act-ollama",
      "name": "Ollama: сгенерировать акт",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "qwen2.5:7b" },
            { "name": "prompt", "value": "={{ $json.prompt }}" },
            { "name": "stream", "value": false }
          ]
        },
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "act-format",
      "name": "Привести к единому формату",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst act_text = r.response?.trim() || '[Не удалось сгенерировать акт]';\nreturn [{ json: { act_text } }];"
      }
    }
  ],
  "connections": {
    "Вызов из другого workflow": {
      "main": [[{ "node": "Нормализовать входные данные", "type": "main", "index": 0 }]]
    },
    "Нормализовать входные данные": {
      "main": [[{ "node": "Прочитать шаблон акта", "type": "main", "index": 0 }]]
    },
    "Прочитать шаблон акта": {
      "main": [[{ "node": "Подготовить промпт для LLM", "type": "main", "index": 0 }]]
    },
    "Подготовить промпт для LLM": {
      "main": [[{ "node": "Ollama: сгенерировать акт", "type": "main", "index": 0 }]]
    },
    "Ollama: сгенерировать акт": {
      "main": [[{ "node": "Привести к единому формату", "type": "main", "index": 0 }]]
    }
  },
  "id": "HR-LIB-BUILD-ACT-01"
}
