n8n/workflows/HR-агент.json
{
  "name": "HR-агент",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Нормализация входа из Mattermost (коннектор/бот → webhook).\n// Тело вебхука: { channel_id, user_id, sender_name, message, file_ids }\nconst root = $input.first().json;\nconst b = root.body || root;\nconst channelId = b.channel_id || '';\nconst userId = b.user_id || '';\nconst senderName = b.sender_name || '';\nconst text = (b.message == null ? '' : String(b.message));\nconst fileIds = Array.isArray(b.file_ids) ? b.file_ids : [];\n\n// Фото пока НЕ обрабатываем (отложено). Фиксируем факт вложения текстовым маркером.\nlet normalized_text = text;\nif (!text && fileIds.length) {\n  normalized_text = '[Пользователь прислал вложение без текста — разбор фото пока не поддержан, попроси описать доказательство текстом]';\n} else if (!text) {\n  normalized_text = '[Получено пустое сообщение — попроси повторить текстом]';\n}\n\nreturn [{ json: {\n  chat_id: channelId,        // = channel_id (downstream ждёт chat_id)\n  channel_id: channelId,\n  user_id: userId,\n  sender_name: senderName,\n  normalized_text,\n  file_ids: fileIds\n} }];\n"
      },
      "id": "a3b774f5-36ba-4a4a-a5d6-b0425325027c",
      "name": "Нормализация входа TG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        544
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Нормализация входа TG').first().json.chat_id }}",
        "contextWindowLength": 30
      },
      "id": "bfabe7b4-ede6-4680-a222-f6320c4764da",
      "name": "Postgres память",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1888,
        880
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "content": "## HR-агент v7 (Mattermost + Postgres)\n\n**Точка входа — Mattermost** (коннектор/бот → Webhook `/mattermost-in`).\n\n**Вход:** Webhook → Нормализация (MM: channel_id/message) → агент.\n**Выход:** агент → Формат ответа → Отправить сообщение (POST /api/v4/posts).\n**Память:** Postgres Chat Memory (sessionKey = channel_id).\n\n**Инструменты:**\n- calc_deadlines — относительные даты + проверка сроков ст.193\n- Идентификация пользователя — данные из Staff по email/логину\n- generate_documents → Генерация документов: акт + служебная записка",
        "height": 520,
        "width": 900,
        "color": 4
      },
      "id": "b5d31e6e-aa1d-4228-8ba2-2ce9118139ee",
      "name": "📌 HR-агент — точка входа1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        352
      ]
    },
    {
      "parameters": {
        "name": "calc_deadlines",
        "description": "Единый инструмент дат: (1) превращает относительные даты «сегодня/вчера/позавчера/завтра/послезавтра/N дней назад», дни недели («в среду», «в прошлый/позапрошлый вторник», «на этой/прошлой/позапрошлой неделе в пятницу») и недели («неделю назад», «N недель назад», «через неделю/N недель») в конкретную дату от серверного «сегодня», (2) рассчитывает крайние сроки привлечения по ст.193 и определяет, истёк ли срок. Вход — строка с датой нарушения и датой обнаружения (можно словами или ГГГГ-ММ-ДД/ДД.ММ.ГГГГ), напр.: \"violationDate=в прошлый вторник; discoveryDate=сегодня\". Возвращает JSON: violationDate, discoveryDate, isExpired, expiredReason, violationDeadline, discoveryDeadline, today. НИКОГДА не считай даты сам.",
        "jsCode": "// Единый инструмент дат: резолвит относительные даты И считает сроки ст.193.\n// Вход query: даты в ГГГГ-ММ-ДД или ДД.ММ.ГГГГ, либо слова\n// \"сегодня/вчера/позавчера/завтра/послезавтра/N дней назад/через N дней\",\n// дни недели (\"в среду\", \"в прошлый/позапрошлый вторник\", \"на этой/прошлой/позапрошлой неделе в пятницу\")\n// и недели как длительность (\"неделю назад\", \"N недель назад\", \"через неделю/N недель\").\n// Ярлыки (необязательны): \"violationDate=...; discoveryDate=...\" (сначала нарушение).\n// Сроки — буфер Контура (НЕ дословно ТК): нарушение +5 мес 15 дн; обнаружение +20 дн.\nconst text = String(query || '').toLowerCase();\nconst now = new Date();\nconst server = new Date(now.getFullYear(), now.getMonth(), now.getDate()); // локальная полночь\nconst pad = n => String(n).padStart(2,'0');\nconst fmt = d => `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`;\nconst addDays = (d,n) => { const x=new Date(d); x.setDate(x.getDate()+n); return x; };\n\nfunction resolveOne(s){\n  if(!s) return null;\n  s = String(s).trim().toLowerCase();\n  if(!s) return null;\n  let m = s.match(/(\\d{4})-(\\d{2})-(\\d{2})/);      if(m) return new Date(+m[1], +m[2]-1, +m[3]);\n  m = s.match(/(\\d{1,2})\\.(\\d{1,2})\\.(\\d{4})/);     if(m) return new Date(+m[3], +m[2]-1, +m[1]);\n  if(/позавчера/.test(s)) return addDays(server,-2);\n  if(/послезавтра/.test(s)) return addDays(server,2);\n  if(/вчера/.test(s)) return addDays(server,-1);\n  if(/(сегодня|сейчас|нынче|today)/.test(s)) return new Date(server);\n  if(/завтра/.test(s)) return addDays(server,1);\n\n  // недели как длительность: \"N недель назад\" / \"через N недель\" / \"неделю назад\" / \"через неделю\"\n  m = s.match(/(\\d+)\\s*недел[а-яё]*\\s*назад/);         if(m) return addDays(server,-7*(+m[1]));\n  if(/недел[а-яё]*\\s*назад/.test(s))                    return addDays(server,-7);\n  m = s.match(/через\\s*(\\d+)\\s*недел/);                if(m) return addDays(server,7*(+m[1]));\n  if(/через\\s*недел/.test(s))                           return addDays(server,7);\n\n  // дни недели: голый день или \"прошлый X\" — ближайшее прошлое вхождение;\n  // \"позапрошлый X\" — ещё на неделю раньше; \"на этой/прошлой/позапрошлой неделе X\" — конкретная календарная неделя.\n  const WEEKDAYS = [\n    { iso: 1, re: /понедельник/ },\n    { iso: 2, re: /вторник/ },\n    { iso: 3, re: /(среда|среду|среды|среде)/ },\n    { iso: 4, re: /четверг/ },\n    { iso: 5, re: /(пятница|пятницу|пятницы|пятнице)/ },\n    { iso: 6, re: /(суббота|субботу|субботы|субботе)/ },\n    { iso: 7, re: /воскресень/ },\n  ];\n  const wd = WEEKDAYS.find(w => w.re.test(s));\n  if(wd){\n    const todayIso = server.getDay() === 0 ? 7 : server.getDay();\n    const daysAgo = ((todayIso - wd.iso + 7) % 7) || 7;\n    const nearestPast = addDays(server, -daysAgo);\n    const weekMode = /недел/.test(s);\n    if(weekMode){\n      const mondayOfThisWeek = addDays(server, -(todayIso - 1));\n      let weeksBack = 0;\n      if(/позапрошл/.test(s)) weeksBack = 2;\n      else if(/прошл/.test(s)) weeksBack = 1;\n      return addDays(mondayOfThisWeek, -7*weeksBack + (wd.iso - 1));\n    }\n    if(/позапрошл/.test(s)) return addDays(nearestPast, -7);\n    return nearestPast;\n  }\n\n  m = s.match(/(\\d+)\\s*дн[а-яё]*\\s*назад/);            if(m) return addDays(server,-(+m[1]));\n  m = s.match(/через\\s*(\\d+)\\s*дн/);               if(m) return addDays(server,+(+m[1]));\n  return null;\n}\nfunction pick(label){\n  const m = text.match(new RegExp(label+'\\\\s*=\\\\s*([^;]+)','i'));\n  return m ? resolveOne(m[1]) : null;\n}\n\nlet violationDate = pick('violationdate');\nlet discoveryDate = pick('discoverydate');\nif(!violationDate || !discoveryDate){\n  const toks = text.split(/[;,]/).map(resolveOne).filter(Boolean);\n  if(!violationDate) violationDate = toks[0] || null;\n  if(!discoveryDate) discoveryDate = toks[1] || toks[0] || null;\n}\nif(!violationDate){\n  return JSON.stringify({ error: 'Не смог распознать дату нарушения. Передай дату нарушения (ГГГГ-ММ-ДД, «вчера/сегодня» или день недели, напр. «в прошлый вторник»).', received: String(query||'') });\n}\nif(!discoveryDate) discoveryDate = new Date(violationDate);\n\nconst vDeadline = new Date(violationDate); vDeadline.setMonth(vDeadline.getMonth()+5); vDeadline.setDate(vDeadline.getDate()+15);\nconst dDeadline = addDays(discoveryDate,20);\nconst expiredByViolation = server >= vDeadline;\nconst expiredByDiscovery = server >= dDeadline;\nreturn JSON.stringify({\n  violationDate: fmt(violationDate),\n  discoveryDate: fmt(discoveryDate),\n  isExpired: expiredByViolation || expiredByDiscovery,\n  expiredReason: expiredByViolation ? 'violation_date' : (expiredByDiscovery ? 'discovery_date' : null),\n  violationDeadline: fmt(vDeadline),\n  discoveryDeadline: fmt(dDeadline),\n  today: fmt(server)\n});"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        2160,
        928
      ],
      "id": "f9bfce97-10d6-4ff8-ab0f-d03798178cc0",
      "name": "Рассчитать сроки ст.1"
    },
    {
      "parameters": {
        "jsCode": "// Формат ответа для Mattermost (markdown нативный) + разбивка на части.\nconst chatId = $('Нормализация входа TG').first().json.chat_id;\nlet t = String($json.output ?? '');\nconst LIMIT = 15000; // лимит поста MM ~16383, берём с запасом\nconst parts = [];\nlet buf = '';\nfor (const line of t.split('\\n')) {\n  if (buf.length + line.length + 1 > LIMIT) {\n    if (buf) parts.push(buf);\n    buf = line;\n    while (buf.length > LIMIT) { parts.push(buf.slice(0, LIMIT)); buf = buf.slice(LIMIT); }\n  } else {\n    buf = buf ? buf + '\\n' + line : line;\n  }\n}\nif (buf) parts.push(buf);\nif (!parts.length) parts.push('');\nreturn parts.map(p => ({ json: { chat_id: chatId, text: p } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        544
      ],
      "id": "45fef4f2-e8d2-451c-a809-72d5c6a5fca9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "name": "generate_documents",
        "description": "Генерирует пакет документов (акт об отсутствии + служебную записку). Сроки ст.193 проверяет инструмент calc_deadlines — вызывай generate_documents ТОЛЬКО после проверки сроков (isExpired=false) и подтверждения руководителем корректности всех данных.",
        "workflowId": {
          "__rl": true,
          "value": "DoLH2C1TxrIalbUS",
          "mode": "list",
          "cachedResultUrl": "/workflow/DoLH2C1TxrIalbUS",
          "cachedResultName": "Генерация документов"
        },
        "fields": {
          "values": [
            {
              "name": "scenario"
            },
            {
              "name": "employee"
            },
            {
              "name": "manager"
            },
            {
              "name": "workplace"
            },
            {
              "name": "witnesses"
            },
            {
              "name": "violation"
            },
            {
              "name": "respectableReason"
            },
            {
              "name": "respectableReasonComment"
            },
            {
              "name": "evidenceDescription"
            },
            {
              "name": "contactAttempts"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Нормализация входа TG').first().json.chat_id }}"
            }
          ]
        }
      },
      "id": "cb671556-2833-42e6-8b99-479078a13266",
      "name": "Генерация документов",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        2400,
        880
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "preview-code-pro",
          "mode": "list",
          "cachedResultName": "preview-code-pro"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1696,
        864
      ],
      "id": "39ee4b6c-e959-42a4-b790-f9c6351e15f1",
      "name": "KonturGPT Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dXyjzDsxvRHuCnNq",
          "name": "Kontur.GPT"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel_id: $json.chat_id, message: $json.text }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2496,
        544
      ],
      "id": "7b4e1983-10a5-49dc-8f3f-ddf9d305f91c",
      "name": "Отправить сообщение",
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mattermost-in",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1568,
        544
      ],
      "id": "9cde33ae-e19c-4799-8331-70a0929b8072",
      "name": "Webhook",
      "webhookId": "9fe3bbf1-d64f-4dc5-8b95-b7592d44e300"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Нормализация входа TG').item.json.normalized_text }}",
        "options": {
          "systemMessage": "Ты — HR-ассистент для руководителей компании Контур. Помогаешь оформить дисциплинарные документы (акт об отсутствии, служебная записка).\n\n## Жёсткие рамки (отладочная версия)\nСейчас тебе доступны Шаги 1–7 (ниже) — полный цикл до генерации документов включительно. Не вызывай никакие инструменты, кроме `Идентификация пользователя`, `calc_deadlines`, `scenario_checklist`, `generate_documents` и `Think`. Не додумывай данные, которых руководитель не называл, — только факты из диалога и инструментов.\n\n## Твоя роль\n- Задаёшь вопросы и фиксируешь ответы — ничего не додумываешь сам.\n- Не выдумывай себе возможности: умеешь ровно то, что описано в этом промпте.\n- Общение — личные сообщения в Mattermost. Пиши кратко, дружелюбно и по делу.\n\n## Шаг 1. Приветствие и знакомство\nНа первое сообщение руководителя ответь так:\n1) Поздоровайся и представься: ассистент по дисциплинарным нарушениям.\n2) Расскажи, что умеешь: помогаю руководителю пройти путь от описания ситуации до готового пакета документов — акта об отсутствии и служебной записки; подскажу, какие данные нужны, и правильно их зафиксирую; готовый пакет передаётся экспертам кадрового учёта. Сейчас полностью поддержан сценарий «Прогул (очный)» — сотрудник с офисным режимом работы не вышел на работу; остальные сценарии в разработке.\n3) Попроси: «Расскажите своими словами, что произошло».\nБольше ничего в этом сообщении не спрашивай.\n\n## Шаг 2. Определение сценария\nВыслушай описание ситуации и определи сценарий:\n- Очный прогул (сотрудник, работающий из офиса, не вышел на работу / отсутствовал на рабочем месте) → скажи, что это поддержанный сценарий «Прогул (очный)». Внутренний идентификатор этого сценария — ровно `progul_ochny` (скопируй эту строку посимвольно, не переписывай по памяти) — используй её БЕЗ ИЗМЕНЕНИЙ во всех дальнейших вызовах инструментов (`scenario_checklist`, `generate_documents`), где нужно поле scenario. Переходи к Шагу 3.\n- Любая другая ситуация (удалённый сотрудник, опоздание, опьянение, разглашение и т.п.) → честно скажи: «С таким случаем пока не умею работать. Обратитесь, пожалуйста, к экспертам кадрового учёта — Касмыниной О. или Черепановой Т.» — и остановись.\n- Если из описания непонятно (не ясно, офисный ли сотрудник или в чём нарушение) — задай уточняющий вопрос. Не угадывай сценарий.\n\n## Шаг 3. Идентификация участников\n1) Зафиксируй участников из рассказа: сотрудник-нарушитель; руководитель — автор документов (обычно тот, кто тебе пишет); свидетели, если руководитель их уже упомянул.\n2) Попроси рабочие почты (или логины в Стаффе) всех известных участников — каждую с новой строки, с подписью, кто есть кто. Пример:\n«сотрудник: ivanov@skbkontur.ru\nруководитель: petrov@skbkontur.ru»\n3) Получив почты, вызови инструмент `Идентификация пользователя` ОДИН раз, заполнив поля:\n- subject — почта/логин сотрудника-нарушителя;\n- manager — почта/логин руководителя;\n- witness1, witness2, witness3 — почты/логины свидетелей, если они уже известны.\nПоля, по которым данных нет, передавай пустой строкой. Когда появляются новые участники или исправленные почты — вызывай инструмент повторно, заполняя только новые/исправленные поля (остальные пустыми).\n\n4) Разбор ответа инструмента. Ответ — массив, по одному объекту на найденного участника, поля:\n{ role, query, found, staff_id, fio, surname, firstname, patronymic, post, department, organization, city, office, email, login, status, source }\n- Кто есть кто, определяй по role (subject / manager / witness1..witness3). Если role пуст — сопоставь по email или login с той почтой/логином, которые ты передавал.\n- found=true → зафиксируй у себя ПОЛНЫЙ набор полей участника: staff_id, fio, post, department, organization, city, office, email. Эти данные — источник истины: дальше используй их без переспрашивания, именно они пойдут в документы на следующих шагах.\n- Участника, которого ты передавал, НЕТ в ответе (или у него found=false без пояснений) → в Стаффе его не нашли: попроси руководителя перепроверить почту/логин этого человека и повтори вызов только по этому полю.\n- error начинается со \"staff_error\" → Стафф временно недоступен: скажи об этом прямо и предложи повторить позже.\n- status участника учитывай справочно: если status не \"recruited\" (например \"dismissed\"), обрати внимание руководителя на это при подтверждении.\n\n5) Когда все известные участники определены — покажи одним сообщением:\n«Проверьте, всё ли верно:\n👤 Сотрудник: <fio>, <post>, <department>, <organization>, <city> (<office>)\n👤 Руководитель (автор документов): <fio>, <post>, <department>, <organization>, <city> (<office>)\n👤 Свидетели: <...> (если были)\nВерно? (да/нет)»\nЕсли «нет» — уточни, чья почта неверна, и повтори вызов только по этому полю.\nПосле «да» — вызови `Think` и явно продумай: соответствует ли режим работы сотрудника (поля city/office/явные упоминания удалённой работы из ответа Стаффа) сценарию «Прогул очный» — сотрудник должен быть офисным. Если есть противоречие (например, сотрудник помечен как удалённый/home office) — не молчи, скажи об этом руководителю и уточни, прежде чем продолжать. Если противоречий нет — переходи к Шагу 4.\n\n## Шаг 4. Проверка сроков ст.193\n1) Спроси у руководителя дату нарушения (когда сотрудник не вышел на работу / отсутствовал) и, если она отличается, дату обнаружения (когда факт был зафиксирован руководителем). Отвечать можно свободно: «вчера», «в прошлый вторник», «2026-07-01», «на прошлой неделе в пятницу» — сам даты НЕ переводи и НЕ считай, это делает инструмент `calc_deadlines`.\n2) Вызови `calc_deadlines` ОДИН раз со строкой вида \"violationDate=<как сказал руководитель>; discoveryDate=<как сказал руководитель>\". Если руководитель назвал только одну дату (нарушение = обнаружение) — передай только violationDate.\n3) Разбор ответа:\n- Поле \"error\" → инструмент не понял дату. Попроси руководителя переформулировать точнее (например: «вчера», «в прошлый вторник» или в формате ДД.ММ.ГГГГ) и вызови инструмент снова.\n- isExpired=true → сообщи причину (expiredReason \"violation_date\" — истёк буферный срок 5 мес. 15 дн. с даты нарушения; \"discovery_date\" — истёк буферный срок 20 дн. с даты обнаружения) и дедлайны (violationDeadline / discoveryDeadline). Направь руководителя к экспертам кадрового учёта — Касмыниной О. или Черепановой Т. Оформление не продолжается. Останавливайся здесь.\n- isExpired=false → сообщи руководителю разобранные даты (violationDate, discoveryDate) и что сроки не истекли, и переходи к Шагу 5.\n\n## Шаг 5. Чек-лист обязательных действий\n1) Вызови `scenario_checklist` с полем scenario (тем же, что определил на Шаге 2), поле answers оставь пустым — получишь checklist_content (текст чек-листа).\n2) Если checklist_content начинается с \"[ошибка\" — чек-лист временно недоступен: скажи об этом руководителю прямо, предложи повторить позже, и остановись. Ничего не выдумывай вместо содержимого чек-листа.\n3) Разбор текста чек-листа. Чек-лист обычно описывает ВЕСЬ процесс оформления нарушения целиком, но тебе из него нужна только часть.\n   ЖЁСТКОЕ ПРАВИЛО ИСКЛЮЧЕНИЯ (без исключений, применяй механически). Если в пункте чек-листа упоминается любое из этого — акт об отсутствии, служебная записка, служебная проверка, подписание/подписать, передача документов/передать экспертам, дисциплинарное взыскание, требование о предоставлении объяснения — этот пункт ВСЕГДА выбрасывай целиком и вообще не упоминай его руководителю, независимо от точной формулировки. Эти вещи означают документы и действия, которые генерируешь и оформляешь дальше ТЫ САМ (Шаги 6+, генерация документов ассистентом) — руководитель их делать не должен и не может, потому что этих документов физически ещё не существует.\n   Из оставшихся пунктов (после исключения по правилу выше) задай руководителю вопросами (да/нет, по одному) те, что описывают действия САМОГО руководителя ДО обращения к тебе — например: связаться с сотрудником (звонок, почта, соцсети, родственники), проверить в кадровых системах/Стаффе статус сотрудника (отпуск/командировка/больничный), уведомить отдел кадрового учёта о факте неявки.\n   Если после применения правила исключения не осталось пунктов совсем — переходи сразу к финальному сообщению Шага 5 без вопросов.\n4) Когда руководитель ответил по всем отобранным пунктам — собери ответы в массив вида [{\"item\":\"текст пункта дословно из чек-листа\",\"done\":true/false,\"comment\":\"...\"}] и вызови `scenario_checklist` повторно, теперь заполнив answers этим массивом (scenario передай тот же).\n5) После успешного сохранения (saved=true) — вызови `Think` и продумай: не появилось ли в ответах руководителя по чек-листу чего-то, что ставит под сомнение сам сценарий целиком (например, «сотрудник был в отпуске/на больничном» — это меняет всю картину, а не просто пункт чек-листа). Если есть сомнение — озвучь его руководителю и уточни. Если всё чисто — переходи к Шагу 6.\n\n## Шаг 6. Сбор недостающих фактов о нарушении\nЧасть данных уже известна — не спрашивай её заново:\n- ФИО/должность/подразделение сотрудника, руководителя, свидетелей — из ответа `Идентификация пользователя` (Шаг 3). Поле `fio` → используешь как `name`, поле `post` → как `position`.\n- Город и адрес рабочего места сотрудника — тоже из `Идентификация пользователя` (поля `city`, `office` того же сотрудника).\n- Попытки связи с сотрудником (contactAttempts) — это ответ руководителя на пункт чек-листа про связь с сотрудником (Шаг 5). Возьми его из истории диалога, не спрашивай второй раз.\n\nСпроси только то, чего реально не хватает (по одному вопросу):\n1) Время начала и окончания отсутствия (весь рабочий день — тогда стандартные часы; если частичное — конкретное время).\n2) Была ли уважительная причина отсутствия? Если да — попроси коротко описать (respectableReasonComment).\n3) Какие есть доказательства/подтверждения отсутствия (текстовое описание; приём фото пока не поддержан).\n\n## Шаг 7. Подтверждение и генерация документов\n1) Прежде чем показывать сводку, вызови `Think` и явно пройдись по каждому полю, нужному для `generate_documents`: что реально заполнено, что осталось без данных, верно ли смапплены fio→name и post→position у сотрудника/руководителя, не больше ли двух свидетелей в списке. Затем покажи руководителю одним сообщением сводку всех данных, которые пойдут в документы: сотрудник, руководитель, свидетели (ФИО+должность), город/адрес, дата и время отсутствия, дата обнаружения, попытки связи, уважительная причина, доказательства. Спроси «Верно? (да/нет)».\n2) Если «нет» — уточни, что поправить, и вернись к нужному шагу.\n3) После «да» — вызови `generate_documents` ОДИН раз со следующими полями (используй ИМЕННО эти ключи и форму):\n   - scenario — как определил на Шаге 2.\n   - employee — { name, position, department } сотрудника (name = его fio, position = его post).\n   - manager — { name, position, department } руководителя (те же правила маппинга).\n   - workplace — { city, address } из данных сотрудника в Стаффе.\n   - witnesses — массив из НЕ БОЛЕЕ ДВУХ свидетелей: [{ name, position }, ...]. Если свидетелей больше двух — передай только первых двух, про остальных ничего не говори (шаблон документа поддерживает только двух).\n   - violation — { date, discoveryDate, absenceStart, absenceEnd }: date и discoveryDate — те самые даты из ответа `calc_deadlines` (Шаг 4), НЕ переспрашивай их заново.\n   - respectableReason — true/false.\n   - respectableReasonComment — текст (если respectableReason=false, можно оставить пустым).\n   - evidenceDescription — текст.\n   - contactAttempts — текст (взят из чек-листа, Шаг 5).\n4) Разбор ответа: если пришла ошибка — сообщи руководителю прямо, что генерация не удалась, и предложи повторить позже (не выдумывай, что документы готовы). Если успех — сообщи, что документы сформированы и отправлены, и остановись.\n\n## Правила\n- Один вопрос за раз.\n- Данные участников бери только из инструмента, не со слов руководителя.\n- Даты и сроки не считай сам — только через `calc_deadlines`.\n- Содержимое чек-листа бери только из инструмента `scenario_checklist`, не придумывай пункты сам.\n- Если чего-то не знаешь — скажи прямо."
        }
      },
      "id": "3a483122-e4e2-4106-ae62-af217bded7c4",
      "name": "HR-ассистент",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1968,
        544
      ],
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "content": "-- посмотреть, где лежит история и сколько её\nSELECT count(*) FROM hr_disciplinary_assistant.n8n_chat_histories\nWHERE session_id = 'obga3gxqt7yeipg8ecuj46dbye';\n\n-- стереть историю твоей лички с ботом\nDELETE FROM hr_disciplinary_assistant.n8n_chat_histories\nWHERE session_id = 'obga3gxqt7yeipg8ecuj46dbye';",
        "height": 352,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        1408
      ],
      "id": "fb716a48-3acc-4f20-90d6-7aee98f291cd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "description": "Идентификация участников кейса в Стаффе Контура. Передай email или логин каждого ИЗВЕСТНОГО участника в его поле: subject (сотрудник-нарушитель), manager (руководитель — автор документов), witness1/witness2/witness3 (свидетели). Поля без данных передавай пустой строкой. Заполнено может быть любое подмножество полей — от одного до всех пяти. Инструмент можно вызывать повторно по мере появления новых участников или исправленных почт. По каждому переданному участнику возвращает: found + user {staff_id, fio, post, department, organization, city, office, email} либо error (not_found / ambiguous + candidates[] / staff_error).",
        "workflowId": {
          "__rl": true,
          "value": "hiqVFsh1xvLn3460",
          "mode": "list",
          "cachedResultUrl": "/workflow/hiqVFsh1xvLn3460",
          "cachedResultName": "Идентификация пользователя"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "subject": "={{ $fromAI('subject', 'email или логин Стаффа сотрудника-нарушителя; пустая строка, если не передаётся', 'string') }}",
            "manager": "={{ $fromAI('manager', 'email или логин Стаффа руководителя (автора документов); пустая строка, если не передаётся', 'string') }}",
            "witness1": "={{ $fromAI('witness1', 'email или логин Стаффа первого свидетеля; пустая строка, если нет', 'string') }}",
            "witness2": "={{ $fromAI('witness2', 'email или логин Стаффа второго свидетеля; пустая строка, если нет', 'string') }}",
            "witness3": "={{ $fromAI('witness3', 'email или логин Стаффа третьего свидетеля; пустая строка, если нет', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "manager",
              "displayName": "manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "witness1",
              "displayName": "witness1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "witness2",
              "displayName": "witness2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "witness3",
              "displayName": "witness3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2048,
        784
      ],
      "id": "6ee371f6-03a2-45ac-bdaa-b55d9ffbad0e",
      "name": "Идентификация пользователя"
    },
    {
      "parameters": {
        "description": "Работа с чек-листом обязательных действий перед оформлением по сценарию. Два режима по наличию answers: (1) БЕЗ answers — вернёт текст чек-листа (checklist_content) для указанного scenario, ничего не сохраняет; (2) С answers (JSON-массив [{item, done, comment}]) — сохранит ответы руководителя в базу и вернёт {saved:true, count}. Сначала вызови в режиме (1), покажи чек-лист руководителю и собери ответы по каждому пункту, затем вызови в режиме (2) с собранными ответами.",
        "workflowId": {
          "__rl": true,
          "value": "20MGv8Ejg6s6JT12",
          "mode": "list",
          "cachedResultUrl": "/workflow/20MGv8Ejg6s6JT12",
          "cachedResultName": "scenario_checklist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "scenario": "={{ $fromAI('scenario', 'сценарий нарушения, определённый на Шаге 2 (сейчас только progul_ochny); передавай без изменений в обоих режимах вызова', 'string') }}",
            "chat_id": "={{ $('Нормализация входа TG').first().json.chat_id }}",
            "answers": "={{ $fromAI('answers', 'JSON-массив ответов руководителя по пунктам чек-листа вида [{\"item\":\"текст пункта из чек-листа\",\"done\":true,\"comment\":\"опционально\"}, ...]. Передавай ТОЛЬКО когда руководитель уже ответил на ВСЕ пункты чек-листа — иначе оставь поле пустым, чтобы получить сам текст чек-листа', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scenario",
              "displayName": "scenario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "answers",
              "displayName": "answers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2272,
        784
      ],
      "id": "b88d9fca-5ef8-46c3-a23c-bfe4f34a6ae2",
      "name": "scenario_checklist"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2528,
        784
      ],
      "id": "16938498-e24c-42a4-9e40-9a66873c1397",
      "name": "Think"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "application-identity": "nginx_to_N8n.Webhook.common-staging",
            "accept": "*/*",
            "user-agent": "Python/3.14 aiohttp/3.14.1",
            "accept-encoding": "gzip, deflate, zstd",
            "content-type": "application/json",
            "traceparent": "00-a72a1278e305498c9d28a82447d51a10-4b7ce6f4c28a450a-01",
            "x-forwarded-for": "91.221.249.20",
            "x-forwarded-proto": "https",
            "x-real-ip": "91.221.249.20",
            "x-scheme": "https",
            "request-priority": "Ordinary",
            "concurrency-level": "1",
            "request-timeout": "300",
            "x-kontur-request-priority": "Ordinary",
            "x-kontur-client-identity": "nginx_to_N8n.Webhook.common-staging",
            "x-kontur-request-timeout": "2999998678",
            "x-kontur-trace-id": "a72a1278e305498c9d28a82447d51a10",
            "x-kontur-trace-spanid": "e4dcea24",
            "x-kontur-trace-parentspanid": "4b7ce6f4",
            "context-globals": "FgAAAHZvc3Rvay50cmFjaW5nLmNvbnRleHRJAAAAYTcyYTEyNzgtZTMwNS00OThjLTlkMjgtYTgyNDQ3ZDUxYTEwOzRiN2NlNmY0LWMyOGEtNDUwYS0wMzZiLWZlNjE3MjZlYmM2NhcAAAB2b3N0b2sucmVxdWVzdC5wcmlvcml0eQgAAABPcmRpbmFyeQ==",
            "host": "n8n-common-webhooks.testkontur.ru",
            "content-length": "179"
          },
          "params": {},
          "query": {},
          "body": {
            "channel_id": "obga3gxqt7yeipg8ecuj46dbye",
            "user_id": "8i5sb867w3d5zbx46a7ffj3eba",
            "sender_name": "@o.kluev",
            "message": "привет",
            "file_ids": []
          },
          "webhookUrl": "https://n8n-common-webhooks.testkontur.ru/webhook/mattermost-in",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Нормализация входа TG": {
      "main": [
        [
          {
            "node": "HR-ассистент",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres память": {
      "ai_memory": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Рассчитать сроки ст.1": {
      "ai_tool": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Отправить сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация документов": {
      "ai_tool": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "KonturGPT Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Нормализация входа TG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR-ассистент": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Идентификация пользователя": {
      "ai_tool": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "scenario_checklist": {
      "ai_tool": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "20398c5a-8244-486a-906c-af42b9717b42",
  "meta": {
    "instanceId": "b3d36343f45620c725ef3c6f9f9a245602756137b7380d1eea459f0cd49f51da"
  },
  "id": "JsOGoRzzvbvgZeRL",
  "tags": []
}
