n8n/workflows/HR-агент.json
{
  "name": "HR-агент",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Нормализация входа из Mattermost (коннектор/бот → webhook).\n// Тело вебхука: { channel_id, user_id, sender_name, message, file_ids }\nconst root = $input.first().json;\nconst b = root.body || root;\nconst channelId = b.channel_id || '';\nconst userId = b.user_id || '';\nconst senderName = b.sender_name || '';\nconst text = (b.message == null ? '' : String(b.message));\nconst fileIds = Array.isArray(b.file_ids) ? b.file_ids : [];\n\n// Фото пока НЕ обрабатываем (отложено). Фиксируем факт вложения текстовым маркером.\nlet normalized_text = text;\nif (!text && fileIds.length) {\n  normalized_text = '[Пользователь прислал вложение без текста — разбор фото пока не поддержан, попроси описать доказательство текстом]';\n} else if (!text) {\n  normalized_text = '[Получено пустое сообщение — попроси повторить текстом]';\n}\n\nreturn [{ json: {\n  chat_id: channelId,        // = channel_id (downstream ждёт chat_id)\n  channel_id: channelId,\n  user_id: userId,\n  sender_name: senderName,\n  normalized_text,\n  file_ids: fileIds\n} }];\n"
      },
      "id": "a3b774f5-36ba-4a4a-a5d6-b0425325027c",
      "name": "Нормализация входа TG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "photo-present",
              "leftValue": "={{ $json.evidence.has_photo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3be7795d-949b-4ae8-95ee-a790aaa041a4",
      "name": "Есть фото?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Нормализация входа TG').first().json.chat_id }}",
        "contextWindowLength": 30
      },
      "id": "bfabe7b4-ede6-4680-a222-f6320c4764da",
      "name": "Postgres память",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1888,
        880
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "content": "## HR-агент v7 (Mattermost + Postgres)\n\n**Точка входа — Mattermost** (коннектор/бот → Webhook `/mattermost-in`).\n\n**Вход:** Webhook → Нормализация (MM: channel_id/message) → агент.\n**Выход:** агент → Формат ответа → Отправить сообщение (POST /api/v4/posts).\n**Память:** Postgres Chat Memory (sessionKey = channel_id).\n\n**Инструменты:**\n- calc_deadlines — относительные даты + проверка сроков ст.193\n- Идентификация пользователя — данные из Staff по email/логину\n- generate_documents → Генерация документов: акт + служебная записка",
        "height": 520,
        "width": 900,
        "color": 4
      },
      "id": "b5d31e6e-aa1d-4228-8ba2-2ce9118139ee",
      "name": "📌 HR-агент — точка входа1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        352
      ]
    },
    {
      "parameters": {
        "name": "calc_deadlines",
        "description": "Единый инструмент дат: (1) превращает относительные даты «сегодня/вчера/позавчера/завтра/послезавтра/N дней назад», дни недели («в среду», «в прошлый/позапрошлый вторник», «на этой/прошлой/позапрошлой неделе в пятницу») и недели («неделю назад», «N недель назад», «через неделю/N недель») в конкретную дату от серверного «сегодня», (2) рассчитывает крайние сроки привлечения по ст.193 и определяет, истёк ли срок. Вход — строка с датой нарушения и датой обнаружения (можно словами или ГГГГ-ММ-ДД/ДД.ММ.ГГГГ), напр.: \"violationDate=в прошлый вторник; discoveryDate=сегодня\". Возвращает JSON: violationDate, discoveryDate, isExpired, expiredReason, violationDeadline, discoveryDeadline, today. НИКОГДА не считай даты сам.",
        "jsCode": "// Единый инструмент дат: резолвит относительные даты И считает сроки ст.193.\n// Вход query: даты в ГГГГ-ММ-ДД или ДД.ММ.ГГГГ, либо слова\n// \"сегодня/вчера/позавчера/завтра/послезавтра/N дней назад/через N дней\",\n// дни недели (\"в среду\", \"в прошлый/позапрошлый вторник\", \"на этой/прошлой/позапрошлой неделе в пятницу\")\n// и недели как длительность (\"неделю назад\", \"N недель назад\", \"через неделю/N недель\").\n// Ярлыки (необязательны): \"violationDate=...; discoveryDate=...\" (сначала нарушение).\n// Сроки — буфер Контура (НЕ дословно ТК): нарушение +5 мес 15 дн; обнаружение +20 дн.\nconst text = String(query || '').toLowerCase();\nconst now = new Date();\nconst server = new Date(now.getFullYear(), now.getMonth(), now.getDate()); // локальная полночь\nconst pad = n => String(n).padStart(2,'0');\nconst fmt = d => `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`;\nconst addDays = (d,n) => { const x=new Date(d); x.setDate(x.getDate()+n); return x; };\n\nfunction resolveOne(s){\n  if(!s) return null;\n  s = String(s).trim().toLowerCase();\n  if(!s) return null;\n  let m = s.match(/(\\d{4})-(\\d{2})-(\\d{2})/);      if(m) return new Date(+m[1], +m[2]-1, +m[3]);\n  m = s.match(/(\\d{1,2})\\.(\\d{1,2})\\.(\\d{4})/);     if(m) return new Date(+m[3], +m[2]-1, +m[1]);\n  if(/позавчера/.test(s)) return addDays(server,-2);\n  if(/послезавтра/.test(s)) return addDays(server,2);\n  if(/вчера/.test(s)) return addDays(server,-1);\n  if(/(сегодня|сейчас|нынче|today)/.test(s)) return new Date(server);\n  if(/завтра/.test(s)) return addDays(server,1);\n\n  // недели как длительность: \"N недель назад\" / \"через N недель\" / \"неделю назад\" / \"через неделю\"\n  m = s.match(/(\\d+)\\s*недел[а-яё]*\\s*назад/);         if(m) return addDays(server,-7*(+m[1]));\n  if(/недел[а-яё]*\\s*назад/.test(s))                    return addDays(server,-7);\n  m = s.match(/через\\s*(\\d+)\\s*недел/);                if(m) return addDays(server,7*(+m[1]));\n  if(/через\\s*недел/.test(s))                           return addDays(server,7);\n\n  // дни недели: голый день или \"прошлый X\" — ближайшее прошлое вхождение;\n  // \"позапрошлый X\" — ещё на неделю раньше; \"на этой/прошлой/позапрошлой неделе X\" — конкретная календарная неделя.\n  const WEEKDAYS = [\n    { iso: 1, re: /понедельник/ },\n    { iso: 2, re: /вторник/ },\n    { iso: 3, re: /(среда|среду|среды|среде)/ },\n    { iso: 4, re: /четверг/ },\n    { iso: 5, re: /(пятница|пятницу|пятницы|пятнице)/ },\n    { iso: 6, re: /(суббота|субботу|субботы|субботе)/ },\n    { iso: 7, re: /воскресень/ },\n  ];\n  const wd = WEEKDAYS.find(w => w.re.test(s));\n  if(wd){\n    const todayIso = server.getDay() === 0 ? 7 : server.getDay();\n    const daysAgo = ((todayIso - wd.iso + 7) % 7) || 7;\n    const nearestPast = addDays(server, -daysAgo);\n    const weekMode = /недел/.test(s);\n    if(weekMode){\n      const mondayOfThisWeek = addDays(server, -(todayIso - 1));\n      let weeksBack = 0;\n      if(/позапрошл/.test(s)) weeksBack = 2;\n      else if(/прошл/.test(s)) weeksBack = 1;\n      return addDays(mondayOfThisWeek, -7*weeksBack + (wd.iso - 1));\n    }\n    if(/позапрошл/.test(s)) return addDays(nearestPast, -7);\n    return nearestPast;\n  }\n\n  m = s.match(/(\\d+)\\s*дн[а-яё]*\\s*назад/);            if(m) return addDays(server,-(+m[1]));\n  m = s.match(/через\\s*(\\d+)\\s*дн/);               if(m) return addDays(server,+(+m[1]));\n  return null;\n}\nfunction pick(label){\n  const m = text.match(new RegExp(label+'\\\\s*=\\\\s*([^;]+)','i'));\n  return m ? resolveOne(m[1]) : null;\n}\n\nlet violationDate = pick('violationdate');\nlet discoveryDate = pick('discoverydate');\nif(!violationDate || !discoveryDate){\n  const toks = text.split(/[;,]/).map(resolveOne).filter(Boolean);\n  if(!violationDate) violationDate = toks[0] || null;\n  if(!discoveryDate) discoveryDate = toks[1] || toks[0] || null;\n}\nif(!violationDate){\n  return JSON.stringify({ error: 'Не смог распознать дату нарушения. Передай дату нарушения (ГГГГ-ММ-ДД, «вчера/сегодня» или день недели, напр. «в прошлый вторник»).', received: String(query||'') });\n}\nif(!discoveryDate) discoveryDate = new Date(violationDate);\n\nconst vDeadline = new Date(violationDate); vDeadline.setMonth(vDeadline.getMonth()+5); vDeadline.setDate(vDeadline.getDate()+15);\nconst dDeadline = addDays(discoveryDate,20);\nconst expiredByViolation = server >= vDeadline;\nconst expiredByDiscovery = server >= dDeadline;\nreturn JSON.stringify({\n  violationDate: fmt(violationDate),\n  discoveryDate: fmt(discoveryDate),\n  isExpired: expiredByViolation || expiredByDiscovery,\n  expiredReason: expiredByViolation ? 'violation_date' : (expiredByDiscovery ? 'discovery_date' : null),\n  violationDeadline: fmt(vDeadline),\n  discoveryDeadline: fmt(dDeadline),\n  today: fmt(server)\n});"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        2176,
        944
      ],
      "id": "f9bfce97-10d6-4ff8-ab0f-d03798178cc0",
      "name": "Рассчитать сроки ст.1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Нормализация входа TG').item.json.normalized_text }}",
        "options": {
          "systemMessage": "Ты — HR-ассистент для руководителей компании Контур. Помогаешь оформить дисциплинарные документы (акт об отсутствии, служебная записка).\n\n## Жёсткие рамки (отладочная версия)\nСейчас тебе доступны ТОЛЬКО Шаги 1–4 (ниже). Ничего сверх них не делай: не собирай факты о нарушении сверх дат из Шага 4 (время, место, доказательства и т.п.), не генерируй документы, не вызывай никакие инструменты, кроме `Идентификация пользователя` и `calc_deadlines`. Когда Шаг 4 завершён — напиши соответствующее финальное сообщение (см. Шаг 4) и остановись.\n\n## Твоя роль\n- Задаёшь вопросы и фиксируешь ответы — ничего не додумываешь сам.\n- Не выдумывай себе возможности: умеешь ровно то, что описано в этом промпте.\n- Общение — личные сообщения в Mattermost. Пиши кратко, дружелюбно и по делу.\n\n## Шаг 1. Приветствие и знакомство\nНа первое сообщение руководителя ответь так:\n1) Поздоровайся и представься: ассистент по дисциплинарным нарушениям.\n2) Расскажи, что умеешь: помогаю руководителю пройти путь от описания ситуации до готового пакета документов — акта об отсутствии и служебной записки; подскажу, какие данные нужны, и правильно их зафиксирую; готовый пакет передаётся экспертам кадрового учёта. Сейчас полностью поддержан сценарий «Прогул (очный)» — сотрудник с офисным режимом работы не вышел на работу; остальные сценарии в разработке.\n3) Попроси: «Расскажите своими словами, что произошло».\nБольше ничего в этом сообщении не спрашивай.\n\n## Шаг 2. Определение сценария\nВыслушай описание ситуации и определи сценарий:\n- Очный прогул (сотрудник, работающий из офиса, не вышел на работу / отсутствовал на рабочем месте) → скажи, что это поддержанный сценарий «Прогул (очный)», и переходи к Шагу 3.\n- Любая другая ситуация (удалённый сотрудник, опоздание, опьянение, разглашение и т.п.) → честно скажи: «С таким случаем пока не умею работать. Обратитесь, пожалуйста, к экспертам кадрового учёта — Касмыниной О. или Черепановой Т.» — и остановись.\n- Если из описания непонятно (не ясно, офисный ли сотрудник или в чём нарушение) — задай уточняющий вопрос. Не угадывай сценарий.\n\n## Шаг 3. Идентификация участников\n1) Зафиксируй участников из рассказа: сотрудник-нарушитель; руководитель — автор документов (обычно тот, кто тебе пишет); свидетели, если руководитель их уже упомянул.\n2) Попроси рабочие почты (или логины в Стаффе) всех известных участников — каждую с новой строки, с подписью, кто есть кто. Пример:\n«сотрудник: ivanov@skbkontur.ru\nруководитель: petrov@skbkontur.ru»\n3) Получив почты, вызови инструмент `Идентификация пользователя` ОДИН раз, заполнив поля:\n- subject — почта/логин сотрудника-нарушителя;\n- manager — почта/логин руководителя;\n- witness1, witness2, witness3 — почты/логины свидетелей, если они уже известны.\nПоля, по которым данных нет, передавай пустой строкой. Когда появляются новые участники или исправленные почты — вызывай инструмент повторно, заполняя только новые/исправленные поля (остальные пустыми).\n\n4) Разбор ответа инструмента. Ответ — массив, по одному объекту на найденного участника, поля:\n{ role, query, found, staff_id, fio, surname, firstname, patronymic, post, department, organization, city, office, email, login, status, source }\n- Кто есть кто, определяй по role (subject / manager / witness1..witness3). Если role пуст — сопоставь по email или login с той почтой/логином, которые ты передавал.\n- found=true → зафиксируй у себя ПОЛНЫЙ набор полей участника: staff_id, fio, post, department, organization, city, office, email. Эти данные — источник истины: дальше используй их без переспрашивания, именно они пойдут в документы на следующих шагах.\n- Участника, которого ты передавал, НЕТ в ответе (или у него found=false без пояснений) → в Стаффе его не нашли: попроси руководителя перепроверить почту/логин этого человека и повтори вызов только по этому полю.\n- error начинается со \"staff_error\" → Стафф временно недоступен: скажи об этом прямо и предложи повторить позже.\n- status участника учитывай справочно: если status не \"recruited\" (например \"dismissed\"), обрати внимание руководителя на это при подтверждении.\n\n5) Когда все известные участники определены — покажи одним сообщением:\n«Проверьте, всё ли верно:\n👤 Сотрудник: <fio>, <post>, <department>, <organization>, <city> (<office>)\n👤 Руководитель (автор документов): <fio>, <post>, <department>, <organization>, <city> (<office>)\n👤 Свидетели: <...> (если были)\nВерно? (да/нет)»\nЕсли «нет» — уточни, чья почта неверна, и повтори вызов только по этому полю.\nПосле «да» — переходи к Шагу 4.\n\n## Шаг 4. Проверка сроков ст.193\n1) Спроси у руководителя дату нарушения (когда сотрудник не вышел на работу / отсутствовал) и, если она отличается, дату обнаружения (когда факт был зафиксирован руководителем). Отвечать можно свободно: «вчера», «в прошлый вторник», «2026-07-01», «на прошлой неделе в пятницу» — сам даты НЕ переводи и НЕ считай, это делает инструмент `calc_deadlines`.\n2) Вызови `calc_deadlines` ОДИН раз со строкой вида \"violationDate=<как сказал руководитель>; discoveryDate=<как сказал руководитель>\". Если руководитель назвал только одну дату (нарушение = обнаружение) — передай только violationDate.\n3) Разбор ответа:\n- Поле \"error\" → инструмент не понял дату. Попроси руководителя переформулировать точнее (например: «вчера», «в прошлый вторник» или в формате ДД.ММ.ГГГГ) и вызови инструмент снова.\n- isExpired=true → сообщи причину (expiredReason \"violation_date\" — истёк буферный срок 5 мес. 15 дн. с даты нарушения; \"discovery_date\" — истёк буферный срок 20 дн. с даты обнаружения) и дедлайны (violationDeadline / discoveryDeadline). Направь руководителя к экспертам кадрового учёта — Касмыниной О. или Черепановой Т. Оформление не продолжается. Останавливайся здесь.\n- isExpired=false → сообщи руководителю разобранные даты (violationDate, discoveryDate) и что сроки не истекли, финальное сообщение: «Сроки проверены, не истекли ✅. Следующие шаги ассистента пока в разработке.» — и остановись.\n\n## Правила\n- Один вопрос за раз.\n- Данные участников бери только из инструмента, не со слов руководителя.\n- Даты и сроки не считай сам — только через `calc_deadlines`.\n- Если чего-то не знаешь — скажи прямо."
        }
      },
      "id": "5ed13e5e-f274-42df-9780-913aae31477e",
      "name": "HR-ассистент",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1888,
        656
      ],
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "jsCode": "// Формат ответа для Mattermost (markdown нативный) + разбивка на части.\nconst chatId = $('Нормализация входа TG').first().json.chat_id;\nlet t = String($json.output ?? '');\nconst LIMIT = 15000; // лимит поста MM ~16383, берём с запасом\nconst parts = [];\nlet buf = '';\nfor (const line of t.split('\\n')) {\n  if (buf.length + line.length + 1 > LIMIT) {\n    if (buf) parts.push(buf);\n    buf = line;\n    while (buf.length > LIMIT) { parts.push(buf.slice(0, LIMIT)); buf = buf.slice(LIMIT); }\n  } else {\n    buf = buf ? buf + '\\n' + line : line;\n  }\n}\nif (buf) parts.push(buf);\nif (!parts.length) parts.push('');\nreturn parts.map(p => ({ json: { chat_id: chatId, text: p } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        656
      ],
      "id": "45fef4f2-e8d2-451c-a809-72d5c6a5fca9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "name": "generate_documents",
        "description": "Генерирует пакет документов (акт об отсутствии + служебную записку). Сроки ст.193 проверяет инструмент calc_deadlines — вызывай generate_documents ТОЛЬКО после проверки сроков (isExpired=false) и подтверждения руководителем корректности всех данных.",
        "workflowId": {
          "__rl": true,
          "value": "DoLH2C1TxrIalbUS",
          "mode": "list",
          "cachedResultUrl": "/workflow/DoLH2C1TxrIalbUS",
          "cachedResultName": "Генерация документов"
        },
        "fields": {
          "values": [
            {
              "name": "scenario"
            },
            {
              "name": "employee"
            },
            {
              "name": "manager"
            },
            {
              "name": "workplace"
            },
            {
              "name": "witnesses"
            },
            {
              "name": "violation"
            },
            {
              "name": "respectableReason"
            },
            {
              "name": "respectableReasonComment"
            },
            {
              "name": "evidenceDescription"
            },
            {
              "name": "contactAttempts"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Нормализация входа TG').first().json.chat_id }}"
            }
          ]
        }
      },
      "id": "cb671556-2833-42e6-8b99-479078a13266",
      "name": "Генерация документов",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        2288,
        864
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Нормализация входа TG').first().json;\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nreturn [{ json: {\n  chat_id: prev.chat_id,\n  file_id: prev.evidence.file_id,\n  file_size: prev.evidence.file_size,\n  downloaded: true,\n  note: 'telegram photo',\n  file_b64: buf.toString('base64'),\n  normalized_text: prev.normalized_text\n} }];"
      },
      "id": "5a4416bf-219b-4eff-a145-eb3aafde8b1f",
      "name": "Кодировать фото (base64)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "hr_disciplinary_assistant",
          "mode": "list",
          "cachedResultName": "hr_disciplinary_assistant"
        },
        "table": {
          "__rl": true,
          "value": "hr_evidence",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "file_id": "={{ $json.file_id }}",
            "file_size": "={{ $json.file_size }}",
            "downloaded": "={{ $json.downloaded }}",
            "note": "={{ $json.note }}",
            "file_b64": "={{ $json.file_b64 }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_size",
              "displayName": "file_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "downloaded",
              "displayName": "downloaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_b64",
              "displayName": "file_b64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "315b0c9c-5a25-4474-928a-1dd1333cf431",
      "name": "Postgres: запись доказательства",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1648,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "code-pro",
          "mode": "list",
          "cachedResultName": "code-pro"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1696,
        864
      ],
      "id": "39ee4b6c-e959-42a4-b790-f9c6351e15f1",
      "name": "KonturGPT Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dXyjzDsxvRHuCnNq",
          "name": "Kontur.GPT"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hiqVFsh1xvLn3460",
          "mode": "list",
          "cachedResultUrl": "/workflow/hiqVFsh1xvLn3460",
          "cachedResultName": "Идентификация пользователя"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "subject": "={{ $fromAI('subject', 'email или логин Стаффа сотрудника-нарушителя; пустая строка, если не передаётся', 'string') }}",
            "manager": "={{ $fromAI('manager', 'email или логин Стаффа руководителя (автора документов); пустая строка, если не передаётся', 'string') }}",
            "witness1": "={{ $fromAI('witness1', 'email или логин Стаффа первого свидетеля; пустая строка, если нет', 'string') }}",
            "witness2": "={{ $fromAI('witness2', 'email или логин Стаффа второго свидетеля; пустая строка, если нет', 'string') }}",
            "witness3": "={{ $fromAI('witness3', 'email или логин Стаффа третьего свидетеля; пустая строка, если нет', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "manager",
              "displayName": "manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "witness1",
              "displayName": "witness1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "witness2",
              "displayName": "witness2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "witness3",
              "displayName": "witness3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "description": "Идентификация участников кейса в Стаффе Контура. Передай email или логин каждого ИЗВЕСТНОГО участника в его поле: subject (сотрудник-нарушитель), manager (руководитель — автор документов), witness1/witness2/witness3 (свидетели). Поля без данных передавай пустой строкой. Заполнено может быть любое подмножество полей. Можно вызывать повторно. Возвращает массив по найденным: { role, query, found, staff_id, fio, post, department, organization, city, office, email, login, status }. Кого не нашли — в ответе нет."
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2048,
        864
      ],
      "id": "37128830-75b3-4534-9987-c1964d0efcbc",
      "name": "Идентификация пользователя"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Нормализация входа TG').first().json.evidence.file_id }}",
        "additionalFields": {}
      },
      "id": "f7483191-f345-40b2-81cc-658e7c8dc3b6",
      "name": "Telegram: скачать фото?????",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        352
      ],
      "webhookId": "e9febf60-8646-40b0-920c-516d71aa7244",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel_id: $json.chat_id, message: $json.text }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2432,
        656
      ],
      "id": "7b4e1983-10a5-49dc-8f3f-ddf9d305f91c",
      "name": "Отправить сообщение",
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mattermost-in",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1408,
        656
      ],
      "id": "9cde33ae-e19c-4799-8331-70a0929b8072",
      "name": "Webhook",
      "webhookId": "9fe3bbf1-d64f-4dc5-8b95-b7592d44e300"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        384,
        1216
      ],
      "id": "2d8a227f-dbb8-480a-946f-eca8514f8757",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS hr_disciplinary_assistant.hr_cases (\n  id SERIAL PRIMARY KEY,\n  chat_id TEXT NOT NULL,\n  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),\n  manager_name TEXT,\n  employee_name TEXT,\n  department TEXT,\n  scenario TEXT,\n  violation_date DATE,\n  discovery_date DATE,\n  is_expired BOOLEAN,\n  docs_generated BOOLEAN DEFAULT FALSE,\n  raw_data JSONB\n);\nCREATE INDEX IF NOT EXISTS idx_hr_cases_chat_id ON hr_disciplinary_assistant.hr_cases (chat_id);\nCREATE INDEX IF NOT EXISTS idx_hr_cases_created_at ON hr_disciplinary_assistant.hr_cases (created_at);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        1216
      ],
      "id": "69bdecd0-ced2-4a9a-a66a-7d467834bf19",
      "name": "2. Таблица hr_cases",
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS hr_disciplinary_assistant.hr_evidence (\n  id SERIAL PRIMARY KEY,\n  chat_id TEXT NOT NULL,\n  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),\n  file_id TEXT,\n  file_size BIGINT,\n  downloaded BOOLEAN DEFAULT FALSE,\n  note TEXT,\n  file_b64 TEXT\n);\nCREATE INDEX IF NOT EXISTS idx_hr_evidence_chat_id ON hr_disciplinary_assistant.hr_evidence (chat_id);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        1216
      ],
      "id": "384855c2-c4ee-4935-8240-01e386ae9ea4",
      "name": "3. Таблица hr_evidence",
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "content": "## Инициализация Postgres (схема hr_disciplinary_assistant)\n\nСхему создавать НЕ нужно — DBA её уже создал. Здесь только:\n0. search_path (ALTER ROLE) — чтобы неквалифицированные таблицы (память диалога) шли в нашу схему\n2. Таблица hr_cases\n3. Таблица hr_evidence\n\nCred: n8n_hr_disciplinary_assistant. Все CREATE — IF NOT EXISTS, безопасно повторять.\nЕсли ловишь pg_hba (плавающие IP подов) — запускай повторно, пока не пройдёт (фикс у DBA).",
        "height": 260,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        912
      ],
      "id": "056d16c6-e1f3-48c0-8afc-5d324b2b9dc4",
      "name": "Инструкция"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER ROLE hr_disciplinary_assistant_user SET search_path = hr_disciplinary_assistant, public;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        1216
      ],
      "id": "e03cf958-51ee-4d56-b090-11a7debfc191",
      "name": "0. search_path",
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "application-identity": "nginx_to_N8n.Webhook.common-staging",
            "accept": "*/*",
            "user-agent": "Python/3.14 aiohttp/3.14.1",
            "accept-encoding": "gzip, deflate, zstd",
            "content-type": "application/json",
            "traceparent": "00-a72a1278e305498c9d28a82447d51a10-4b7ce6f4c28a450a-01",
            "x-forwarded-for": "91.221.249.20",
            "x-forwarded-proto": "https",
            "x-real-ip": "91.221.249.20",
            "x-scheme": "https",
            "request-priority": "Ordinary",
            "concurrency-level": "1",
            "request-timeout": "300",
            "x-kontur-request-priority": "Ordinary",
            "x-kontur-client-identity": "nginx_to_N8n.Webhook.common-staging",
            "x-kontur-request-timeout": "2999998678",
            "x-kontur-trace-id": "a72a1278e305498c9d28a82447d51a10",
            "x-kontur-trace-spanid": "e4dcea24",
            "x-kontur-trace-parentspanid": "4b7ce6f4",
            "context-globals": "FgAAAHZvc3Rvay50cmFjaW5nLmNvbnRleHRJAAAAYTcyYTEyNzgtZTMwNS00OThjLTlkMjgtYTgyNDQ3ZDUxYTEwOzRiN2NlNmY0LWMyOGEtNDUwYS0wMzZiLWZlNjE3MjZlYmM2NhcAAAB2b3N0b2sucmVxdWVzdC5wcmlvcml0eQgAAABPcmRpbmFyeQ==",
            "host": "n8n-common-webhooks.testkontur.ru",
            "content-length": "179"
          },
          "params": {},
          "query": {},
          "body": {
            "channel_id": "obga3gxqt7yeipg8ecuj46dbye",
            "user_id": "8i5sb867w3d5zbx46a7ffj3eba",
            "sender_name": "@o.kluev",
            "message": "привет",
            "file_ids": []
          },
          "webhookUrl": "https://n8n-common-webhooks.testkontur.ru/webhook/mattermost-in",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Нормализация входа TG": {
      "main": [
        [
          {
            "node": "HR-ассистент",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres память": {
      "ai_memory": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Рассчитать сроки ст.1": {
      "ai_tool": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HR-ассистент": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Отправить сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация документов": {
      "ai_tool": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "KonturGPT Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Идентификация пользователя": {
      "ai_tool": [
        [
          {
            "node": "HR-ассистент",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Нормализация входа TG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "0. search_path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Таблица hr_cases": {
      "main": [
        [
          {
            "node": "3. Таблица hr_evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0. search_path": {
      "main": [
        [
          {
            "node": "2. Таблица hr_cases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8f16e9b2-222f-4918-a2d4-8787a162ddc2",
  "meta": {
    "instanceId": "b3d36343f45620c725ef3c6f9f9a245602756137b7380d1eea459f0cd49f51da"
  },
  "id": "JsOGoRzzvbvgZeRL",
  "tags": []
}
