n8n/workflows/Анализ доказательств.json
{
  "name": "Анализ доказательств",
  "nodes": [
    {
      "parameters": {
        "content": "## Анализ доказательств (analyze_evidence)\n\n**Вызывается из** HR-агента как tool `analyze_evidence`, с одним полем `chat_id`.\n\n**Поток:**\n1. Достаём все фото кейса из `hr_evidence` (только успешно скачанные, PNG/JPEG).\n2. Каждое фото — в binary (для vision-модели).\n3. Разбор фото через KonturGPT (vision-модель) — по одному фото на вызов.\n4. Склейка описаний в одну сводку → `{ summary, perPhoto: [...] }` — это и возвращается агенту.\n\n⚠️ **Перед первым живым прогоном обязательно проверить в UI n8n:**\n- какой `model`-id у vision-совместимой модели в дропдауне credential'а `Kontur.GPT` (плейсхолдер `REPLACE_WITH_VISION_MODEL_ID` в ноде «KonturGPT Chat Model (vision)»);\n- как эта версия ноды `chainLlm` принимает изображение (обычно — опция вроде «Attach binary image» / «Include input binary data» в её настройках) — я не мог это проверить без доступа к самому n8n.",
        "height": 460,
        "width": 620,
        "color": 4
      },
      "id": "fb31b371-a654-4fc5-b1ac-e9c409bb366c",
      "name": "📌 Анализ доказательств — обзор",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        160
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "1f82dc8b-7c86-4dc6-be26-9b04f4e02763",
      "name": "Вызов из агента",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT file_id, file_b64 FROM hr_disciplinary_assistant.hr_evidence WHERE chat_id = $1::text AND downloaded = true AND file_b64 IS NOT NULL ORDER BY created_at",
        "options": {
          "queryReplacement": "={{ $('Вызов из агента').first().json.chat_id }}"
        }
      },
      "id": "1f8debc1-b0b8-4a00-8e5e-1549a1558b8d",
      "name": "PG: фото кейса",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -576,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Кладём фото в binary — так его можно передать в vision-модель как изображение.\nconst row = $input.item.json;\nconst buf = Buffer.from(row.file_b64, 'base64');\nconst isPng = buf[0] === 0x89 && buf[1] === 0x50;\nconst binary = await this.helpers.prepareBinaryData(buf, isPng ? 'evidence.png' : 'evidence.jpg', isPng ? 'image/png' : 'image/jpeg');\nreturn [{ json: { file_id: row.file_id }, binary: { data: binary } }];"
      },
      "id": "3802eaa3-7872-41a1-a0b5-4807ee6be072",
      "name": "Подготовить бинарные данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "REPLACE_WITH_VISION_MODEL_ID",
          "mode": "list",
          "cachedResultName": "REPLACE_WITH_VISION_MODEL_ID"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "e7fc4a61-bb84-4297-af7b-872c9736658f",
      "name": "KonturGPT Chat Model (vision)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -352,
        576
      ],
      "credentials": {
        "openAiApi": {
          "id": "dXyjzDsxvRHuCnNq",
          "name": "Kontur.GPT"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Опиши кратко и по делу, что видно на этом фото — это доказательство по делу об отсутствии сотрудника на рабочем месте (прогул). Обрати внимание: виден ли человек на фото или рабочее место пустое; есть ли видимый таймстамп/дата (на экране, в интерфейсе, на часах); что вообще изображено (рабочий стол, монитор с перепиской, пустой кабинет и т.п.). Ответь 2-4 предложениями, строго по видимым фактам, без домыслов.",
        "hasOutputParser": false
      },
      "id": "a7f1eaab-97f2-4612-8747-8a58bb647cb1",
      "name": "LLM: анализ фото",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -160,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Причёсываем сырые описания по фото в одну сводку для мейн-агента.\nconst items = $input.all();\nif (!items.length) {\n  return [{ json: { summary: 'Фото по этому кейсу не найдено.', perPhoto: [] } }];\n}\nconst perPhoto = items.map(it => ({\n  file_id: it.json.file_id,\n  description: String(it.json.text || it.json.output || '').trim()\n}));\nconst summary = perPhoto.map((p, i) => `Фото ${i + 1}: ${p.description}`).join('\\n');\nreturn [{ json: { summary, perPhoto } }];"
      },
      "id": "a2f9b9d1-9d18-4b4a-9d3a-2f7b6b8a3f01",
      "name": "Собрать сводку",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        400
      ],
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Вызов из агента": {
      "main": [
        [
          {
            "node": "PG: фото кейса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: фото кейса": {
      "main": [
        [
          {
            "node": "Подготовить бинарные данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить бинарные данные": {
      "main": [
        [
          {
            "node": "LLM: анализ фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KonturGPT Chat Model (vision)": {
      "ai_languageModel": [
        [
          {
            "node": "LLM: анализ фото",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM: анализ фото": {
      "main": [
        [
          {
            "node": "Собрать сводку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
