n8n/workflows/Генерация документов.json
{
  "name": "Генерация документов",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Нормализовать данные').first().json.chat_id }}",
        "text": "⏳ Анализирую нарушение…",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d63411f5-b083-4ce3-b962-5ab6c0a04b72",
      "name": "Статус: анализ нарушения1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2544,
        1680
      ],
      "webhookId": "hrgen-Статус: анализ нарушения",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 1500,
      "disabled": true
    },
    {
      "parameters": {
        "content": "**✍️ Заполнение полей документа**\n\nПревращает собранные факты в готовые значения для шаблона: переводит даты в привычный вид (15.06.2026), подставляет название организации, решает — нужен ли акт и/или служебная записка.\n\n_Техника: маппинг context → 25 плейсхолдеров, дефолты `[УТОЧНИТЬ]`, флаги `DOC_MAP`._",
        "height": 262,
        "width": 268,
        "color": 6
      },
      "id": "61d628b5-701a-41d1-a020-e037470b0fca",
      "name": "📌 note-values1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        1264
      ]
    },
    {
      "parameters": {
        "content": "**🧠 Умные поля (нейросеть)**\n\nДоделывает то, что требует «живого» русского языка: склоняет ФИО в нужный падеж, пишет абзац обстоятельств и список приложений.\n\n_Техника: qwen2.5:7b, format=json → фио_работника_род, обстоятельства, приложения._",
        "height": 230,
        "width": 300,
        "color": 6
      },
      "id": "38a58f10-8cf9-40b6-89c6-b444fb886cf5",
      "name": "📌 note-smart1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        1296
      ]
    },
    {
      "parameters": {
        "content": "**📝 Сборка задания для нейросети**\n\nСобирает в одно «письмо» для нейросети: данные о сотруднике + памятку-чеклист, чтобы она грамотно описала нарушение.\n\n_Техника: формирует `prompt_rag` (данные + чеклист из Drive). ",
        "height": 330,
        "width": 200,
        "color": 6
      },
      "id": "2c5e44a7-d385-4ef6-9c38-7627dd1f3eca",
      "name": "           ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2768,
        1104
      ]
    },
    {
      "parameters": {
        "content": "**🤖 Описание нарушения (нейросеть)**\n\nЛокальная нейросеть формулирует суть нарушения со ссылками на трудовой кодекс.\n\n_Техника: HTTP POST к qwen2.5:7b, таймаут 60с._",
        "height": 330,
        "width": 200,
        "color": 6
      },
      "id": "6ff42f67-f45d-4f4b-b807-12d442a1034f",
      "name": "            ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2560,
        1104
      ]
    },
    {
      "parameters": {
        "content": "**🔗 Сборка контекста**\n\nСоединяет формулировку нарушения от нейросети со всеми остальными данными, чтобы ничего не потерялось.\n\n_Техника: берёт violations из Ollama, восстанавливает контекст из Vision-ноды по имени._",
        "height": 314,
        "width": 200,
        "color": 6
      },
      "id": "075a985f-2fc0-40c5-8abb-e5824f35825c",
      "name": "             ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2352,
        1104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt_rag }}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "556f9a7e-507c-4505-821d-14f7026da392",
      "name": "Ollama: нарушения",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2544,
        1472
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst violations = r.response?.trim() || '[Не удалось сформулировать нарушение]';\nconst prev = $('Vision: анализ доказательств (заглушка)').first().json;\nreturn [{ json: {\n  context: prev.context,\n  chat_id: prev.chat_id,\n  dates: prev.dates,\n  checklist_content: prev.checklist_content,\n  vision_analysis: prev.vision_analysis,\n  violations\n} }];"
      },
      "id": "c3859adc-2265-4ae4-b5a3-b3c3f12ae8e5",
      "name": "Объединить нарушения",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        1472
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst ctx = d.context;\nconst prompt = `Ты — юридический ассистент по трудовому праву. Твоя задача — кратко и точно сформулировать нарушение трудовых обязанностей со ссылками на нормативные акты.\\n\\n## Данные о нарушении\\nСотрудник: ${ctx.employee?.name || '[не указано]'}\\nДолжность: ${ctx.employee?.position || '[не указано]'}\\nПодразделение: ${ctx.employee?.department || '[не указано]'}\\nДата нарушения: ${ctx.violation?.date || '[не указано]'}\\nОписание: ${ctx.violation?.description || 'Прогул — отсутствие на рабочем месте без уважительной причины'}\\nУважительная причина: ${ctx.respectableReason ? 'Есть: ' + ctx.respectableReasonComment : 'Отсутствует'}\\n\\n## Чеклист (внутренняя инструкция)\\n${d.checklist_content}\\n\\n## Задача\\nСформулируй нарушение в 2-4 предложениях для включения в служебную записку. Укажи конкретные статьи, пункты. Формат: юридически грамотно, сухо, без лишних слов.\\nОтвечай ТОЛЬКО формулировкой нарушения, без вводных фраз.`;\nreturn [{ json: { ...d, prompt_rag: prompt } }];"
      },
      "id": "e3e8485e-9d40-4d67-90b4-7d58793ee0a5",
      "name": "Сборка промпта (нарушение)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2768,
        1472
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "🔮 **Слот под RAG (ВЫКЛЮЧЕНО) ** \n\nЭтот блок сейчас отключён и в обход — поток идёт Vision → «Значения документов».\n\n**Почему выключен:** первый вызов нейросети дублировал «обстоятельства» (только с кривой ссылкой на ТК) и шёл в мусорку. Держать боевой 60с-вызов вхолостую на каждом прогоне — дорого, особенно на CPU-сервере.\n\n**Когда включать — при подключении векторной базы ЛНА (ROADMAP P1.2):**\n1. Включить ноды островка (disabled → off).\n2. Подавать сюда top-N релевантных чанков из вект. БД вместо одного чеклиста.\n3. Добавить плейсхолдер `формулировка_нарушения` в шаблон СЗ.\n4. Пробросить результат в документ (в «Значения» / «Объединить значения»).\n5. Вернуть промежуточный статус «⏳ Анализирую нарушение».\n\n\nИдея - агрегатор и суммаризатор по нарушению",
        "height": 380,
        "width": 644,
        "color": 5
      },
      "id": "f360eb19-f71f-49b1-a390-6ac2045fa0b4",
      "name": "Sticky: RAG slot",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2112,
        1488
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "0ff14181-9f62-45eb-b967-0cfd62e91f6c",
      "name": "Вызов из агента",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1568,
        2416
      ]
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nconst ctx = inp.context || {};\nconst emp = ctx.employee || {}, vio = ctx.violation || {}, mgr = ctx.manager || {};\nconst wp = ctx.workplace || {};\nconst wit = Array.isArray(ctx.witnesses) ? ctx.witnesses : [];\nconst w1 = wit[0] || {}, w2 = wit[1] || {};\nconst U = '[УТОЧНИТЬ]';\nfunction ru(d){ const m = String(d||'').match(/^(\\d{4})-(\\d{2})-(\\d{2})$/); return m ? `${m[3]}.${m[2]}.${m[1]}` : (d || U); }\nconst scenario = ctx.scenario || 'progul_ochny';\n// какие документы нужны для сценария (расширяемо под новые проекты)\nconst DOC_MAP = {\n  progul_ochny: { нужен_акт: true,  нужна_сз: true },\n  zaglushka:    { нужен_акт: false, нужна_сз: true },\n};\nconst docs = DOC_MAP[scenario] || { нужен_акт: true, нужна_сз: true };\nconst t = new Date();\nconst dd = String(t.getDate()).padStart(2,'0'), mm = String(t.getMonth()+1).padStart(2,'0'), yyyy = t.getFullYear();\nconst hh = String(t.getHours()).padStart(2,'0'), mi = String(t.getMinutes()).padStart(2,'0');\nreturn [{ json: {\n  нужен_акт: docs.нужен_акт,\n  нужна_сз: docs.нужна_сз,\n  акт_file_id: '1pz4mHqz6dleQKZvit3VRfXs_h95VWqKl',\n  сз_file_id: '1iiqEDumDy61qRr9lv0kFGpkUB3hTpkWd',\n  chat_id: inp.chat_id,\n  // --- сырые поля для промпта Ollama (чтобы не было far-reference) ---\n  contactAttempts: ctx.contactAttempts || '',\n  respectableReason: !!ctx.respectableReason,\n  respectableReasonComment: ctx.respectableReasonComment || '',\n  evidenceDescription: ctx.evidenceDescription || '',\n  // --- плейсхолдеры шаблонов (25) ---\n  организация: 'АО «ПФ «СКБ Контур»',\n  город: wp.city || U,\n  адрес: wp.address || U,\n  время_составления: `${hh}:${mi}`,\n  дата_составления: `${dd}.${mm}.${yyyy}`,\n  год: String(yyyy),\n  дата_отсутствия: ru(vio.date),\n  время_начала: vio.absenceStart || U,\n  время_окончания: vio.absenceEnd || U,\n  подразделение: emp.department || U,\n  должность_работника: emp.position || U,\n  фио_работника: emp.name || U,\n  должность_составителя: mgr.position || U,\n  фио_составителя: mgr.name || U,\n  свидетель_1_фио: w1.name || U,\n  свидетель_1_должность: w1.position || U,\n  свидетель_2_фио: w2.name || U,\n  свидетель_2_должность: w2.position || U,\n  должность_руководителя_организации: 'Директору',\n  фио_руководителя_организации: '',\n  должность_автора: mgr.position || U,\n  подразделение_автора: mgr.department || U,\n  фио_автора: mgr.name || U,\n} }];"
      },
      "id": "b55d44b9-46ec-4437-b7cc-5628679fdf8c",
      "name": "Значения документов",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        2480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel_id: $('Нормализовать данные').first().json.chat_id, message: '⏳ Формирую документы…' }) }}",
        "options": {}
      },
      "id": "9b0b9e44-ba05-49d5-90f6-71d052f001b6",
      "name": "Статус: готовлю документы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        544,
        2512
      ],
      "webhookId": "p11-Статус: готовлю документы",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 1500,
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1FOtaQ7iqSDdAmG7fq5ySgHyAB-3xi5ZtDfBLJckrSls",
          "mode": "list",
          "cachedResultName": "Акт_об_отсутствии_ШАБЛОН",
          "cachedResultUrl": "https://docs.google.com/document/d/1FOtaQ7iqSDdAmG7fq5ySgHyAB-3xi5ZtDfBLJckrSls/edit?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            }
          },
          "fileName": "Акт_об_отсутствии.docx"
        }
      },
      "id": "2d9b109c-aeba-479a-98b7-a78255488536",
      "name": "Drive: скачать акт",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        2384
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "googleApi": {
          "id": "R25HHyTFIZLB7DA2",
          "name": "hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pure-JS raw DEFLATE inflate (RFC 1951), zero require(). Only for testing here;\n// will be inlined into n8n Code node later without any require calls.\n\nfunction inflateRaw(input) {\n  let pos = 0;       // byte position\n  let bitBuf = 0;    // bit accumulator\n  let bitCnt = 0;     // bits currently in accumulator\n\n  function needBits(n) {\n    while (bitCnt < n) {\n      if (pos >= input.length) throw new Error('inflate: unexpected end of input');\n      bitBuf |= input[pos++] << bitCnt;\n      bitCnt += 8;\n    }\n  }\n  function getBits(n) {\n    needBits(n);\n    const val = bitBuf & ((1 << n) - 1);\n    bitBuf >>>= n;\n    bitCnt -= n;\n    return val;\n  }\n  function alignByte() {\n    bitBuf = 0;\n    bitCnt = 0;\n  }\n\n  // Build canonical Huffman decode structure from code lengths.\n  // Returns a function that reads bits one at a time (MSB-first accumulation, per DEFLATE spec)\n  // and returns the decoded symbol.\n  function buildHuffman(lengths) {\n    const maxBits = lengths.reduce((a, b) => Math.max(a, b), 0);\n    const blCount = new Array(maxBits + 1).fill(0);\n    for (const l of lengths) if (l > 0) blCount[l]++;\n    const nextCode = new Array(maxBits + 1).fill(0);\n    let code = 0;\n    blCount[0] = 0;\n    for (let bits = 1; bits <= maxBits; bits++) {\n      code = (code + blCount[bits - 1]) << 1;\n      nextCode[bits] = code;\n    }\n    // map \"len:code\" -> symbol\n    const map = new Map();\n    for (let sym = 0; sym < lengths.length; sym++) {\n      const len = lengths[sym];\n      if (len > 0) {\n        map.set(len * 100000 + nextCode[len], sym);\n        nextCode[len]++;\n      }\n    }\n    return { map, maxBits };\n  }\n\n  function decodeSymbol(huff) {\n    let code = 0;\n    for (let len = 1; len <= huff.maxBits; len++) {\n      code = (code << 1) | getBits(1);\n      const sym = huff.map.get(len * 100000 + code);\n      if (sym !== undefined) return sym;\n    }\n    throw new Error('inflate: invalid huffman code');\n  }\n\n  const LENGTH_BASE = [3,4,5,6,7,8,9,10,11,13,15,17,19,23,27,31,35,43,51,59,67,83,99,115,131,163,195,227,258];\n  const LENGTH_EXTRA = [0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,0];\n  const DIST_BASE = [1,2,3,4,5,7,9,13,17,25,33,49,65,97,129,193,257,385,513,769,1025,1537,2049,3073,4097,6145,8193,12289,16385,24577];\n  const DIST_EXTRA = [0,0,0,0,1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9,10,10,11,11,12,12,13,13];\n  const CLEN_ORDER = [16,17,18,0,8,7,9,6,10,5,11,4,12,3,13,2,14,1,15];\n\n  function fixedLitHuffman() {\n    const lengths = new Array(288);\n    for (let i = 0; i <= 143; i++) lengths[i] = 8;\n    for (let i = 144; i <= 255; i++) lengths[i] = 9;\n    for (let i = 256; i <= 279; i++) lengths[i] = 7;\n    for (let i = 280; i <= 287; i++) lengths[i] = 8;\n    return buildHuffman(lengths);\n  }\n  function fixedDistHuffman() {\n    const lengths = new Array(30).fill(5);\n    return buildHuffman(lengths);\n  }\n\n  const out = [];\n  let outLen = 0;\n\n  function pushByte(b) { out.push(b); outLen++; }\n\n  let finalBlock = false;\n  while (!finalBlock) {\n    finalBlock = getBits(1) === 1;\n    const btype = getBits(2);\n\n    if (btype === 0) {\n      // stored block\n      alignByte();\n      const len = input[pos] | (input[pos + 1] << 8);\n      pos += 4; // skip LEN and ~LEN\n      for (let i = 0; i < len; i++) pushByte(input[pos++]);\n    } else if (btype === 1 || btype === 2) {\n      let litHuff, distHuff;\n      if (btype === 1) {\n        litHuff = fixedLitHuffman();\n        distHuff = fixedDistHuffman();\n      } else {\n        const hlit = getBits(5) + 257;\n        const hdist = getBits(5) + 1;\n        const hclen = getBits(4) + 4;\n        const clLengths = new Array(19).fill(0);\n        for (let i = 0; i < hclen; i++) clLengths[CLEN_ORDER[i]] = getBits(3);\n        const clHuff = buildHuffman(clLengths);\n\n        const allLengths = [];\n        while (allLengths.length < hlit + hdist) {\n          const sym = decodeSymbol(clHuff);\n          if (sym <= 15) {\n            allLengths.push(sym);\n          } else if (sym === 16) {\n            const rep = getBits(2) + 3;\n            const prev = allLengths[allLengths.length - 1];\n            for (let i = 0; i < rep; i++) allLengths.push(prev);\n          } else if (sym === 17) {\n            const rep = getBits(3) + 3;\n            for (let i = 0; i < rep; i++) allLengths.push(0);\n          } else if (sym === 18) {\n            const rep = getBits(7) + 11;\n            for (let i = 0; i < rep; i++) allLengths.push(0);\n          } else {\n            throw new Error('inflate: bad code-length symbol ' + sym);\n          }\n        }\n        const litLengths = allLengths.slice(0, hlit);\n        const distLengths = allLengths.slice(hlit, hlit + hdist);\n        litHuff = buildHuffman(litLengths);\n        distHuff = buildHuffman(distLengths);\n      }\n\n      while (true) {\n        const sym = decodeSymbol(litHuff);\n        if (sym < 256) {\n          pushByte(sym);\n        } else if (sym === 256) {\n          break; // end of block\n        } else {\n          const li = sym - 257;\n          if (li >= LENGTH_BASE.length) throw new Error('inflate: bad length symbol ' + sym);\n          const length = LENGTH_BASE[li] + getBits(LENGTH_EXTRA[li]);\n          const dsym = decodeSymbol(distHuff);\n          const dist = DIST_BASE[dsym] + getBits(DIST_EXTRA[dsym]);\n          let start = outLen - dist;\n          for (let i = 0; i < length; i++) {\n            pushByte(out[start + i]);\n          }\n        }\n      }\n    } else {\n      throw new Error('inflate: unsupported block type ' + btype);\n    }\n  }\n\n  return Buffer.from(out);\n}\n\nconst CRC_TABLE = (() => {\n  const table = new Uint32Array(256);\n  for (let n = 0; n < 256; n++) {\n    let c = n;\n    for (let k = 0; k < 8; k++) c = (c & 1) ? (0xEDB88320 ^ (c >>> 1)) : (c >>> 1);\n    table[n] = c >>> 0;\n  }\n  return table;\n})();\nfunction crc32(buf) {\n  let c = 0xFFFFFFFF;\n  for (let i = 0; i < buf.length; i++) c = CRC_TABLE[(c ^ buf[i]) & 0xFF] ^ (c >>> 8);\n  return (c ^ 0xFFFFFFFF) >>> 0;\n}\n\n// Читаем через ЦЕНТРАЛЬНЫЙ КАТАЛОГ (а не последовательным обходом локальных заголовков) —\n// он ВСЕГДА содержит верные method/crc/compSize/uncompSize/offset, даже если general purpose\n// bit 3 (потоковый режим/data descriptor) установлен и локальные заголовки обнулены.\n// Именно так делает Google Docs при экспорте .docx.\nfunction readZipEntries(buf) {\n  // 1. Найти End Of Central Directory (EOCD), сканируя с конца файла.\n  const EOCD_SIG = 0x06054b50;\n  const minEocd = Math.max(0, buf.length - 22 - 65536);\n  let eocdOffset = -1;\n  for (let i = buf.length - 22; i >= minEocd; i--) {\n    if (buf.readUInt32LE(i) === EOCD_SIG) { eocdOffset = i; break; }\n  }\n  if (eocdOffset === -1) throw new Error('miniz: End Of Central Directory не найден — это не zip-архив?');\n\n  const totalEntries = buf.readUInt16LE(eocdOffset + 10);\n  const centralDirOffset = buf.readUInt32LE(eocdOffset + 16);\n\n  // 2. Пройти central directory.\n  const entries = [];\n  let pos = centralDirOffset;\n  for (let i = 0; i < totalEntries; i++) {\n    const sig = buf.readUInt32LE(pos);\n    if (sig !== 0x02014b50) throw new Error('miniz: битая запись central directory на смещении ' + pos);\n    const method = buf.readUInt16LE(pos + 10);\n    const crc = buf.readUInt32LE(pos + 16);\n    const compSize = buf.readUInt32LE(pos + 20);\n    const uncompSize = buf.readUInt32LE(pos + 24);\n    const nameLen = buf.readUInt16LE(pos + 28);\n    const extraLen = buf.readUInt16LE(pos + 30);\n    const commentLen = buf.readUInt16LE(pos + 32);\n    const localHeaderOffset = buf.readUInt32LE(pos + 42);\n    const name = buf.toString('utf8', pos + 46, pos + 46 + nameLen);\n\n    // 3. Найти начало данных через ЛОКАЛЬНЫЙ заголовок (нужна только длина имени/extra оттуда,\n    //    размеры и crc берём из central directory — они надёжны всегда).\n    const localNameLen = buf.readUInt16LE(localHeaderOffset + 26);\n    const localExtraLen = buf.readUInt16LE(localHeaderOffset + 28);\n    const dataStart = localHeaderOffset + 30 + localNameLen + localExtraLen;\n    const rawData = buf.slice(dataStart, dataStart + compSize);\n\n    entries.push({ name, method, crc, uncompSize, compSize, rawData });\n    pos += 46 + nameLen + extraLen + commentLen;\n  }\n  return entries;\n}\n\nfunction getEntryContent(entry) {\n  if (entry.method === 0) return entry.rawData;\n  if (entry.method === 8) return inflateRaw(entry.rawData);\n  throw new Error('miniz: неизвестный метод сжатия ' + entry.method + ' у ' + entry.name);\n}\n\nfunction writeZip(entries) {\n  const localParts = [];\n  const centralParts = [];\n  let offset = 0;\n\n  for (const e of entries) {\n    const nameBuf = Buffer.from(e.name, 'utf8');\n    let method, crc, size, data;\n    if (e.data !== undefined) {\n      data = Buffer.isBuffer(e.data) ? e.data : Buffer.from(e.data, 'utf8');\n      method = 0;\n      crc = crc32(data);\n      size = data.length;\n    } else {\n      method = e.method;\n      crc = e.crc;\n      size = e.uncompSize;\n      data = e.rawData;\n    }\n    const compSize = data.length;\n\n    const localHeader = Buffer.alloc(30);\n    localHeader.writeUInt32LE(0x04034b50, 0);\n    localHeader.writeUInt16LE(20, 4);\n    localHeader.writeUInt16LE(0, 6);\n    localHeader.writeUInt16LE(method, 8);\n    localHeader.writeUInt16LE(0, 10);\n    localHeader.writeUInt16LE(0, 12);\n    localHeader.writeUInt32LE(crc, 14);\n    localHeader.writeUInt32LE(compSize, 18);\n    localHeader.writeUInt32LE(size, 22);\n    localHeader.writeUInt16LE(nameBuf.length, 26);\n    localHeader.writeUInt16LE(0, 28);\n\n    localParts.push(localHeader, nameBuf, data);\n\n    const centralHeader = Buffer.alloc(46);\n    centralHeader.writeUInt32LE(0x02014b50, 0);\n    centralHeader.writeUInt16LE(20, 4);\n    centralHeader.writeUInt16LE(20, 6);\n    centralHeader.writeUInt16LE(0, 8);\n    centralHeader.writeUInt16LE(method, 10);\n    centralHeader.writeUInt16LE(0, 12);\n    centralHeader.writeUInt16LE(0, 14);\n    centralHeader.writeUInt32LE(crc, 16);\n    centralHeader.writeUInt32LE(compSize, 20);\n    centralHeader.writeUInt32LE(size, 24);\n    centralHeader.writeUInt16LE(nameBuf.length, 28);\n    centralHeader.writeUInt16LE(0, 30);\n    centralHeader.writeUInt16LE(0, 32);\n    centralHeader.writeUInt16LE(0, 34);\n    centralHeader.writeUInt16LE(0, 36);\n    centralHeader.writeUInt32LE(0, 38);\n    centralHeader.writeUInt32LE(offset, 42);\n\n    centralParts.push(centralHeader, nameBuf);\n\n    offset += localHeader.length + nameBuf.length + data.length;\n  }\n\n  const centralOffset = offset;\n  const centralBuf = Buffer.concat(centralParts);\n  const centralSize = centralBuf.length;\n\n  const eocd = Buffer.alloc(22);\n  eocd.writeUInt32LE(0x06054b50, 0);\n  eocd.writeUInt16LE(0, 4);\n  eocd.writeUInt16LE(0, 6);\n  eocd.writeUInt16LE(entries.length, 8);\n  eocd.writeUInt16LE(entries.length, 10);\n  eocd.writeUInt32LE(centralSize, 12);\n  eocd.writeUInt32LE(centralOffset, 16);\n  eocd.writeUInt16LE(0, 20);\n\n  return Buffer.concat([...localParts, centralBuf, eocd]);\n}\n\nconst v = $('Объединить значения').first().json;\nconst SKIP = new Set(['chat_id']);\nconst inBin = $input.item.binary.data;\nconst fileName = (inBin && inBin.fileName) || 'Документ.docx';\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nconst entries = readZipEntries(buffer);\nconst docEntry = entries.find(e => e.name === 'word/document.xml');\nif (!docEntry) {\n  throw new Error('render_akt: в шаблоне не найден word/document.xml. Найдено записей: ' + entries.length\n    + '. Имена: [' + entries.map(e => e.name).join(' | ') + ']');\n}\nlet xml = getEntryContent(docEntry).toString('utf8');\nfor (const [key, val] of Object.entries(v)) {\n  if (SKIP.has(key) || key.endsWith('_file_id')) continue;\n  xml = xml.split('{{' + key + '}}').join(String(val ?? ''));\n}\n\nconst outEntries = entries.map(e => e.name === 'word/document.xml' ? { name: e.name, data: Buffer.from(xml, 'utf8') } : e);\nconst out = writeZip(outEntries);\nconst binary = await this.helpers.prepareBinaryData(out, fileName, 'application/vnd.openxmlformats-officedocument.wordprocessingml.document');\nreturn [{ json: { rendered: fileName }, binary: { data: binary } }];"
      },
      "id": "e57d8b14-6d2c-4737-a7fc-0940e58d952b",
      "name": "Рендер акта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        2384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "нужна_сз",
              "leftValue": "={{ $('Объединить значения').first().json.нужна_сз }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "88ae7d47-a1ef-4b43-ba9b-c225a599abd0",
      "name": "Нужна СЗ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1824,
        2544
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet data = raw;\nif (raw.query && typeof raw.query === 'object' && !Array.isArray(raw.query)) {\n  data = raw.query;\n} else if (typeof raw.input === 'string') {\n  try { data = JSON.parse(raw.input); } catch(e) {}\n} else if (typeof raw.query === 'string') {\n  try { data = JSON.parse(raw.query); } catch(e) {}\n}\nif (!data.employee) throw new Error('hr_generate: не переданы данные employee. Получено: ' + JSON.stringify(raw));\nif (!data.violation) throw new Error('hr_generate: не переданы данные violation.');\ndata.scenario = data.scenario || 'progul_ochny';\nreturn [{ json: {\n  context: data,\n  chat_id: data.chat_id || raw.chat_id || null,\n  evidence: data.evidence || raw.evidence || null,\n  violationDate: data.violation.date,\n  discoveryDate: data.violation.discoveryDate\n} }];\n"
      },
      "id": "9b4ffc36-1671-41e9-a321-4bcf6485f141",
      "name": "Нормализовать данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        2416
      ]
    },
    {
      "parameters": {
        "content": "## Добавить новый сценарий\n\n1. В «Выбор сценария» (Switch) добавить ветку под новый scenario-ключ.\n2. В ноде **«Значения документов»** → карта `DOC_MAP`: добавить строку\n   `scenario: { нужен_акт: true/false, нужна_сз: true/false }`.\n3. Если нужны другие шаблоны — положить .docx в Google Drive, прописать fileId\n   в «Значения документов» (акт_file_id / сз_file_id).\n\nРазвилки «Нужен акт?» / «Нужна СЗ?» сами включат/выключат рендер по флагам.",
        "height": 220,
        "width": 360,
        "color": 7
      },
      "id": "952b2e00-654e-4c42-a964-4478a727f066",
      "name": "📌 Добавить новый сценарий1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2160,
        2400
      ]
    },
    {
      "parameters": {
        "content": "## Генерация документов (v6 — рендер .docx)\n\n**Вызывается из** HR-агента как tool `generate_documents`.\n\n**Поток:**\n1. Нормализовать данные → Выбор сценария → (данные прогула / заглушка)\n2. Vision (заглушка) → Промпт нарушения (RAG) → Ollama: нарушения\n3. **Значения документов** (маппинг context → плейсхолдеры + флаги DOC_MAP)\n4. **Ollama: умные значения** (падеж ФИО, обстоятельства, приложения — JSON)\n5. **Объединить значения** → развилки **Нужен акт? / Нужна СЗ?**\n6. Для каждого нужного документа: **Drive скачать шаблон → Рендер (adm-zip) → Telegram sendDocument**\n7. Финальный ответ (краткий) → Postgres кейс → Вернуть результат\n\n**Шаблоны** — в Google Drive (.docx с {{плейсхолдерами}}). Скачиваются Service Account'ом (только чтение), заполняются локально через adm-zip, не копируются (обход quota).\n\n⚠️ Нужен n8n с `NODE_FUNCTION_ALLOW_EXTERNAL=adm-zip`.",
        "height": 740,
        "width": 980,
        "color": 4
      },
      "id": "16a8be12-cb1f-4d3d-b267-aa099565887a",
      "name": "📌 HR Generate — всё в одном1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2752,
        2032
      ]
    },
    {
      "parameters": {
        "content": "**📨 Старт генерации**\n\nСюда приходит команда от диалогового агента «собери документы» — вместе со всеми данными о сотруднике и нарушении.\n\n_Техника: Execute Workflow Trigger (toolWorkflow), данные в `$json`._",
        "height": 282,
        "width": 248,
        "color": 6
      },
      "id": "25ad2d1f-dd88-4fb2-8101-a7158aaada7c",
      "name": " 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1664,
        2576
      ]
    },
    {
      "parameters": {
        "content": "**🖨️ Заполнение бланка**\n\nВставляет все данные в скачанный бланк и получает готовый документ Word, который можно подписать.\n\n_Техника: adm-zip — распаковка .docx, замена {{плейсхолдеров}}, упаковка обратно. Нужен NODE_FUNCTION_ALLOW_EXTERNAL=adm-zip._",
        "height": 246,
        "width": 228,
        "color": 6
      },
      "id": "d1d5a745-b293-4f95-93cf-0e8e76ed1a0a",
      "name": "📌 note-render1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        2080
      ]
    },
    {
      "parameters": {
        "content": "**📄 Загрузка шаблона**\n\nСкачивает чистый бланк документа (.docx) из Google Drive, чтобы заполнить его данными.\n\n_Техника: Service Account, только чтение (без quota). fileId из «Значения документов»._",
        "height": 246,
        "width": 236,
        "color": 6
      },
      "id": "260b545a-b9fb-4ece-8550-8ef4f05d8cfd",
      "name": "📌 note-drive1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        2000
      ]
    },
    {
      "parameters": {
        "content": "**👁️ Разбор фото (заглушка)**\n\nПока не умеет «смотреть» на фото-доказательства — просто берёт текстовое описание, которое дал руководитель.\n\n_Техника: STUB, передаёт evidenceDescription как analysis. Заменить на HTTP к qwen2-vl/llava._",
        "height": 250,
        "width": 216,
        "color": 3
      },
      "id": "fa666d43-8f04-481f-8bc3-a1e6e2330492",
      "name": "          ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        2192
      ]
    },
    {
      "parameters": {
        "content": "**❓ Какие документы делать**\n\nРазвилка: смотрит, нужен ли в этом сценарии акт и нужна ли служебная записка — и включает только нужное.\n\n_Техника: IF по флагам `нужен_акт` / `нужна_сз` из DOC_MAP._",
        "height": 234,
        "width": 408,
        "color": 6
      },
      "id": "aafe6d9a-cadc-476e-ad22-2691bfc7c2a3",
      "name": "              ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        2672
      ]
    },
    {
      "parameters": {
        "content": "**✅ Готово**\n\nСообщает агенту, что документы собраны. Сами файлы Word при этом уходят руководителю в Telegram.\n\n_Техника: краткий текст агенту; .docx уходят через Telegram sendDocument._",
        "height": 218,
        "width": 312,
        "color": 6
      },
      "id": "2c9ae184-3542-4c3c-b07a-5407df4ca946",
      "name": "                     ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3024,
        2256
      ]
    },
    {
      "parameters": {
        "content": "**📥 Приём данных от агента**\n\nБерёт всё, что прислал агент (ФИО сотрудника, даты, свидетели и пр.), и раскладывает по полочкам для дальнейшей работы.\n\n_Техника: распаковывает `$json.query` от toolWorkflow, проверяет наличие employee и violation._",
        "height": 314,
        "width": 200,
        "color": 6
      },
      "id": "2fb1454c-e0f1-41f7-a629-1407c29c73d4",
      "name": "  ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1376,
        2576
      ]
    },
    {
      "parameters": {
        "jsCode": "// VISION STUB v1 — TODO: заменить на HTTP Request к vision-модели Ollama (qwen2-vl / llava)\n// Интерфейс: принимает evidenceDescription, возвращает { vision_stub, analysis }\n// При замене: убрать этот нод, добавить HTTP Request к http://127.0.0.1:11434/api/generate\n// с моделью qwen2-vl и base64-изображением в поле images[]\nconst d = $input.first().json;\nconst desc = d.context?.evidenceDescription || 'Доказательства не предоставлены';\nreturn [{ json: {\n  ...d,\n  vision_analysis: {\n    vision_stub: true,\n    analysis: desc,\n    _note: 'STUB: заменить на реальную vision-модель Ollama'\n  }\n} }];"
      },
      "id": "3d937d53-7b0b-4c70-8624-bbf6fc9040fd",
      "name": "Vision: анализ доказательств (заглушка)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        2480
      ]
    },
    {
      "parameters": {
        "jsCode": "const out = '✅ Готово! Акт об отсутствии и служебная записка сформированы и отправлены файлами выше.\\n\\n'\n  + '⚠️ Проверьте документы и заполните поля [УТОЧНИТЬ] (свидетели, адрес, руководитель организации) перед подписанием.\\n'\n  + 'Передайте готовый пакет Черепановой Т. или Касмыниной О.';\nreturn [{ json: { output: out } }];\n"
      },
      "id": "a8035aa1-789f-4c57-b885-e0847f9a3f53",
      "name": "Финальный ответ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        2528
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "hr_disciplinary_assistant",
          "mode": "list",
          "cachedResultName": "hr_disciplinary_assistant"
        },
        "table": {
          "__rl": true,
          "value": "hr_cases",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Нормализовать данные').first().json.chat_id }}",
            "manager_name": "={{ $('Нормализовать данные').first().json.context.manager.name }}",
            "employee_name": "={{ $('Нормализовать данные').first().json.context.employee.name }}",
            "department": "={{ $('Нормализовать данные').first().json.context.employee.department }}",
            "scenario": "={{ $('Нормализовать данные').first().json.context.scenario }}",
            "violation_date": "={{ $('Нормализовать данные').first().json.context.violation.date }}",
            "discovery_date": "={{ $('Нормализовать данные').first().json.context.violation.discoveryDate }}",
            "is_expired": "={{ false }}",
            "docs_generated": "={{ true }}",
            "raw_data": "={{ JSON.stringify($('Нормализовать данные').first().json.context) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "manager_name",
              "displayName": "manager_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employee_name",
              "displayName": "employee_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scenario",
              "displayName": "scenario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "violation_date",
              "displayName": "violation_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "discovery_date",
              "displayName": "discovery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_expired",
              "displayName": "is_expired",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "docs_generated",
              "displayName": "docs_generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_data",
              "displayName": "raw_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d5a79ae9-4d05-4f10-8083-2f3fd2a8c48d",
      "name": "Postgres: запись кейса",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3216,
        2528
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 1500,
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Финальный ответ').first().json }];"
      },
      "id": "1b80c72a-a74c-4a3f-b88f-ffc3acc693ff",
      "name": "Вернуть результат",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        2528
      ]
    },
    {
      "parameters": {
        "content": "**🧮 Умные поля (код, без нейросети)**\n\nДоделывает поля, требующие обработки: склоняет ФИО работника в дательный падеж («применить к кому»), собирает абзац обстоятельств и нумерованный список приложений. Раньше делала нейросеть — но она копировала текст и ошибалась в склонении.\n\n_Техника: petrovich (если установлен) ИЛИ встроенный JS-fallback склонения; + склейка строк. petrovich подключается через `NODE_FUNCTION_ALLOW_EXTERNAL` и системный путь модулей (на Docker — в образ). Нода не падает без него._",
        "height": 406,
        "width": 316,
        "color": 6
      },
      "id": "bd7ec2fd-79ee-4e0a-94a1-51e3660fce17",
      "name": "📌 note-smart2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        2624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "нужен_акт",
              "leftValue": "={{ $('Объединить значения').first().json.нужен_акт }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "29c69ea5-62c3-4364-b70f-6173fb5b1b44",
      "name": "Нужен акт?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        2480
      ]
    },
    {
      "parameters": {
        "jsCode": "// petrovich — опционально: если установлен, склоняем им (точнее), иначе fallback на JS-правилах\nlet petrovich = null;\ntry { petrovich = require('petrovich'); } catch (e) { petrovich = null; }\n\nconst base = $input.first().json;\nconst U = '[УТОЧНИТЬ]';\n\n// --- fallback-склонение в дательный (без библиотеки) ---\nconst FLEET_M = { 'Павел':'Павлу','Пётр':'Петру','Петр':'Петру','Лев':'Льву' };\nconst datWordM = w => FLEET_M[w] ? FLEET_M[w]\n  : /[ая]$/.test(w) ? w.slice(0,-1)+'е'\n  : /й$/.test(w)    ? w.slice(0,-1)+'ю'\n  : /ь$/.test(w)    ? w.slice(0,-1)+'ю'\n  : w+'у';\nconst datWordF = w => /ия$/.test(w) ? w.slice(0,-2)+'ии'\n  : /[ая]$/.test(w) ? w.slice(0,-1)+'е'\n  : /ь$/.test(w)    ? w.slice(0,-1)+'и'\n  : w;\nconst datLastM = w => /(ский|цкий)$/.test(w) ? w.slice(0,-2)+'ому'\n  : /ой$/.test(w)            ? w.slice(0,-2)+'ому'\n  : /(ый|ий)$/.test(w)       ? w.slice(0,-2)+'ому'\n  : /(ов|ев|ёв|ин|ын)$/.test(w) ? w+'у'\n  : /[бвгджзклмнпрстфхцчшщ]$/.test(w) ? w+'у'\n  : w;\nconst datLastF = w => /(ова|ева|ёва|ина|ына)$/.test(w) ? w.slice(0,-1)+'ой'\n  : /(ская|цкая)$/.test(w) ? w.slice(0,-2)+'ой'\n  : w;\nconst datMid = w => /(ович|евич|ич)$/.test(w) ? w+'у'\n  : /(овна|евна|ична|инична)$/.test(w) ? w.slice(0,-1)+'е'\n  : w;\nfunction fallbackDat(last, first, middle){\n  const m = (middle||'').toLowerCase();\n  const fem = /(вна|чна)$/.test(m);\n  const L = fem ? datLastF(last) : datLastM(last);\n  const F = first  ? (fem ? datWordF(first) : datWordM(first)) : '';\n  const M = middle ? datMid(middle) : '';\n  return [L,F,M].filter(Boolean).join(' ');\n}\n\n// --- склонение ФИО работника в ДАТЕЛЬНЫЙ падеж («применить к кому») ---\nfunction sklonDat(fullname){\n  const s = String(fullname||'').trim();\n  if (!s || s === U) return s || U;\n  const p = s.split(/\\s+/);\n  const last = p[0], first = p[1], middle = p[2];\n  if (petrovich){\n    const m = (middle||'').toLowerCase();\n    let gender = 'androgynous';\n    if (/(вна|чна)$/.test(m)) gender = 'female';\n    else if (/(вич|ич)$/.test(m)) gender = 'male';\n    try {\n      const r = petrovich({ first, last, middle, gender }, 'dative');\n      return [r.last, r.first, r.middle].filter(Boolean).join(' ');\n    } catch (e) { /* падаем во fallback */ }\n  }\n  return fallbackDat(last, first, middle);\n}\nconst дат = sklonDat(base.фио_работника);\n\n// --- обстоятельства: склейка попыток связи + уважительной причины ---\nlet обст = String(base.contactAttempts||'').trim();\nconst прич = String(base.respectableReasonComment||'').trim();\nif (base.respectableReason && прич) {\n  обст += (обст?' ':'') + 'Уважительная причина: ' + прич + (/[.!?]$/.test(прич)?'':'.');\n} else {\n  обст += (обст?' ':'') + 'Уважительная причина не установлена.';\n}\nif (!обст.trim()) обст = U;\n\n// --- приложения: нумерованный список из описания доказательств ---\nconst ev = String(base.evidenceDescription||'').trim();\nlet прил;\nif (!ev) {\n  прил = 'Отсутствуют';\n} else {\n  const lines = ev.split(/[\\n;]+/).map(x => x.trim()).filter(Boolean);\n  прил = lines.map((l,i) => `${i+1}. ${l}`).join('\\n');\n}\n\nreturn [{ json: {\n  ...base,\n  фио_работника_дат: дат,\n  фио_работника_род: дат,   // legacy-дубль: пока шаблон в Drive со старым ключом {{фио_работника_род}}. Убрать после правки Drive.\n  обстоятельства: обст,\n  приложения: прил,\n} }];"
      },
      "id": "c03265bd-5fa3-4cd4-a829-a20a1749d0a2",
      "name": "Объединить значения",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        2480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT file_id, file_b64 FROM hr_evidence WHERE chat_id = $1::text AND file_b64 IS NOT NULL ORDER BY created_at",
        "options": {
          "queryReplacement": "={{ $('Нормализовать данные').first().json.chat_id }}"
        }
      },
      "id": "a9b3ca9e-52fa-4ca0-b098-cac93b11dcb7",
      "name": "Postgres: фото кейса",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2032,
        2400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1mBDymW2s7r3npNUBKW62TRyulUTUUFbDcKFO-X5RW3o",
          "mode": "list",
          "cachedResultName": "Служебная_записка_ШАБЛОН",
          "cachedResultUrl": "https://docs.google.com/document/d/1mBDymW2s7r3npNUBKW62TRyulUTUUFbDcKFO-X5RW3o/edit?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            }
          },
          "fileName": "Служебная_записка.docx"
        }
      },
      "id": "a136c983-6187-4942-8883-7e3b699d8824",
      "name": "Drive: скачать СЗ",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2208,
        2400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "googleApi": {
          "id": "R25HHyTFIZLB7DA2",
          "name": "hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pure-JS raw DEFLATE inflate (RFC 1951), zero require(). Only for testing here;\n// will be inlined into n8n Code node later without any require calls.\n\nfunction inflateRaw(input) {\n  let pos = 0;       // byte position\n  let bitBuf = 0;    // bit accumulator\n  let bitCnt = 0;     // bits currently in accumulator\n\n  function needBits(n) {\n    while (bitCnt < n) {\n      if (pos >= input.length) throw new Error('inflate: unexpected end of input');\n      bitBuf |= input[pos++] << bitCnt;\n      bitCnt += 8;\n    }\n  }\n  function getBits(n) {\n    needBits(n);\n    const val = bitBuf & ((1 << n) - 1);\n    bitBuf >>>= n;\n    bitCnt -= n;\n    return val;\n  }\n  function alignByte() {\n    bitBuf = 0;\n    bitCnt = 0;\n  }\n\n  // Build canonical Huffman decode structure from code lengths.\n  // Returns a function that reads bits one at a time (MSB-first accumulation, per DEFLATE spec)\n  // and returns the decoded symbol.\n  function buildHuffman(lengths) {\n    const maxBits = lengths.reduce((a, b) => Math.max(a, b), 0);\n    const blCount = new Array(maxBits + 1).fill(0);\n    for (const l of lengths) if (l > 0) blCount[l]++;\n    const nextCode = new Array(maxBits + 1).fill(0);\n    let code = 0;\n    blCount[0] = 0;\n    for (let bits = 1; bits <= maxBits; bits++) {\n      code = (code + blCount[bits - 1]) << 1;\n      nextCode[bits] = code;\n    }\n    // map \"len:code\" -> symbol\n    const map = new Map();\n    for (let sym = 0; sym < lengths.length; sym++) {\n      const len = lengths[sym];\n      if (len > 0) {\n        map.set(len * 100000 + nextCode[len], sym);\n        nextCode[len]++;\n      }\n    }\n    return { map, maxBits };\n  }\n\n  function decodeSymbol(huff) {\n    let code = 0;\n    for (let len = 1; len <= huff.maxBits; len++) {\n      code = (code << 1) | getBits(1);\n      const sym = huff.map.get(len * 100000 + code);\n      if (sym !== undefined) return sym;\n    }\n    throw new Error('inflate: invalid huffman code');\n  }\n\n  const LENGTH_BASE = [3,4,5,6,7,8,9,10,11,13,15,17,19,23,27,31,35,43,51,59,67,83,99,115,131,163,195,227,258];\n  const LENGTH_EXTRA = [0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,0];\n  const DIST_BASE = [1,2,3,4,5,7,9,13,17,25,33,49,65,97,129,193,257,385,513,769,1025,1537,2049,3073,4097,6145,8193,12289,16385,24577];\n  const DIST_EXTRA = [0,0,0,0,1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9,10,10,11,11,12,12,13,13];\n  const CLEN_ORDER = [16,17,18,0,8,7,9,6,10,5,11,4,12,3,13,2,14,1,15];\n\n  function fixedLitHuffman() {\n    const lengths = new Array(288);\n    for (let i = 0; i <= 143; i++) lengths[i] = 8;\n    for (let i = 144; i <= 255; i++) lengths[i] = 9;\n    for (let i = 256; i <= 279; i++) lengths[i] = 7;\n    for (let i = 280; i <= 287; i++) lengths[i] = 8;\n    return buildHuffman(lengths);\n  }\n  function fixedDistHuffman() {\n    const lengths = new Array(30).fill(5);\n    return buildHuffman(lengths);\n  }\n\n  const out = [];\n  let outLen = 0;\n\n  function pushByte(b) { out.push(b); outLen++; }\n\n  let finalBlock = false;\n  while (!finalBlock) {\n    finalBlock = getBits(1) === 1;\n    const btype = getBits(2);\n\n    if (btype === 0) {\n      // stored block\n      alignByte();\n      const len = input[pos] | (input[pos + 1] << 8);\n      pos += 4; // skip LEN and ~LEN\n      for (let i = 0; i < len; i++) pushByte(input[pos++]);\n    } else if (btype === 1 || btype === 2) {\n      let litHuff, distHuff;\n      if (btype === 1) {\n        litHuff = fixedLitHuffman();\n        distHuff = fixedDistHuffman();\n      } else {\n        const hlit = getBits(5) + 257;\n        const hdist = getBits(5) + 1;\n        const hclen = getBits(4) + 4;\n        const clLengths = new Array(19).fill(0);\n        for (let i = 0; i < hclen; i++) clLengths[CLEN_ORDER[i]] = getBits(3);\n        const clHuff = buildHuffman(clLengths);\n\n        const allLengths = [];\n        while (allLengths.length < hlit + hdist) {\n          const sym = decodeSymbol(clHuff);\n          if (sym <= 15) {\n            allLengths.push(sym);\n          } else if (sym === 16) {\n            const rep = getBits(2) + 3;\n            const prev = allLengths[allLengths.length - 1];\n            for (let i = 0; i < rep; i++) allLengths.push(prev);\n          } else if (sym === 17) {\n            const rep = getBits(3) + 3;\n            for (let i = 0; i < rep; i++) allLengths.push(0);\n          } else if (sym === 18) {\n            const rep = getBits(7) + 11;\n            for (let i = 0; i < rep; i++) allLengths.push(0);\n          } else {\n            throw new Error('inflate: bad code-length symbol ' + sym);\n          }\n        }\n        const litLengths = allLengths.slice(0, hlit);\n        const distLengths = allLengths.slice(hlit, hlit + hdist);\n        litHuff = buildHuffman(litLengths);\n        distHuff = buildHuffman(distLengths);\n      }\n\n      while (true) {\n        const sym = decodeSymbol(litHuff);\n        if (sym < 256) {\n          pushByte(sym);\n        } else if (sym === 256) {\n          break; // end of block\n        } else {\n          const li = sym - 257;\n          if (li >= LENGTH_BASE.length) throw new Error('inflate: bad length symbol ' + sym);\n          const length = LENGTH_BASE[li] + getBits(LENGTH_EXTRA[li]);\n          const dsym = decodeSymbol(distHuff);\n          const dist = DIST_BASE[dsym] + getBits(DIST_EXTRA[dsym]);\n          let start = outLen - dist;\n          for (let i = 0; i < length; i++) {\n            pushByte(out[start + i]);\n          }\n        }\n      }\n    } else {\n      throw new Error('inflate: unsupported block type ' + btype);\n    }\n  }\n\n  return Buffer.from(out);\n}\n\nconst CRC_TABLE = (() => {\n  const table = new Uint32Array(256);\n  for (let n = 0; n < 256; n++) {\n    let c = n;\n    for (let k = 0; k < 8; k++) c = (c & 1) ? (0xEDB88320 ^ (c >>> 1)) : (c >>> 1);\n    table[n] = c >>> 0;\n  }\n  return table;\n})();\nfunction crc32(buf) {\n  let c = 0xFFFFFFFF;\n  for (let i = 0; i < buf.length; i++) c = CRC_TABLE[(c ^ buf[i]) & 0xFF] ^ (c >>> 8);\n  return (c ^ 0xFFFFFFFF) >>> 0;\n}\n\n// Читаем через ЦЕНТРАЛЬНЫЙ КАТАЛОГ (а не последовательным обходом локальных заголовков) —\n// он ВСЕГДА содержит верные method/crc/compSize/uncompSize/offset, даже если general purpose\n// bit 3 (потоковый режим/data descriptor) установлен и локальные заголовки обнулены.\n// Именно так делает Google Docs при экспорте .docx.\nfunction readZipEntries(buf) {\n  // 1. Найти End Of Central Directory (EOCD), сканируя с конца файла.\n  const EOCD_SIG = 0x06054b50;\n  const minEocd = Math.max(0, buf.length - 22 - 65536);\n  let eocdOffset = -1;\n  for (let i = buf.length - 22; i >= minEocd; i--) {\n    if (buf.readUInt32LE(i) === EOCD_SIG) { eocdOffset = i; break; }\n  }\n  if (eocdOffset === -1) throw new Error('miniz: End Of Central Directory не найден — это не zip-архив?');\n\n  const totalEntries = buf.readUInt16LE(eocdOffset + 10);\n  const centralDirOffset = buf.readUInt32LE(eocdOffset + 16);\n\n  // 2. Пройти central directory.\n  const entries = [];\n  let pos = centralDirOffset;\n  for (let i = 0; i < totalEntries; i++) {\n    const sig = buf.readUInt32LE(pos);\n    if (sig !== 0x02014b50) throw new Error('miniz: битая запись central directory на смещении ' + pos);\n    const method = buf.readUInt16LE(pos + 10);\n    const crc = buf.readUInt32LE(pos + 16);\n    const compSize = buf.readUInt32LE(pos + 20);\n    const uncompSize = buf.readUInt32LE(pos + 24);\n    const nameLen = buf.readUInt16LE(pos + 28);\n    const extraLen = buf.readUInt16LE(pos + 30);\n    const commentLen = buf.readUInt16LE(pos + 32);\n    const localHeaderOffset = buf.readUInt32LE(pos + 42);\n    const name = buf.toString('utf8', pos + 46, pos + 46 + nameLen);\n\n    // 3. Найти начало данных через ЛОКАЛЬНЫЙ заголовок (нужна только длина имени/extra оттуда,\n    //    размеры и crc берём из central directory — они надёжны всегда).\n    const localNameLen = buf.readUInt16LE(localHeaderOffset + 26);\n    const localExtraLen = buf.readUInt16LE(localHeaderOffset + 28);\n    const dataStart = localHeaderOffset + 30 + localNameLen + localExtraLen;\n    const rawData = buf.slice(dataStart, dataStart + compSize);\n\n    entries.push({ name, method, crc, uncompSize, compSize, rawData });\n    pos += 46 + nameLen + extraLen + commentLen;\n  }\n  return entries;\n}\n\nfunction getEntryContent(entry) {\n  if (entry.method === 0) return entry.rawData;\n  if (entry.method === 8) return inflateRaw(entry.rawData);\n  throw new Error('miniz: неизвестный метод сжатия ' + entry.method + ' у ' + entry.name);\n}\n\nfunction writeZip(entries) {\n  const localParts = [];\n  const centralParts = [];\n  let offset = 0;\n\n  for (const e of entries) {\n    const nameBuf = Buffer.from(e.name, 'utf8');\n    let method, crc, size, data;\n    if (e.data !== undefined) {\n      data = Buffer.isBuffer(e.data) ? e.data : Buffer.from(e.data, 'utf8');\n      method = 0;\n      crc = crc32(data);\n      size = data.length;\n    } else {\n      method = e.method;\n      crc = e.crc;\n      size = e.uncompSize;\n      data = e.rawData;\n    }\n    const compSize = data.length;\n\n    const localHeader = Buffer.alloc(30);\n    localHeader.writeUInt32LE(0x04034b50, 0);\n    localHeader.writeUInt16LE(20, 4);\n    localHeader.writeUInt16LE(0, 6);\n    localHeader.writeUInt16LE(method, 8);\n    localHeader.writeUInt16LE(0, 10);\n    localHeader.writeUInt16LE(0, 12);\n    localHeader.writeUInt32LE(crc, 14);\n    localHeader.writeUInt32LE(compSize, 18);\n    localHeader.writeUInt32LE(size, 22);\n    localHeader.writeUInt16LE(nameBuf.length, 26);\n    localHeader.writeUInt16LE(0, 28);\n\n    localParts.push(localHeader, nameBuf, data);\n\n    const centralHeader = Buffer.alloc(46);\n    centralHeader.writeUInt32LE(0x02014b50, 0);\n    centralHeader.writeUInt16LE(20, 4);\n    centralHeader.writeUInt16LE(20, 6);\n    centralHeader.writeUInt16LE(0, 8);\n    centralHeader.writeUInt16LE(method, 10);\n    centralHeader.writeUInt16LE(0, 12);\n    centralHeader.writeUInt16LE(0, 14);\n    centralHeader.writeUInt32LE(crc, 16);\n    centralHeader.writeUInt32LE(compSize, 20);\n    centralHeader.writeUInt32LE(size, 24);\n    centralHeader.writeUInt16LE(nameBuf.length, 28);\n    centralHeader.writeUInt16LE(0, 30);\n    centralHeader.writeUInt16LE(0, 32);\n    centralHeader.writeUInt16LE(0, 34);\n    centralHeader.writeUInt16LE(0, 36);\n    centralHeader.writeUInt32LE(0, 38);\n    centralHeader.writeUInt32LE(offset, 42);\n\n    centralParts.push(centralHeader, nameBuf);\n\n    offset += localHeader.length + nameBuf.length + data.length;\n  }\n\n  const centralOffset = offset;\n  const centralBuf = Buffer.concat(centralParts);\n  const centralSize = centralBuf.length;\n\n  const eocd = Buffer.alloc(22);\n  eocd.writeUInt32LE(0x06054b50, 0);\n  eocd.writeUInt16LE(0, 4);\n  eocd.writeUInt16LE(0, 6);\n  eocd.writeUInt16LE(entries.length, 8);\n  eocd.writeUInt16LE(entries.length, 10);\n  eocd.writeUInt32LE(centralSize, 12);\n  eocd.writeUInt32LE(centralOffset, 16);\n  eocd.writeUInt16LE(0, 20);\n\n  return Buffer.concat([...localParts, centralBuf, eocd]);\n}\n\nconst v = $('Объединить значения').first().json;\nconst SKIP = new Set(['chat_id']);\nconst inBin = $input.item.binary && $input.item.binary.data;\nconst fileName = (inBin && inBin.fileName) || 'Служебная записка.docx';\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nconst entries = readZipEntries(buffer);\nconst byName = {};\nfor (const e of entries) byName[e.name] = e;\n\nconst docEntry = byName['word/document.xml'];\nif (!docEntry) {\n  throw new Error('render_sz: в шаблоне не найден word/document.xml. Найдено записей: ' + entries.length\n    + '. Имена: [' + entries.map(e => e.name).join(' | ') + ']');\n}\nlet xml = getEntryContent(docEntry).toString('utf8');\n\nfor (const [key, val] of Object.entries(v)) {\n  if (SKIP.has(key) || key.endsWith('_file_id') || key === 'скриншоты') continue;\n  xml = xml.split('{{' + key + '}}').join(String(val ?? ''));\n}\n\nlet photos = [];\ntry {\n  const rows = $('Postgres: фото кейса').all().map(i => i.json);\n  const ctx = ($('Нормализовать данные').first().json.context) || {};\n  const order = Array.isArray(ctx.evidenceFiles) ? ctx.evidenceFiles : [];\n  const byId = {};\n  for (const r of rows) if (r.file_b64) byId[r.file_id] = r.file_b64;\n  photos = order.length ? order.filter(id => byId[id]).map(id => byId[id])\n                        : rows.filter(r => r.file_b64).map(r => r.file_b64);\n} catch (e) { photos = []; }\n\nfunction jpegSize(b){ let i=2; while(i<b.length-1){ if(b[i]!==0xFF){i++;continue;} const m=b[i+1];\n  if(m>=0xC0&&m<=0xCF&&m!==0xC4&&m!==0xC8&&m!==0xCC) return {h:b.readUInt16BE(i+5),w:b.readUInt16BE(i+7)};\n  if(m===0xD8||m===0xD9||(m>=0xD0&&m<=0xD7)){i+=2;continue;} i+=2+b.readUInt16BE(i+2);} return null; }\nfunction imgSize(b){ if(b[0]===0xFF&&b[1]===0xD8) return jpegSize(b);\n  if(b[0]===0x89&&b[1]===0x50) return {w:b.readUInt32BE(16),h:b.readUInt32BE(20)}; return null; }\n\nconst newImageEntries = [];\n\nif (photos.length) {\n  let rels = getEntryContent(byName['word/_rels/document.xml.rels']).toString('utf8');\n  let ct = getEntryContent(byName['[Content_Types].xml']).toString('utf8');\n  const MAXW = 5486400;\n  let blocks = '';\n  photos.forEach((b64, idx) => {\n    const n = idx + 1;\n    const buf = Buffer.from(b64, 'base64');\n    const isPng = buf[0] === 0x89 && buf[1] === 0x50;\n    const ext = isPng ? 'png' : 'jpeg';\n    const ctype = isPng ? 'image/png' : 'image/jpeg';\n    const rid = 'rIdEv' + n, fn = 'evidence' + n + '.' + ext, did = 1000 + n;\n    newImageEntries.push({ name: 'word/media/' + fn, data: buf });\n    rels = rels.replace('</Relationships>',\n      '<Relationship Id=\"' + rid + '\" Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/image\" Target=\"media/' + fn + '\"/></Relationships>');\n    if (ct.indexOf('Extension=\"' + ext + '\"') === -1)\n      ct = ct.replace('</Types>', '<Default Extension=\"' + ext + '\" ContentType=\"' + ctype + '\"/></Types>');\n    const sz = imgSize(buf) || { w: 800, h: 600 };\n    let ew = sz.w * 9525, eh = sz.h * 9525;\n    if (ew > MAXW) { eh = Math.round(eh * MAXW / ew); ew = MAXW; }\n    blocks +=\n      '<w:p><w:r><w:rPr><w:b w:val=\"0\"/></w:rPr><w:t>Скриншот ' + n + '</w:t></w:r></w:p>' +\n      '<w:p><w:r><w:drawing><wp:inline distT=\"0\" distB=\"0\" distL=\"0\" distR=\"0\">' +\n      '<wp:extent cx=\"' + ew + '\" cy=\"' + eh + '\"/><wp:effectExtent l=\"0\" t=\"0\" r=\"0\" b=\"0\"/>' +\n      '<wp:docPr id=\"' + did + '\" name=\"Screenshot' + n + '\"/>' +\n      '<a:graphic xmlns:a=\"http://schemas.openxmlformats.org/drawingml/2006/main\">' +\n      '<a:graphicData uri=\"http://schemas.openxmlformats.org/drawingml/2006/picture\">' +\n      '<pic:pic xmlns:pic=\"http://schemas.openxmlformats.org/drawingml/2006/picture\">' +\n      '<pic:nvPicPr><pic:cNvPr id=\"' + did + '\" name=\"Screenshot' + n + '\"/><pic:cNvPicPr/></pic:nvPicPr>' +\n      '<pic:blipFill><a:blip r:embed=\"' + rid + '\"/><a:stretch><a:fillRect/></a:stretch></pic:blipFill>' +\n      '<pic:spPr><a:xfrm><a:off x=\"0\" y=\"0\"/><a:ext cx=\"' + ew + '\" cy=\"' + eh + '\"/></a:xfrm>' +\n      '<a:prstGeom prst=\"rect\"><a:avLst/></a:prstGeom></pic:spPr>' +\n      '</pic:pic></a:graphicData></a:graphic></wp:inline></w:drawing></w:r></w:p>';\n  });\n  xml = xml.split('{{скриншоты}}').join(blocks);\n\n  const outEntries = entries.map(e => {\n    if (e.name === 'word/document.xml') return { name: e.name, data: Buffer.from(xml, 'utf8') };\n    if (e.name === 'word/_rels/document.xml.rels') return { name: e.name, data: Buffer.from(rels, 'utf8') };\n    if (e.name === '[Content_Types].xml') return { name: e.name, data: Buffer.from(ct, 'utf8') };\n    return e;\n  }).concat(newImageEntries);\n\n  const out = writeZip(outEntries);\n  const binary = await this.helpers.prepareBinaryData(out, fileName, 'application/vnd.openxmlformats-officedocument.wordprocessingml.document');\n  return [{ json: { rendered: fileName, screenshots: photos.length }, binary: { data: binary } }];\n} else {\n  xml = xml.split('{{скриншоты}}').join('');\n  const outEntries = entries.map(e => e.name === 'word/document.xml' ? { name: e.name, data: Buffer.from(xml, 'utf8') } : e);\n  const out = writeZip(outEntries);\n  const binary = await this.helpers.prepareBinaryData(out, fileName, 'application/vnd.openxmlformats-officedocument.wordprocessingml.document');\n  return [{ json: { rendered: fileName, screenshots: 0 }, binary: { data: binary } }];\n}\n"
      },
      "id": "61f231e0-d8fe-42de-a41b-f094fe2f66a6",
      "name": "Рендер СЗ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        2400
      ]
    },
    {
      "parameters": {
        "content": "Также отправляем, изменяем ноду, заменяем telegram на матр-мост, чтобы отправлять тем же способом, как мы отправляем наши хвосты сюда же. Выше прикрепил этот набор нод."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        2272
      ],
      "id": "0a33fc37-96ae-4c1a-9d23-dc8076cb9a1d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $('Нормализовать данные').first().json.chat_id }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        2384
      ],
      "id": "c9fcd10b-6ab0-46f0-b69b-9b3993382de3",
      "name": "MM: загрузить акт",
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel_id: $('Нормализовать данные').first().json.chat_id, message: '📄 Акт об отсутствии', file_ids: [$json.file_infos[0].id] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        2384
      ],
      "id": "aab192af-db40-4608-846c-6f4511355281",
      "name": "MM: пост акт",
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $('Нормализовать данные').first().json.chat_id }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2544,
        2400
      ],
      "id": "c8a13e44-a0ad-44ad-a14f-a66834de66b7",
      "name": "MM: загрузить СЗ",
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel_id: $('Нормализовать данные').first().json.chat_id, message: '📝 Служебная записка', file_ids: [$json.file_infos[0].id] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2752,
        2400
      ],
      "id": "c90c80db-9741-4610-b120-40a0b5732dab",
      "name": "MM: пост СЗ",
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "Вызов из агента": [
      {
        "json": {
          "query": "{\n  \"scenario\": \"progul_ochny\",\n  \"employee\": {\n    \"name\": \"Портнягин Александр Михайлович\",\n    \"position\": \"Менеджер проектов\",\n    \"department\": \"Проектно-продуктовый офис\"\n  },\n  \"manager\": {\n    \"name\": \"Клюев Олег Андреевич\",\n    \"position\": \"Менеджер проектов\",\n    \"department\": \"Проектно-продуктовый офис\"\n  },\n  \"workplace\": {\n    \"city\": \"Екатеринбург\",\n    \"address\": \"Народной Воли 19а\"\n  },\n  \"witnesses\": [\n    {\n      \"name\": \"Марченко Андрей Александрович\",\n      \"position\": \"Менеджер проектов\"\n    }\n  ],\n  \"violation\": {\n    \"date\": \"2026-07-13\",\n    \"discoveryDate\": \"2026-07-13\",\n    \"absenceStart\": \"09:00\",\n    \"absenceEnd\": \"18:00\"\n  },\n  \"respectableReason\": false,\n  \"respectableReasonComment\": \"\",\n  \"evidenceDescription\": \"Не отвечал на звонки, сфотографировано пустое рабочее место\",\n  \"contactAttempts\": \"Звонок по телефону, письмо на рабочую почту — реакции нет\"\n}",
          "scenario": "",
          "employee": "",
          "manager": "",
          "workplace": "",
          "witnesses": "",
          "violation": "",
          "respectableReason": "",
          "respectableReasonComment": "",
          "evidenceDescription": "",
          "contactAttempts": "",
          "chat_id": "obga3gxqt7yeipg8ecuj46dbye"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Ollama: нарушения": {
      "main": [
        [
          {
            "node": "Объединить нарушения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сборка промпта (нарушение)": {
      "main": [
        [
          {
            "node": "Статус: анализ нарушения1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ollama: нарушения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вызов из агента": {
      "main": [
        [
          {
            "node": "Нормализовать данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Значения документов": {
      "main": [
        [
          {
            "node": "Объединить значения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Статус: готовлю документы": {
      "main": [
        [
          {
            "node": "Нужен акт?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: скачать акт": {
      "main": [
        [
          {
            "node": "Рендер акта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Рендер акта": {
      "main": [
        [
          {
            "node": "MM: загрузить акт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужна СЗ?": {
      "main": [
        [
          {
            "node": "Postgres: фото кейса",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Финальный ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нормализовать данные": {
      "main": [
        [
          {
            "node": "Vision: анализ доказательств (заглушка)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision: анализ доказательств (заглушка)": {
      "main": [
        [
          {
            "node": "Значения документов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Финальный ответ": {
      "main": [
        [
          {
            "node": "Postgres: запись кейса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: запись кейса": {
      "main": [
        [
          {
            "node": "Вернуть результат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужен акт?": {
      "main": [
        [
          {
            "node": "Drive: скачать акт",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Нужна СЗ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединить значения": {
      "main": [
        [
          {
            "node": "Статус: готовлю документы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: фото кейса": {
      "main": [
        [
          {
            "node": "Drive: скачать СЗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: скачать СЗ": {
      "main": [
        [
          {
            "node": "Рендер СЗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Рендер СЗ": {
      "main": [
        [
          {
            "node": "MM: загрузить СЗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM: загрузить акт": {
      "main": [
        [
          {
            "node": "MM: пост акт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM: пост акт": {
      "main": [
        [
          {
            "node": "Нужна СЗ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM: загрузить СЗ": {
      "main": [
        [
          {
            "node": "MM: пост СЗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM: пост СЗ": {
      "main": [
        [
          {
            "node": "Финальный ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "48139b81-c02c-4600-be92-9844dd1c8e5c",
  "meta": {
    "instanceId": "b3d36343f45620c725ef3c6f9f9a245602756137b7380d1eea459f0cd49f51da"
  },
  "id": "DoLH2C1TxrIalbUS",
  "tags": []
}