n8n/workflows/Генерация документов.json
{
  "name": "Генерация документов",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "723a15a2-85a4-4315-b44c-19a30b0c4b0e",
      "name": "Вызов из агента",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1424,
        1296
      ]
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nconst ctx = inp.context || {};\nconst emp = ctx.employee || {}, vio = ctx.violation || {}, mgr = ctx.manager || {};\nconst wp = ctx.workplace || {};\nconst wit = Array.isArray(ctx.witnesses) ? ctx.witnesses : [];\nconst w1 = wit[0] || {}, w2 = wit[1] || {};\nconst U = '[УТОЧНИТЬ]';\nfunction ru(d){ const m = String(d||'').match(/^(\\d{4})-(\\d{2})-(\\d{2})$/); return m ? `${m[3]}.${m[2]}.${m[1]}` : (d || U); }\nconst scenario = ctx.scenario || 'progul_ochny';\n// какие документы нужны для сценария (расширяемо под новые проекты)\nconst DOC_MAP = {\n  progul_ochny: { нужен_акт: true,  нужна_сз: true },\n  zaglushka:    { нужен_акт: false, нужна_сз: true },\n};\nconst docs = DOC_MAP[scenario] || { нужен_акт: true, нужна_сз: true };\nconst t = new Date();\nconst dd = String(t.getDate()).padStart(2,'0'), mm = String(t.getMonth()+1).padStart(2,'0'), yyyy = t.getFullYear();\nconst hh = String(t.getHours()).padStart(2,'0'), mi = String(t.getMinutes()).padStart(2,'0');\nreturn [{ json: {\n  нужен_акт: docs.нужен_акт,\n  нужна_сз: docs.нужна_сз,\n  акт_file_id: '1pz4mHqz6dleQKZvit3VRfXs_h95VWqKl',\n  сз_file_id: '1iiqEDumDy61qRr9lv0kFGpkUB3hTpkWd',\n  chat_id: inp.chat_id,\n  // --- сырые поля для промпта Ollama (чтобы не было far-reference) ---\n  contactAttempts: ctx.contactAttempts || '',\n  respectableReason: !!ctx.respectableReason,\n  respectableReasonComment: ctx.respectableReasonComment || '',\n  evidenceDescription: ctx.evidenceDescription || '',\n  // --- плейсхолдеры шаблонов (25) ---\n  организация: 'АО «ПФ «СКБ Контур»',\n  город: wp.city || U,\n  адрес: wp.address || U,\n  время_составления: `${hh}:${mi}`,\n  дата_составления: `${dd}.${mm}.${yyyy}`,\n  год: String(yyyy),\n  дата_отсутствия: ru(vio.date),\n  время_начала: vio.absenceStart || U,\n  время_окончания: vio.absenceEnd || U,\n  подразделение: emp.department || U,\n  должность_работника: emp.position || U,\n  фио_работника: emp.name || U,\n  должность_составителя: mgr.position || U,\n  фио_составителя: mgr.name || U,\n  свидетель_1_фио: w1.name || U,\n  свидетель_1_должность: w1.position || U,\n  свидетель_2_фио: w2.name || U,\n  свидетель_2_должность: w2.position || U,\n  должность_руководителя_организации: 'Директору',\n  фио_руководителя_организации: '',\n  должность_автора: mgr.position || U,\n  подразделение_автора: mgr.department || U,\n  фио_автора: mgr.name || U,\n} }];"
      },
      "id": "ffbae2fb-b53a-4c92-b569-aa2861733019",
      "name": "Значения документов",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel_id: $('Нормализовать данные').first().json.chat_id, message: '⏳ Формирую документы…' }) }}",
        "options": {}
      },
      "id": "d6c47a77-eaf7-413b-afb2-861c48555007",
      "name": "Статус: готовлю документы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        1360
      ],
      "webhookId": "p11-Статус: готовлю документы",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 1500,
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Объединить значения').first().json.акт_file_id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            }
          },
          "fileName": "Акт_об_отсутствии.docx"
        }
      },
      "id": "e7dc8542-d15f-442e-a046-6d9c18995f6b",
      "name": "Drive: скачать акт",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        1376
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "googleApi": {
          "id": "R25HHyTFIZLB7DA2",
          "name": "hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const AdmZip = require('adm-zip');\nconst v = $('Объединить значения').first().json;\nconst SKIP = new Set(['chat_id']);\nconst inBin = $input.item.binary.data;\nconst fileName = (inBin && inBin.fileName) || 'Документ.docx';\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst zip = new AdmZip(buffer);\nlet xml = zip.readAsText('word/document.xml');\nfor (const [key, val] of Object.entries(v)) {\n  if (SKIP.has(key) || key.endsWith('_file_id')) continue;\n  xml = xml.split('{{' + key + '}}').join(String(val ?? ''));\n}\nzip.updateFile('word/document.xml', Buffer.from(xml, 'utf8'));\nconst out = zip.toBuffer();\nconst binary = await this.helpers.prepareBinaryData(out, fileName, 'application/vnd.openxmlformats-officedocument.wordprocessingml.document');\nreturn [{ json: { rendered: fileName }, binary: { data: binary } }];\n"
      },
      "id": "a09c4c17-e851-4bed-a386-6915a3396701",
      "name": "Рендер акта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        1376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "нужна_сз",
              "leftValue": "={{ $('Объединить значения').first().json.нужна_сз }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9ae78b40-c0fa-44bc-b083-1ae9070878a6",
      "name": "Нужна СЗ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1616,
        1536
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-progul",
                    "leftValue": "={{ $json.context.scenario }}",
                    "rightValue": "progul_ochny",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "progul_ochny"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "06cc0ebb-33ca-48a6-a59a-fe5a380a509c",
      "name": "Выбор сценария1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -944,
        1328
      ]
    },
    {
      "parameters": {
        "jsCode": "// Чеклист подгружается ДИНАМИЧЕСКИ из Google Drive (нода «Drive: скачать чеклист»).\n// Источник правды: knowledge/progul_checklist.md → выгружен в Google Drive\n// (fileId 1AkZ9oCM6EzNHewmEiwqvERmq9cKDMt0V). Команда правит чеклист прямо в Drive.\n// Сроки ст.193 здесь НЕ дублируются — они проверяются в main-агенте (calc_deadlines).\nconst AdmZip = require('adm-zip');\nlet checklist = '[чеклист не загружен из Drive]';\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  if (buf && buf.length) {\n    // Google Doc export=text/plain → обычный текст; .docx → zip (PK..) → достаём из word/document.xml\n    if (buf[0] === 0x50 && buf[1] === 0x4B) {\n      const zip = new AdmZip(buf);\n      const xml = zip.readAsText('word/document.xml');\n      checklist = xml.replace(/<\\/w:p>/g, '\\n').replace(/<[^>]+>/g, '').replace(/[ \\t]+/g, ' ').trim();\n    } else {\n      checklist = buf.toString('utf8').replace(/^\\uFEFF/, '').trim();\n    }\n  }\n} catch (e) {\n  checklist = '[ошибка загрузки чеклиста из Drive: ' + e.message + ']';\n}\n\nconst d = $('Нормализовать данные').first().json;\nreturn [{ json: { ...d, checklist_content: checklist } }];"
      },
      "id": "ec0bad14-d2ab-4c37-9698-400cac7bc196",
      "name": "Прочитать данные прогула",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet data = raw;\nif (raw.query && typeof raw.query === 'object' && !Array.isArray(raw.query)) {\n  data = raw.query;\n} else if (typeof raw.input === 'string') {\n  try { data = JSON.parse(raw.input); } catch(e) {}\n} else if (typeof raw.query === 'string') {\n  try { data = JSON.parse(raw.query); } catch(e) {}\n}\nif (!data.employee) throw new Error('hr_generate: не переданы данные employee. Получено: ' + JSON.stringify(raw));\nif (!data.violation) throw new Error('hr_generate: не переданы данные violation.');\ndata.scenario = data.scenario || 'progul_ochny';\nreturn [{ json: {\n  context: data,\n  chat_id: data.chat_id || raw.chat_id || null,\n  evidence: data.evidence || raw.evidence || null,\n  violationDate: data.violation.date,\n  discoveryDate: data.violation.discoveryDate\n} }];\n"
      },
      "id": "124a866c-d076-498a-ad64-4d4927c0964a",
      "name": "Нормализовать данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        1296
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Нормализовать данные').first().json.chat_id }}",
        "text": "⏳ Анализирую нарушение…",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "76d4129c-7821-4ff6-ba98-c4c0f868e3a7",
      "name": "Статус: анализ нарушения1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        576
      ],
      "webhookId": "hrgen-Статус: анализ нарушения",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 1500,
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "1AkZ9oCM6EzNHewmEiwqvERmq9cKDMt0V"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          },
          "fileName": "progul_checklist.txt"
        }
      },
      "id": "0e18cfaf-04e6-4ed2-be82-82bd7fd9a463",
      "name": "Drive: скачать чеклист",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -704,
        1040
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "googleApi": {
          "id": "R25HHyTFIZLB7DA2",
          "name": "hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "content": "## Добавить новый сценарий\n\n1. В «Выбор сценария» (Switch) добавить ветку под новый scenario-ключ.\n2. В ноде **«Значения документов»** → карта `DOC_MAP`: добавить строку\n   `scenario: { нужен_акт: true/false, нужна_сз: true/false }`.\n3. Если нужны другие шаблоны — положить .docx в Google Drive, прописать fileId\n   в «Значения документов» (акт_file_id / сз_file_id).\n\nРазвилки «Нужен акт?» / «Нужна СЗ?» сами включат/выключат рендер по флагам.",
        "height": 220,
        "width": 360,
        "color": 7
      },
      "id": "ec5aeb7a-e7c6-463f-84eb-4c64957459f3",
      "name": "📌 Добавить новый сценарий1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2016,
        1280
      ]
    },
    {
      "parameters": {
        "content": "## Генерация документов (v6 — рендер .docx)\n\n**Вызывается из** HR-агента как tool `generate_documents`.\n\n**Поток:**\n1. Нормализовать данные → Выбор сценария → (данные прогула / заглушка)\n2. Vision (заглушка) → Промпт нарушения (RAG) → Ollama: нарушения\n3. **Значения документов** (маппинг context → плейсхолдеры + флаги DOC_MAP)\n4. **Ollama: умные значения** (падеж ФИО, обстоятельства, приложения — JSON)\n5. **Объединить значения** → развилки **Нужен акт? / Нужна СЗ?**\n6. Для каждого нужного документа: **Drive скачать шаблон → Рендер (adm-zip) → Telegram sendDocument**\n7. Финальный ответ (краткий) → Postgres кейс → Вернуть результат\n\n**Шаблоны** — в Google Drive (.docx с {{плейсхолдерами}}). Скачиваются Service Account'ом (только чтение), заполняются локально через adm-zip, не копируются (обход quota).\n\n⚠️ Нужен n8n с `NODE_FUNCTION_ALLOW_EXTERNAL=adm-zip`.",
        "height": 740,
        "width": 980,
        "color": 4
      },
      "id": "f06cce4e-f08e-4fac-93e1-5a37e3bfca03",
      "name": "📌 HR Generate — всё в одном1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2608,
        912
      ]
    },
    {
      "parameters": {
        "content": "**📨 Старт генерации**\n\nСюда приходит команда от диалогового агента «собери документы» — вместе со всеми данными о сотруднике и нарушении.\n\n_Техника: Execute Workflow Trigger (toolWorkflow), данные в `$json`._",
        "height": 282,
        "width": 248,
        "color": 6
      },
      "id": "559a5ee2-aa05-4a21-9ff8-4d3e29e42478",
      "name": " 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        1456
      ]
    },
    {
      "parameters": {
        "content": "**✍️ Заполнение полей документа**\n\nПревращает собранные факты в готовые значения для шаблона: переводит даты в привычный вид (15.06.2026), подставляет название организации, решает — нужен ли акт и/или служебная записка.\n\n_Техника: маппинг context → 25 плейсхолдеров, дефолты `[УТОЧНИТЬ]`, флаги `DOC_MAP`._",
        "height": 262,
        "width": 268,
        "color": 6
      },
      "id": "c7df87a1-3cd8-46f4-952a-1f7427f86d24",
      "name": "📌 note-values1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1408,
        160
      ]
    },
    {
      "parameters": {
        "content": "**🧠 Умные поля (нейросеть)**\n\nДоделывает то, что требует «живого» русского языка: склоняет ФИО в нужный падеж, пишет абзац обстоятельств и список приложений.\n\n_Техника: qwen2.5:7b, format=json → фио_работника_род, обстоятельства, приложения._",
        "height": 230,
        "width": 300,
        "color": 6
      },
      "id": "e21b6941-eff1-4a0f-9726-f29afd16c21a",
      "name": "📌 note-smart1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1712,
        192
      ]
    },
    {
      "parameters": {
        "content": "**🖨️ Заполнение бланка**\n\nВставляет все данные в скачанный бланк и получает готовый документ Word, который можно подписать.\n\n_Техника: adm-zip — распаковка .docx, замена {{плейсхолдеров}}, упаковка обратно. Нужен NODE_FUNCTION_ALLOW_EXTERNAL=adm-zip._",
        "height": 262,
        "width": 228,
        "color": 6
      },
      "id": "41edb12f-4631-4e26-b053-c0df784bf537",
      "name": "📌 note-render1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        1072
      ]
    },
    {
      "parameters": {
        "content": "**📄 Загрузка шаблона**\n\nСкачивает чистый бланк документа (.docx) из Google Drive, чтобы заполнить его данными.\n\n_Техника: Service Account, только чтение (без quota). fileId из «Значения документов»._",
        "height": 246,
        "width": 236,
        "color": 6
      },
      "id": "f4cd097e-695b-40c1-ade7-27483635d50e",
      "name": "📌 note-drive1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        1072
      ]
    },
    {
      "parameters": {
        "content": "**🔀 Выбор сценария**\n\nОпределяет, по какому пути пойдёт оформление. Сейчас работает только один — очный прогул (сотрудник не пришёл в офис), всё остальное уходит в заглушку.\n\n_Техника: Switch по полю `scenario`._",
        "height": 308,
        "width": 180
      },
      "id": "94e812c0-ddb9-4530-81d7-d82b2d213ead",
      "name": "📌 HR Generate — всё в одном7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1024,
        976
      ]
    },
    {
      "parameters": {
        "content": "**📋 Чеклист прогула**\n\nПодтягивает памятку «что нужно для оформления прогула». Она лежит в Google Drive — кадровики правят её сами, без программиста.\n\n_Техника: читает `checklist_content` из Drive (fileId 1AkZ9…).",
        "height": 244,
        "width": 376,
        "color": 6
      },
      "id": "9c2d8d1d-2588-4f0c-bb0a-9326d68a4ed8",
      "name": "        ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        768
      ]
    },
    {
      "parameters": {
        "content": "**🚧 Заглушка (прочие случаи)**\n\nВременная пустышка для сценариев, которые ещё не сделаны. Сообщает, что случай пока не поддерживается.\n\n_Техника: TODO, возвращает пустые данные + сообщение._",
        "height": 186,
        "width": 312,
        "color": 3
      },
      "id": "3cde4f25-e24d-443f-9b28-6cb2bd7c7705",
      "name": "         ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        1632
      ]
    },
    {
      "parameters": {
        "content": "**👁️ Разбор фото (заглушка)**\n\nПока не умеет «смотреть» на фото-доказательства — просто берёт текстовое описание, которое дал руководитель.\n\n_Техника: STUB, передаёт evidenceDescription как analysis. Заменить на HTTP к qwen2-vl/llava._",
        "height": 250,
        "width": 216,
        "color": 3
      },
      "id": "a8bda5d9-ed44-4b17-a4e3-edd7ed325663",
      "name": "          ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        1072
      ]
    },
    {
      "parameters": {
        "content": "**📝 Сборка задания для нейросети**\n\nСобирает в одно «письмо» для нейросети: данные о сотруднике + памятку-чеклист, чтобы она грамотно описала нарушение.\n\n_Техника: формирует `prompt_rag` (данные + чеклист из Drive). ",
        "height": 330,
        "width": 200,
        "color": 6
      },
      "id": "3566b09d-d31d-4301-b08b-40ac2d67298b",
      "name": "           ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "**🤖 Описание нарушения (нейросеть)**\n\nЛокальная нейросеть формулирует суть нарушения со ссылками на трудовой кодекс.\n\n_Техника: HTTP POST к qwen2.5:7b, таймаут 60с._",
        "height": 330,
        "width": 200,
        "color": 6
      },
      "id": "25382b36-8a7e-4840-a10f-715d82d8e5b5",
      "name": "            ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "content": "**🔗 Сборка контекста**\n\nСоединяет формулировку нарушения от нейросети со всеми остальными данными, чтобы ничего не потерялось.\n\n_Техника: берёт violations из Ollama, восстанавливает контекст из Vision-ноды по имени._",
        "height": 314,
        "width": 200,
        "color": 6
      },
      "id": "7cf704ee-231e-4331-b640-14db6fd8babb",
      "name": "             ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "content": "**❓ Какие документы делать**\n\nРазвилка: смотрит, нужен ли в этом сценарии акт и нужна ли служебная записка — и включает только нужное.\n\n_Техника: IF по флагам `нужен_акт` / `нужна_сз` из DOC_MAP._",
        "height": 234,
        "width": 408,
        "color": 6
      },
      "id": "66a11b0b-f960-4920-a0e9-6a3cf56e5ec7",
      "name": "              ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        1664
      ]
    },
    {
      "parameters": {
        "content": "**✅ Готово**\n\nСообщает агенту, что документы собраны. Сами файлы Word при этом уходят руководителю в Telegram.\n\n_Техника: краткий текст агенту; .docx уходят через Telegram sendDocument._",
        "height": 218,
        "width": 312,
        "color": 6
      },
      "id": "bbdfbcbd-049d-47ff-9549-51a64170ed66",
      "name": "                     ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2544,
        1216
      ]
    },
    {
      "parameters": {
        "content": "**📥 Приём данных от агента**\n\nБерёт всё, что прислал агент (ФИО сотрудника, даты, свидетели и пр.), и раскладывает по полочкам для дальнейшей работы.\n\n_Техника: распаковывает `$json.query` от toolWorkflow, проверяет наличие employee и violation._",
        "height": 314,
        "width": 200,
        "color": 6
      },
      "id": "2b23a9d0-e2f1-41be-8015-ac8a50b56865",
      "name": "  ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1232,
        1456
      ]
    },
    {
      "parameters": {
        "jsCode": "// TODO: добавить knowledge-файлы и убрать эту заглушку\n// Инструкция в sticky note «Добавить новый сценарий» (см. выше)\nconst d = $input.first().json;\nconst scenario = d.context?.scenario || 'unknown';\nreturn [{ json: {\n  ...d,\n  checklist_content: `[ЗАГЛУШКА] Сценарий \"${scenario}\" не реализован. Добавьте knowledge/${scenario}_checklist.md`\n} }];"
      },
      "id": "3dc343f9-a5a9-486f-9cd5-2e172c3210dc",
      "name": "Сценарий: заглушка",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        1472
      ]
    },
    {
      "parameters": {
        "jsCode": "// VISION STUB v1 — TODO: заменить на HTTP Request к vision-модели Ollama (qwen2-vl / llava)\n// Интерфейс: принимает evidenceDescription, возвращает { vision_stub, analysis }\n// При замене: убрать этот нод, добавить HTTP Request к http://127.0.0.1:11434/api/generate\n// с моделью qwen2-vl и base64-изображением в поле images[]\nconst d = $input.first().json;\nconst desc = d.context?.evidenceDescription || 'Доказательства не предоставлены';\nreturn [{ json: {\n  ...d,\n  vision_analysis: {\n    vision_stub: true,\n    analysis: desc,\n    _note: 'STUB: заменить на реальную vision-модель Ollama'\n  }\n} }];"
      },
      "id": "a058f983-d9cf-4167-9824-e9ab50fc8584",
      "name": "Vision: анализ доказательств (заглушка)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        1360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt_rag }}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "6fb9ce54-c2da-4086-9c54-d99b532f06b9",
      "name": "Ollama: нарушения",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        368
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst violations = r.response?.trim() || '[Не удалось сформулировать нарушение]';\nconst prev = $('Vision: анализ доказательств (заглушка)').first().json;\nreturn [{ json: {\n  context: prev.context,\n  chat_id: prev.chat_id,\n  dates: prev.dates,\n  checklist_content: prev.checklist_content,\n  vision_analysis: prev.vision_analysis,\n  violations\n} }];"
      },
      "id": "4eff73a2-c7ae-45cd-8593-0e9ab8762d8a",
      "name": "Объединить нарушения",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        368
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const out = '✅ Готово! Акт об отсутствии и служебная записка сформированы и отправлены файлами выше.\\n\\n'\n  + '⚠️ Проверьте документы и заполните поля [УТОЧНИТЬ] (свидетели, адрес, руководитель организации) перед подписанием.\\n'\n  + 'Передайте готовый пакет Черепановой Т. или Касмыниной О.';\nreturn [{ json: { output: out } }];\n"
      },
      "id": "160c704e-3ab1-483d-90f7-ca25e007b0e5",
      "name": "Финальный ответ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        1504
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "hr_cases",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Нормализовать данные').first().json.chat_id }}",
            "manager_name": "={{ $('Нормализовать данные').first().json.context.manager.name }}",
            "employee_name": "={{ $('Нормализовать данные').first().json.context.employee.name }}",
            "department": "={{ $('Нормализовать данные').first().json.context.employee.department }}",
            "scenario": "={{ $('Нормализовать данные').first().json.context.scenario }}",
            "violation_date": "={{ $('Нормализовать данные').first().json.context.violation.date }}",
            "discovery_date": "={{ $('Нормализовать данные').first().json.context.violation.discoveryDate }}",
            "is_expired": "={{ false }}",
            "docs_generated": "={{ true }}",
            "raw_data": "={{ JSON.stringify($('Нормализовать данные').first().json.context) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "manager_name",
              "displayName": "manager_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employee_name",
              "displayName": "employee_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scenario",
              "displayName": "scenario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "violation_date",
              "displayName": "violation_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "discovery_date",
              "displayName": "discovery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_expired",
              "displayName": "is_expired",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "docs_generated",
              "displayName": "docs_generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_data",
              "displayName": "raw_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8c6a285e-14c8-46b0-b79b-34a3f00d6884",
      "name": "Postgres: запись кейса",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2736,
        1504
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 1500,
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Финальный ответ').first().json }];"
      },
      "id": "dd058bcb-eda6-4644-98a3-e9aa1ad1a655",
      "name": "Вернуть результат",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        1504
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst ctx = d.context;\nconst prompt = `Ты — юридический ассистент по трудовому праву. Твоя задача — кратко и точно сформулировать нарушение трудовых обязанностей со ссылками на нормативные акты.\\n\\n## Данные о нарушении\\nСотрудник: ${ctx.employee?.name || '[не указано]'}\\nДолжность: ${ctx.employee?.position || '[не указано]'}\\nПодразделение: ${ctx.employee?.department || '[не указано]'}\\nДата нарушения: ${ctx.violation?.date || '[не указано]'}\\nОписание: ${ctx.violation?.description || 'Прогул — отсутствие на рабочем месте без уважительной причины'}\\nУважительная причина: ${ctx.respectableReason ? 'Есть: ' + ctx.respectableReasonComment : 'Отсутствует'}\\n\\n## Чеклист (внутренняя инструкция)\\n${d.checklist_content}\\n\\n## Задача\\nСформулируй нарушение в 2-4 предложениях для включения в служебную записку. Укажи конкретные статьи, пункты. Формат: юридически грамотно, сухо, без лишних слов.\\nОтвечай ТОЛЬКО формулировкой нарушения, без вводных фраз.`;\nreturn [{ json: { ...d, prompt_rag: prompt } }];"
      },
      "id": "208a0a78-7148-4162-a37e-e7e87f24bbca",
      "name": "Сборка промпта (нарушение)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        368
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "🔮 **Слот под RAG (ВЫКЛЮЧЕНО) ** \n\nЭтот блок сейчас отключён и в обход — поток идёт Vision → «Значения документов».\n\n**Почему выключен:** первый вызов нейросети дублировал «обстоятельства» (только с кривой ссылкой на ТК) и шёл в мусорку. Держать боевой 60с-вызов вхолостую на каждом прогоне — дорого, особенно на CPU-сервере.\n\n**Когда включать — при подключении векторной базы ЛНА (ROADMAP P1.2):**\n1. Включить ноды островка (disabled → off).\n2. Подавать сюда top-N релевантных чанков из вект. БД вместо одного чеклиста.\n3. Добавить плейсхолдер `формулировка_нарушения` в шаблон СЗ.\n4. Пробросить результат в документ (в «Значения» / «Объединить значения»).\n5. Вернуть промежуточный статус «⏳ Анализирую нарушение».\n\n\nИдея - агрегатор и суммаризатор по нарушению",
        "height": 380,
        "width": 644,
        "color": 5
      },
      "id": "dc3c39fa-7c46-4c8c-a34f-b31ef7f4aa8c",
      "name": "Sticky: RAG slot",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        384
      ]
    },
    {
      "parameters": {
        "content": "**🧮 Умные поля (код, без нейросети)**\n\nДоделывает поля, требующие обработки: склоняет ФИО работника в дательный падеж («применить к кому»), собирает абзац обстоятельств и нумерованный список приложений. Раньше делала нейросеть — но она копировала текст и ошибалась в склонении.\n\n_Техника: petrovich (если установлен) ИЛИ встроенный JS-fallback склонения; + склейка строк. petrovich подключается через `NODE_FUNCTION_ALLOW_EXTERNAL` и системный путь модулей (на Docker — в образ). Нода не падает без него._",
        "height": 406,
        "width": 316,
        "color": 6
      },
      "id": "cbdc998f-369a-4f63-a122-b6155fa71557",
      "name": "📌 note-smart2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        1504
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "нужен_акт",
              "leftValue": "={{ $('Объединить значения').first().json.нужен_акт }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2db6f5d3-0ff0-4f65-b5fc-986cad8a4318",
      "name": "Нужен акт?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        1536
      ]
    },
    {
      "parameters": {
        "jsCode": "// petrovich — опционально: если установлен, склоняем им (точнее), иначе fallback на JS-правилах\nlet petrovich = null;\ntry { petrovich = require('petrovich'); } catch (e) { petrovich = null; }\n\nconst base = $input.first().json;\nconst U = '[УТОЧНИТЬ]';\n\n// --- fallback-склонение в дательный (без библиотеки) ---\nconst FLEET_M = { 'Павел':'Павлу','Пётр':'Петру','Петр':'Петру','Лев':'Льву' };\nconst datWordM = w => FLEET_M[w] ? FLEET_M[w]\n  : /[ая]$/.test(w) ? w.slice(0,-1)+'е'\n  : /й$/.test(w)    ? w.slice(0,-1)+'ю'\n  : /ь$/.test(w)    ? w.slice(0,-1)+'ю'\n  : w+'у';\nconst datWordF = w => /ия$/.test(w) ? w.slice(0,-2)+'ии'\n  : /[ая]$/.test(w) ? w.slice(0,-1)+'е'\n  : /ь$/.test(w)    ? w.slice(0,-1)+'и'\n  : w;\nconst datLastM = w => /(ский|цкий)$/.test(w) ? w.slice(0,-2)+'ому'\n  : /ой$/.test(w)            ? w.slice(0,-2)+'ому'\n  : /(ый|ий)$/.test(w)       ? w.slice(0,-2)+'ому'\n  : /(ов|ев|ёв|ин|ын)$/.test(w) ? w+'у'\n  : /[бвгджзклмнпрстфхцчшщ]$/.test(w) ? w+'у'\n  : w;\nconst datLastF = w => /(ова|ева|ёва|ина|ына)$/.test(w) ? w.slice(0,-1)+'ой'\n  : /(ская|цкая)$/.test(w) ? w.slice(0,-2)+'ой'\n  : w;\nconst datMid = w => /(ович|евич|ич)$/.test(w) ? w+'у'\n  : /(овна|евна|ична|инична)$/.test(w) ? w.slice(0,-1)+'е'\n  : w;\nfunction fallbackDat(last, first, middle){\n  const m = (middle||'').toLowerCase();\n  const fem = /(вна|чна)$/.test(m);\n  const L = fem ? datLastF(last) : datLastM(last);\n  const F = first  ? (fem ? datWordF(first) : datWordM(first)) : '';\n  const M = middle ? datMid(middle) : '';\n  return [L,F,M].filter(Boolean).join(' ');\n}\n\n// --- склонение ФИО работника в ДАТЕЛЬНЫЙ падеж («применить к кому») ---\nfunction sklonDat(fullname){\n  const s = String(fullname||'').trim();\n  if (!s || s === U) return s || U;\n  const p = s.split(/\\s+/);\n  const last = p[0], first = p[1], middle = p[2];\n  if (petrovich){\n    const m = (middle||'').toLowerCase();\n    let gender = 'androgynous';\n    if (/(вна|чна)$/.test(m)) gender = 'female';\n    else if (/(вич|ич)$/.test(m)) gender = 'male';\n    try {\n      const r = petrovich({ first, last, middle, gender }, 'dative');\n      return [r.last, r.first, r.middle].filter(Boolean).join(' ');\n    } catch (e) { /* падаем во fallback */ }\n  }\n  return fallbackDat(last, first, middle);\n}\nconst дат = sklonDat(base.фио_работника);\n\n// --- обстоятельства: склейка попыток связи + уважительной причины ---\nlet обст = String(base.contactAttempts||'').trim();\nconst прич = String(base.respectableReasonComment||'').trim();\nif (base.respectableReason && прич) {\n  обст += (обст?' ':'') + 'Уважительная причина: ' + прич + (/[.!?]$/.test(прич)?'':'.');\n} else {\n  обст += (обст?' ':'') + 'Уважительная причина не установлена.';\n}\nif (!обст.trim()) обст = U;\n\n// --- приложения: нумерованный список из описания доказательств ---\nconst ev = String(base.evidenceDescription||'').trim();\nlet прил;\nif (!ev) {\n  прил = 'Отсутствуют';\n} else {\n  const lines = ev.split(/[\\n;]+/).map(x => x.trim()).filter(Boolean);\n  прил = lines.map((l,i) => `${i+1}. ${l}`).join('\\n');\n}\n\nreturn [{ json: {\n  ...base,\n  фио_работника_дат: дат,\n  фио_работника_род: дат,   // legacy-дубль: пока шаблон в Drive со старым ключом {{фио_работника_род}}. Убрать после правки Drive.\n  обстоятельства: обст,\n  приложения: прил,\n} }];"
      },
      "id": "3050c4e0-eb59-4f4c-85f2-530f57b2805e",
      "name": "Объединить значения",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT file_id, file_b64 FROM hr_evidence WHERE chat_id = $1::text AND file_b64 IS NOT NULL ORDER BY created_at",
        "options": {
          "queryReplacement": "={{ $('Нормализовать данные').first().json.chat_id }}"
        }
      },
      "id": "6cd71d5d-b8fb-4ec3-a8d6-963b005dcea7",
      "name": "Postgres: фото кейса",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        1376
      ],
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Объединить значения').first().json.сз_file_id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            }
          },
          "fileName": "Служебная_записка.docx"
        }
      },
      "id": "04436ca6-1a06-4ba5-8dc2-3ad4325e1544",
      "name": "Drive: скачать СЗ",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2000,
        1376
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "googleApi": {
          "id": "R25HHyTFIZLB7DA2",
          "name": "hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const AdmZip = require('adm-zip');\nconst v = $('Объединить значения').first().json;\nconst SKIP = new Set(['chat_id']);\nconst inBin = $input.item.binary && $input.item.binary.data;\nconst fileName = (inBin && inBin.fileName) || 'Служебная записка.docx';\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst zip = new AdmZip(buffer);\nlet xml = zip.readAsText('word/document.xml');\n\n// текстовые плейсхолдеры (кроме скриншотов — их обрабатываем отдельно)\nfor (const [key, val] of Object.entries(v)) {\n  if (SKIP.has(key) || key.endsWith('_file_id') || key === 'скриншоты') continue;\n  xml = xml.split('{{' + key + '}}').join(String(val ?? ''));\n}\n\n// --- собрать фото кейса (по порядку evidenceFiles от агента) ---\nlet photos = [];\ntry {\n  const rows = $('Postgres: фото кейса').all().map(i => i.json);\n  const ctx = ($('Нормализовать данные').first().json.context) || {};\n  const order = Array.isArray(ctx.evidenceFiles) ? ctx.evidenceFiles : [];\n  const byId = {};\n  for (const r of rows) if (r.file_b64) byId[r.file_id] = r.file_b64;\n  photos = order.length ? order.filter(id => byId[id]).map(id => byId[id])\n                        : rows.filter(r => r.file_b64).map(r => r.file_b64);\n} catch (e) { photos = []; }\n\n// --- размеры изображения ---\nfunction jpegSize(b){ let i=2; while(i<b.length-1){ if(b[i]!==0xFF){i++;continue;} const m=b[i+1];\n  if(m>=0xC0&&m<=0xCF&&m!==0xC4&&m!==0xC8&&m!==0xCC) return {h:b.readUInt16BE(i+5),w:b.readUInt16BE(i+7)};\n  if(m===0xD8||m===0xD9||(m>=0xD0&&m<=0xD7)){i+=2;continue;} i+=2+b.readUInt16BE(i+2);} return null; }\nfunction imgSize(b){ if(b[0]===0xFF&&b[1]===0xD8) return jpegSize(b);\n  if(b[0]===0x89&&b[1]===0x50) return {w:b.readUInt32BE(16),h:b.readUInt32BE(20)}; return null; }\n\nif (photos.length) {\n  let rels = zip.readAsText('word/_rels/document.xml.rels');\n  let ct = zip.readAsText('[Content_Types].xml');\n  const MAXW = 5486400; // ~6\"\n  let blocks = '';\n  photos.forEach((b64, idx) => {\n    const n = idx + 1;\n    const buf = Buffer.from(b64, 'base64');\n    const isPng = buf[0] === 0x89 && buf[1] === 0x50;\n    const ext = isPng ? 'png' : 'jpeg';\n    const ctype = isPng ? 'image/png' : 'image/jpeg';\n    const rid = 'rIdEv' + n, fn = 'evidence' + n + '.' + ext, did = 1000 + n;\n    zip.addFile('word/media/' + fn, buf);\n    rels = rels.replace('</Relationships>',\n      '<Relationship Id=\"' + rid + '\" Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/image\" Target=\"media/' + fn + '\"/></Relationships>');\n    if (ct.indexOf('Extension=\"' + ext + '\"') === -1)\n      ct = ct.replace('</Types>', '<Default Extension=\"' + ext + '\" ContentType=\"' + ctype + '\"/></Types>');\n    const sz = imgSize(buf) || { w: 800, h: 600 };\n    let ew = sz.w * 9525, eh = sz.h * 9525;\n    if (ew > MAXW) { eh = Math.round(eh * MAXW / ew); ew = MAXW; }\n    blocks +=\n      '<w:p><w:r><w:rPr><w:b w:val=\"0\"/></w:rPr><w:t>Скриншот ' + n + '</w:t></w:r></w:p>' +\n      '<w:p><w:r><w:drawing><wp:inline distT=\"0\" distB=\"0\" distL=\"0\" distR=\"0\">' +\n      '<wp:extent cx=\"' + ew + '\" cy=\"' + eh + '\"/><wp:effectExtent l=\"0\" t=\"0\" r=\"0\" b=\"0\"/>' +\n      '<wp:docPr id=\"' + did + '\" name=\"Screenshot' + n + '\"/>' +\n      '<a:graphic xmlns:a=\"http://schemas.openxmlformats.org/drawingml/2006/main\">' +\n      '<a:graphicData uri=\"http://schemas.openxmlformats.org/drawingml/2006/picture\">' +\n      '<pic:pic xmlns:pic=\"http://schemas.openxmlformats.org/drawingml/2006/picture\">' +\n      '<pic:nvPicPr><pic:cNvPr id=\"' + did + '\" name=\"Screenshot' + n + '\"/><pic:cNvPicPr/></pic:nvPicPr>' +\n      '<pic:blipFill><a:blip r:embed=\"' + rid + '\"/><a:stretch><a:fillRect/></a:stretch></pic:blipFill>' +\n      '<pic:spPr><a:xfrm><a:off x=\"0\" y=\"0\"/><a:ext cx=\"' + ew + '\" cy=\"' + eh + '\"/></a:xfrm>' +\n      '<a:prstGeom prst=\"rect\"><a:avLst/></a:prstGeom></pic:spPr>' +\n      '</pic:pic></a:graphicData></a:graphic></wp:inline></w:drawing></w:r></w:p>';\n  });\n  xml = xml.split('{{скриншоты}}').join(blocks);\n  zip.updateFile('word/_rels/document.xml.rels', Buffer.from(rels, 'utf8'));\n  zip.updateFile('[Content_Types].xml', Buffer.from(ct, 'utf8'));\n} else {\n  xml = xml.split('{{скриншоты}}').join('');\n}\n\nzip.updateFile('word/document.xml', Buffer.from(xml, 'utf8'));\nconst out = zip.toBuffer();\nconst binary = await this.helpers.prepareBinaryData(out, fileName, 'application/vnd.openxmlformats-officedocument.wordprocessingml.document');\nreturn [{ json: { rendered: fileName, screenshots: photos.length }, binary: { data: binary } }];\n"
      },
      "id": "41693c4f-b7e5-4b6d-a85b-36fc30b28261",
      "name": "Рендер СЗ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        1376
      ]
    },
    {
      "parameters": {
        "content": "### Добавить credentionals к Postgres\n\n`database`: n8n\n`username`: hr_disciplinary_assistant_user\n`password` отправят в личку\n`host`: devof-pt-vxsa1.dev.kontur.ru\n`port`: 5432\n\nВ SQL ноде выбирай схему `hr_disciplinary_assistant`",
        "height": 208,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2160,
        1840
      ],
      "typeVersion": 1,
      "id": "063dff5c-7eb7-4875-ba11-5d085c123df5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Также отправляем, изменяем ноду, заменяем telegram на матр-мост, чтобы отправлять тем же способом, как мы отправляем наши хвосты сюда же. Выше прикрепил этот набор нод."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        1152
      ],
      "id": "1dcd5b54-22ad-4e17-88d8-4875377636c7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $('Нормализовать данные').first().json.chat_id }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        1336
      ],
      "id": "MM:_загрузить_акт_id",
      "name": "MM: загрузить акт",
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel_id: $('Нормализовать данные').first().json.chat_id, message: '📄 Акт об отсутствии', file_ids: [$json.file_infos[0].id] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1640,
        1336
      ],
      "id": "MM:_пост_акт_id",
      "name": "MM: пост акт",
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $('Нормализовать данные').first().json.chat_id }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2352,
        1336
      ],
      "id": "MM:_загрузить_СЗ_id",
      "name": "MM: загрузить СЗ",
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.skbkontur.ru/api/v4/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel_id: $('Нормализовать данные').first().json.chat_id, message: '📝 Служебная записка', file_ids: [$json.file_infos[0].id] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2552,
        1336
      ],
      "id": "MM:_пост_СЗ_id",
      "name": "MM: пост СЗ",
      "credentials": {
        "httpBearerAuth": {
          "id": "xtnxUI9OKeXEHJCS",
          "name": "Контур. Mattermost"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Вызов из агента": {
      "main": [
        [
          {
            "node": "Нормализовать данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Значения документов": {
      "main": [
        [
          {
            "node": "Объединить значения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Статус: готовлю документы": {
      "main": [
        [
          {
            "node": "Нужен акт?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: скачать акт": {
      "main": [
        [
          {
            "node": "Рендер акта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Рендер акта": {
      "main": [
        [
          {
            "node": "MM: загрузить акт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужна СЗ?": {
      "main": [
        [
          {
            "node": "Postgres: фото кейса",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Финальный ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выбор сценария1": {
      "main": [
        [
          {
            "node": "Drive: скачать чеклист",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сценарий: заглушка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Прочитать данные прогула": {
      "main": [
        [
          {
            "node": "Vision: анализ доказательств (заглушка)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нормализовать данные": {
      "main": [
        [
          {
            "node": "Выбор сценария1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: скачать чеклист": {
      "main": [
        [
          {
            "node": "Прочитать данные прогула",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сценарий: заглушка": {
      "main": [
        [
          {
            "node": "Vision: анализ доказательств (заглушка)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision: анализ доказательств (заглушка)": {
      "main": [
        [
          {
            "node": "Значения документов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama: нарушения": {
      "main": [
        [
          {
            "node": "Объединить нарушения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Финальный ответ": {
      "main": [
        [
          {
            "node": "Postgres: запись кейса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: запись кейса": {
      "main": [
        [
          {
            "node": "Вернуть результат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сборка промпта (нарушение)": {
      "main": [
        [
          {
            "node": "Статус: анализ нарушения1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ollama: нарушения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужен акт?": {
      "main": [
        [
          {
            "node": "Drive: скачать акт",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Нужна СЗ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединить значения": {
      "main": [
        [
          {
            "node": "Статус: готовлю документы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: фото кейса": {
      "main": [
        [
          {
            "node": "Drive: скачать СЗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: скачать СЗ": {
      "main": [
        [
          {
            "node": "Рендер СЗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Рендер СЗ": {
      "main": [
        [
          {
            "node": "MM: загрузить СЗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM: загрузить акт": {
      "main": [
        [
          {
            "node": "MM: пост акт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM: пост акт": {
      "main": [
        [
          {
            "node": "Нужна СЗ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM: загрузить СЗ": {
      "main": [
        [
          {
            "node": "MM: пост СЗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM: пост СЗ": {
      "main": [
        [
          {
            "node": "Финальный ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e10cca53-ae07-4f10-8d08-12c3709a48a1",
  "meta": {
    "instanceId": "b3d36343f45620c725ef3c6f9f9a245602756137b7380d1eea459f0cd49f51da"
  },
  "id": "Fyxo9TfWY1kkuKYY",
  "tags": []
}