n8n/workflows/Идентификация пользователя.json
{
  "name": "Идентификация пользователя",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "f3cbcb34-e73b-46e1-9a30-35fe5bd14bef",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -736,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://passport.skbkontur.ru/connect/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {}
      },
      "id": "5f6a9615-9476-466b-a300-9b7e5a64b07e",
      "name": "Получение токена",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -528,
        224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "lUcrRKoNK0DLfjYr",
          "name": "Контур. Паспорт"
        }
      }
    },
    {
      "parameters": {
        "content": "### Получаем токен в Паспорте\nВ ответе будет:\n- access_token - токен безопасности\n- token_type - тип токена\n- expires_in - время жизни токена, в секундах\n- scope",
        "height": 192,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        432
      ],
      "id": "70a9a368-bef6-4da9-a4a3-25f84fc89a69",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Приложение\nВ Контур Паспорт **SherpaRPAapp** создано приложение и от него получены креды:\n- ClientId\n- ClientSecret\n\nhttps://passport.skbkontur.ru/apps/manage/SherpaHROrdersAPP\n\n### Авторизация в паспорте\n\nНужно в заголовке передать ключ `Authorization` со значением `Basic value`, где `value` формируется кодированием в base64 строки из clientId и clientSecret, разделенных двоеточием - base64(clientId:clientSecret).\n\nНа маке это команда в терминале:\n`echo -n \"твоя строка\" | base64`",
        "height": 368,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        -224
      ],
      "id": "fe29876a-18bf-4cee-964a-e319eaeb2d0d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "url": "https://staff.skbkontur.ru/api/Users",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "view",
              "value": "large"
            },
            {
              "name": "$top",
              "value": "2000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Получение токена').first().json.access_token }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "$skip",
                    "value": "={{ $pageCount * 2000 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.length < 2000 }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        336
      ],
      "id": "a6f037cf-4dda-46e2-9e4d-c26a2203bad3",
      "name": "Обращение в Стафф. Получение данных по всем"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-found-person",
              "leftValue": "={{ $json.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        224
      ],
      "id": "9f7980ba-153b-4cd2-82aa-a4a6425667cf",
      "name": "Найден в кэше?"
    },
    {
      "parameters": {
        "jsCode": "// Сводим всех не найденных в кэше в ОДИН item —\n// чтобы выкачка Стаффа и upsert выполнились один раз, а не по разу на человека.\nconst missing = $input.all()\n  .map(i => i.json || {})\n  .filter(p => p && p.query)\n  .map(p => ({ role: p.role, query: p.query }));\n\nif (!missing.length) return [];\nreturn [{ json: { missing } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        336
      ],
      "id": "e817d4fd-f9bc-474f-b1ae-7fd19a031c85",
      "name": "Собрать отсутствующих"
    },
    {
      "parameters": {
        "jsCode": "// Из свежего полного списка Стаффа отбираем тех, кого не было в кэше.\n// ВЫХОД: item на найденного: { role, query, staff_id, source: 'staff' } — вид для «Подготовки запросов профилей».\n// Кого нет и в Стаффе — отбрасываем (финальная сборка пометит их not_found).\nconst all = $('Обращение в Стафф. Получение данных по всем').all().map(i => i.json || {});\nconst wanted = ($('Собрать отсутствующих').first().json || {}).missing || [];\n\nconst norm = s => String(s == null ? '' : s).trim();\nconst low = s => norm(s).toLowerCase();\n\nfunction findInList(query) {\n  const q = low(query);\n  const qLocal = q.includes('@') ? q.split('@')[0] : q.replace(/^kontur\\\\/, '');\n  return all.find(r => {\n    const e = low(r.email);\n    const l = low(r.login);\n    const lLocal = l.replace(/^kontur\\\\/, '');\n    return (!!e && (e === q || e.split('@')[0] === qLocal)) ||\n           (!!l && (l === q || lLocal === q || lLocal === qLocal)) ||\n           (/^\\d+$/.test(q) && String(r.id) === q);\n  }) || null;\n}\n\nreturn wanted\n  .map(t => {\n    const u = findInList(t.query);\n    return u ? { json: { role: t.role, query: t.query, staff_id: u.id, source: 'staff' } } : null;\n  })\n  .filter(Boolean);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        336
      ],
      "id": "a953d8ad-a66c-4f53-a724-8b1b8add274b",
      "name": "Отобрать нужных"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH up AS (\n  INSERT INTO hr_disciplinary_assistant.staff_users AS su\n    (staff_id, sid, login, email, firstname, surname, patronymic, post, town,\n     office_id, office_title, inner_phone, mobile_phone, status_id, status, birthday, photo_path, updated_at)\n  SELECT r.id, r.sid, r.login, r.email, r.firstname, r.surname, r.patronymic, r.post, r.\"officeTown\",\n         r.\"officeId\", r.\"officeTitle\", r.\"innerPhone\", r.\"mobilePhone\", r.\"statusId\", r.status, r.birthday, r.\"photoPath\", now()\n  FROM jsonb_to_recordset($1::jsonb) AS r(\n    id BIGINT, sid TEXT, login TEXT, email TEXT, firstname TEXT, surname TEXT, patronymic TEXT,\n    post TEXT, \"officeTown\" TEXT, \"officeId\" BIGINT, \"officeTitle\" TEXT,\n    \"innerPhone\" TEXT, \"mobilePhone\" TEXT, \"statusId\" INT, status TEXT, birthday TEXT, \"photoPath\" TEXT)\n  ON CONFLICT (staff_id) DO UPDATE SET\n    sid = EXCLUDED.sid, login = EXCLUDED.login, email = EXCLUDED.email,\n    firstname = EXCLUDED.firstname, surname = EXCLUDED.surname, patronymic = EXCLUDED.patronymic,\n    post = EXCLUDED.post, town = EXCLUDED.town,\n    office_id = EXCLUDED.office_id, office_title = EXCLUDED.office_title,\n    inner_phone = EXCLUDED.inner_phone, mobile_phone = EXCLUDED.mobile_phone,\n    status_id = EXCLUDED.status_id, status = EXCLUDED.status,\n    birthday = EXCLUDED.birthday, photo_path = EXCLUDED.photo_path,\n    updated_at = now()\n  RETURNING 1\n)\nSELECT count(*)::int AS upserted FROM up;",
        "options": {
          "queryReplacement": "={{ [$json.users_json] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        944,
        336
      ],
      "id": "bf2fea5b-1e2f-40ff-a350-05bd4b38169d",
      "name": "Сохранить в кэш",
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT staff_id, sid, login, email, firstname, surname, patronymic, post, town,\n       office_id AS \"officeId\", office_title AS \"officeTitle\",\n       inner_phone AS \"innerPhone\", mobile_phone AS \"mobilePhone\",\n       status_id AS \"statusId\", status, birthday, photo_path AS \"photoPath\"\nFROM hr_disciplinary_assistant.staff_users;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        224
      ],
      "id": "028c2fa6-01a8-44ab-9f35-d9c1fa598b6c",
      "name": "Ранее сохраненные пользователи",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "31G0c3e8sLXWZIif",
          "name": "n8n_hr_disciplinary_assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Упаковываем ВЕСЬ список Стаффа в один item для батч-upsert'а в Postgres.\n// Дедуп по id. Если ни у одного item нет id — возвращаем диагностику вместо тишины.\nconst items = $input.all().map(i => i.json || {});\n\nconst pickId = u => u.id ?? u.userId ?? u.staffId ?? u.staff_id ?? null;\n\nconst seen = new Set();\nconst users = [];\nfor (const u of items) {\n  const id = pickId(u);\n  if (id == null || seen.has(id)) continue;\n  seen.add(id);\n  users.push({\n    id,\n    sid: u.sid ?? null, login: u.login ?? null, email: u.email ?? null,\n    firstname: u.firstname ?? null, surname: u.surname ?? null, patronymic: u.patronymic ?? null,\n    post: u.post ?? null,\n    officeTown: (u.officeItem && u.officeItem.town) ?? null,\n    officeId: (u.officeItem && u.officeItem.id) ?? null,\n    officeTitle: (u.officeItem && u.officeItem.title) ?? null,\n    innerPhone: u.innerPhone ?? null, mobilePhone: u.mobilePhone ?? null,\n    statusId: u.statusId ?? null, status: u.status ?? null,\n    birthday: u.birthday ?? null, photoPath: u.photoPath ?? null\n  });\n}\n\n// диагностика: пришло много item'ов, но ни одного id — показываем структуру первого\nif (!users.length) {\n  const first = items[0] || {};\n  return [{ json: {\n    error: 'no_id_field',\n    items_total: items.length,\n    first_item_keys: Object.keys(first),\n    hint: 'Проверь view у «Обращение в Стафф» (нужен light) или где реально лежит id'\n  } }];\n}\n\nreturn [{ json: { users_json: JSON.stringify(users), count: users.length } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        336
      ],
      "id": "fe1bb1dc-5a3f-4d43-8c6e-8512c1fed554",
      "name": "Стафф: пакет для SQL"
    },
    {
      "parameters": {
        "jsCode": "// Поиск участников по кэшу (Postgres staff_users) — ПО ОДНОМУ ITEM НА ЧЕЛОВЕКА.\n// ВХОД (из триггера, passthrough): subject, manager, witness1..witness3 (любое подмножество).\n// ВЫХОД: item на каждого заполненного участника:\n//   найден:    { role, query, found: true, staff_id, fio, post, city, office, email, login, source: 'cache' }\n//   не найден: { role, query, found: false, debug: {...} } — debug показывает, что реально пришло из кэша.\nconst src = $('When Executed by Another Workflow').first().json || {};\nconst rows = $input.all().map(i => i.json || {});\nconst cache = rows.filter(r => r && (r.email || r.login || r.staff_id));\n\nconst norm = s => String(s == null ? '' : s).trim();\nconst low = s => norm(s).toLowerCase();\nconst fio = u => [u.surname, u.firstname, u.patronymic].filter(Boolean).join(' ');\n\nconst ROLES = ['subject', 'manager', 'witness1', 'witness2', 'witness3'];\nconst targets = ROLES.map(role => ({ role, query: norm(src[role]) })).filter(t => t.query);\n\nfunction findInCache(query) {\n  const q = low(query);\n  const qLocal = q.includes('@') ? q.split('@')[0] : q.replace(/^kontur\\\\/, '');\n  return cache.find(r => {\n    const e = low(r.email);\n    const l = low(r.login);\n    const lLocal = l.replace(/^kontur\\\\/, '');\n    return (!!e && (e === q || e.split('@')[0] === qLocal)) ||\n           (!!l && (l === q || lLocal === q || lLocal === qLocal)) ||\n           (/^\\d+$/.test(q) && String(r.staff_id) === q);\n  }) || null;\n}\n\n// диагностика состояния кэша — цепляется к каждому ненайденному\nconst debug = {\n  cache_total: rows.length,\n  cache_usable: cache.length,\n  with_email: cache.filter(r => norm(r.email)).length,\n  with_login: cache.filter(r => norm(r.login)).length,\n  email_samples: cache.map(r => r.email).filter(Boolean).slice(0, 3),\n  first_row_keys: Object.keys(rows[0] || {})\n};\n\nreturn targets.map(t => {\n  const u = findInCache(t.query);\n  return { json: u\n    ? { role: t.role, query: t.query, found: true,\n        staff_id: u.staff_id, fio: fio(u), post: u.post || null,\n        city: u.town || null, office: u.officeTitle || null,\n        email: u.email || null, login: u.login || null, source: 'cache' }\n    : { role: t.role, query: t.query, found: false, debug }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        224
      ],
      "id": "f8b975df-352f-4162-ac36-0e8eba09118e",
      "name": "Поиск нужных по массиву"
    },
    {
      "parameters": {
        "jsCode": "// Собираем расширенные профили: один плоский человек на item —\n// та же форма, что после кэша, + department/organization/status из departmentItems.\n// Контекст (role/query/source) берём из «Слить ветки», матчим по staff_id.\nconst ctxItems = $('Поиск данных по конкретным пользователям').all().map(i => i.json || {});\nconst resp = $input.all().map(i => i.json || {});\n\nconst fio = p => [p.surname, p.firstname, p.patronymic].filter(Boolean).join(' ');\nconst byId = new Map(ctxItems.map(p => [String(p.staff_id), p]));\n\nreturn resp.map((p, i) => {\n  const ctx = (p && p.id != null && byId.get(String(p.id))) || ctxItems[i] || {};\n  // ответ с ошибкой (onError: continueRegularOutput) или без id — отдаём как ненайденного\n  if (!p || p.id == null) {\n    const msg = (p && ((p.error && p.error.message) || p.message)) || 'нет ответа профиля';\n    return { json: { role: ctx.role || null, query: ctx.query || null, staff_id: ctx.staff_id || null,\n                     found: false, error: 'staff_error: ' + msg } };\n  }\n  const dep = (p.departmentItems && p.departmentItems[0]) || {};\n  return { json: {\n    role: ctx.role || null, query: ctx.query || null, found: true,\n    staff_id: p.id, fio: fio(p),\n    surname: p.surname || null, firstname: p.firstname || null, patronymic: p.patronymic || null,\n    post: p.post || null,\n    department: dep.title || null,\n    organization: dep.organizationName || null,\n    city: (p.officeItem && p.officeItem.town) || null,\n    office: (p.officeItem && p.officeItem.title) || null,\n    email: p.email || null, login: p.login || null, status: p.status || null,\n    source: ctx.source || null\n  } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        208
      ],
      "id": "444af60b-c2fc-40f4-9351-a3c9c030a566",
      "name": "Профили: собрать ответ"
    },
    {
      "parameters": {
        "url": "=https://staff.skbkontur.ru/api/Users/{{ $json.staff_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Получение токена').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1328,
        208
      ],
      "id": "96c9a0db-1020-423b-ad62-4c7c08c9473f",
      "name": "Поиск данных по конкретным пользователям",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "### Шаг 2. Идентификация сотрудника (ДО сбора остальных данных)\nПрежде чем собирать факты — точно определи, о ком речь.\n1. Попроси у руководителя **email или логин в Стаффе** сотрудника-нарушителя (например ivanov@skbkontur.ru или ivanov). Объясни: «Чтобы не перепутать сотрудника (бывают однофамильцы), пришлите его рабочую почту или логин в Стаффе».\n2. Вызови инструмент `Идентификация пользователя`, передав `subject` = почта/логин нарушителя, а в `witnesses` — ФИО свидетелей через «;» (когда они уже названы; на этом шаге можно оставить пустым). Руководитель (автор) определяется автоматически.\n3. Инструмент вернёт данные из Стаффа: по нарушителю — точное совпадение (`subject.match`) или список кандидатов (`subject.candidates`); по свидетелям — кандидаты.\n   - Если пришёл `match` — покажи руководителю ФИО, должность, подразделение, город/офис и спроси: «Это он? Подтвердите».\n   - Если пришёл список `candidates` — перечисли варианты и попроси выбрать нужного.\n   - Если ничего не найдено — попроси уточнить почту/логин.\n4. Данные подтверждённого сотрудника (ФИО, должность, подразделение, город) используй дальше — не переспрашивай их заново.",
        "height": 384,
        "width": 864,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1664,
        192
      ],
      "id": "25c45613-f405-46a7-abf8-1eefb1e49dca",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": {
            "subject": "port@skbkontur.ru",
            "manager": "o.kluev@skbkontur.ru",
            "witness1": "",
            "witness2": "",
            "witness3": ""
          },
          "subject": "port@skbkontur.ru",
          "manager": "o.kluev@skbkontur.ru",
          "witness1": "",
          "witness2": "",
          "witness3": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Получение токена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение токена": {
      "main": [
        [
          {
            "node": "Ранее сохраненные пользователи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обращение в Стафф. Получение данных по всем": {
      "main": [
        [
          {
            "node": "Стафф: пакет для SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Найден в кэше?": {
      "main": [
        [
          {
            "node": "Поиск данных по конкретным пользователям",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Собрать отсутствующих",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Собрать отсутствующих": {
      "main": [
        [
          {
            "node": "Обращение в Стафф. Получение данных по всем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отобрать нужных": {
      "main": [
        [
          {
            "node": "Поиск данных по конкретным пользователям",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ранее сохраненные пользователи": {
      "main": [
        [
          {
            "node": "Поиск нужных по массиву",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Стафф: пакет для SQL": {
      "main": [
        [
          {
            "node": "Сохранить в кэш",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск нужных по массиву": {
      "main": [
        [
          {
            "node": "Найден в кэше?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск данных по конкретным пользователям": {
      "main": [
        [
          {
            "node": "Профили: собрать ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить в кэш": {
      "main": [
        [
          {
            "node": "Отобрать нужных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "506c5a9d-1051-4de1-ae15-6b64f73304c9",
  "meta": {
    "instanceId": "b3d36343f45620c725ef3c6f9f9a245602756137b7380d1eea459f0cd49f51da"
  },
  "id": "hiqVFsh1xvLn3460",
  "tags": []
}
