archive/n8n/workflows/archive/lib_llm_call_v1.json
{
  "name": "LIB: вызов LLM с RAG-контекстом",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "sticky-llm",
      "name": "📌 Что делает этот sub-workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -200
      ],
      "parameters": {
        "content": "## LIB: вызов LLM с RAG-контекстом\n\n**Вход:** `{ messages, rag_topic, sessionId }`\n- `messages` — массив {role, content} для Ollama\n- `rag_topic` — тема для RAG (см. ARCHITECTURE.md)\n- `sessionId` — для логирования\n\n**Что делает:**\n1. Вызывает LIB: RAG для получения контекста НПА\n2. Если контекст не пустой — вставляет в system message\n3. Отправляет запрос в Ollama\n\n**Выход:** `{ response }` — текст ответа LLM\n\n**Как заменить RAG:** открыть LIB: RAG — контекст НПА и подключить Qdrant.",
        "height": 320,
        "width": 500,
        "color": 5
      }
    },
    {
      "id": "llm-trigger",
      "name": "Вызов из другого workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "llm-rag-call",
      "name": "Вызвать RAG для получения контекста НПА",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "HR-LIB-RAG-01",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "llm-inject-context",
      "name": "Встроить RAG-контекст в системный промпт",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "const ragResult = $input.first().json;\nconst trigger = $('Вызов из другого workflow').item.json;\nconst topic = trigger.rag_topic || trigger.topic || '';\nconst ragContext = ragResult.context || '';\nlet messages = [...(trigger.messages || [])];\n\nif (ragContext) {\n  // Ищем последний system message и добавляем в него контекст НПА\n  const sysIdx = messages.findLastIndex(m => m.role === 'system');\n  if (sysIdx >= 0) {\n    messages[sysIdx] = {\n      ...messages[sysIdx],\n      content: messages[sysIdx].content + '\\n\\n---\\n' + ragContext\n    };\n  } else {\n    // Если system message нет — добавляем в начало\n    messages.unshift({ role: 'system', content: ragContext });\n  }\n}\n\nreturn [{ json: { messages, topic, sessionId: trigger.sessionId } }];"
      }
    },
    {
      "id": "llm-ollama",
      "name": "Отправить запрос в Ollama (qwen2.5:7b)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/chat",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen2.5:7b', messages: $json.messages, stream: false }) }}"
      }
    },
    {
      "id": "llm-extract",
      "name": "Извлечь текст ответа LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst responseText = response?.message?.content || '';\nreturn [{ json: { response: responseText } }];"
      }
    }
  ],
  "connections": {
    "Вызов из другого workflow": {
      "main": [
        [
          {
            "node": "Вызвать RAG для получения контекста НПА",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вызвать RAG для получения контекста НПА": {
      "main": [
        [
          {
            "node": "Встроить RAG-контекст в системный промпт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Встроить RAG-контекст в системный промпт": {
      "main": [
        [
          {
            "node": "Отправить запрос в Ollama (qwen2.5:7b)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить запрос в Ollama (qwen2.5:7b)": {
      "main": [
        [
          {
            "node": "Извлечь текст ответа LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "HR-LIB-LLM-01"
}